
<!-- Modal -->
<div class="modal fade" id="garantiaR" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
 <div class="modal-dialog modal-dialog-scrollable modal-xl">
   <div class="modal-content">
     <div class="modal-header" style="background-color: red">
       <h5 class="modal-title" id="staticBackdropLabel" style="color: white">
         Solicitud de Credito- Reestructuras
       </h5>
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     </div>s
     <div class="modal-body">
       <div class="row" style="background-color: #e3e7ec">
         <div class="col-sm-3">
           <label for="">Crear Folio:</label>&nbsp;
           <button class="btn btn-outline-dark" (click)="mostrarContenido()">Crear Folio</button>
         </div>
         <div class="col-sm-4">
           <label for=""><b style="text-decoration:underline; "><u>Folio: 20220523-153</u></b></label>&nbsp;&nbsp;&nbsp;&nbsp;
         </div>
         <div class="col-sm-2">
           <a href="">Subir Documento</a>
         </div>
         <div class="col-sm-3">
           <label for="">Fecha Solicitud:</label>&nbsp;
           <label for="" style="color: red"><u>23/05/22</u></label>
         </div>
       </div>

       <br />
       <app-steper></app-steper>
       <br />

       <div class="accordion" id="accordionExample">
         <div class="accordion-item">
           <h2 class="accordion-header" id="headingOne">
             <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
               aria-expanded="true" aria-controls="collapseOne">
               <label for="" style="color: blue"><b>Datos del cliente</b></label>
             </button>
           </h2>
           <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
             <div class="accordion-body" style="background-color: #ffffcc">
               <div class="row">
                 <div class="col-sm-3">
                   <label for="">BUC:</label>
                 </div>
                 <div class="col-sm-3">
                   <input type="text" />
                 </div>
                 <div class="col-sm-3">
                   <label for="">Nombre o Razon Social del acreditado:</label>
                 </div>
                 <div class="col-sm-3">
                   <input type="text" />
                 </div>
               </div>
               <div class="row">
                 <div class="col-sm-3">
                   <label for="">Registro Federal de Contribuyentes RFC:</label>
                 </div>
                 <div class="col-sm-3">
                   <input type="text" disabled />
                 </div>
                 <div class="col-sm-3">
                   <label for="">Entidad Federativa del acreditado:</label>
                 </div>
                 <div class="col-sm-3">
                   <div class="dropdown">
                     <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                       data-bs-toggle="dropdown" aria-expanded="false" style="width: 78%">
                       Seleccionar
                     </button>
                     <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                       <li><a class="dropdown-item" href="#">Action</a></li>
                       <li>
                         <a class="dropdown-item" href="#">Another action</a>
                       </li>
                       <li>
                         <a class="dropdown-item" href="#">Something else here</a>
                       </li>
                     </ul>
                   </div>
                 </div>
               </div>
               <div class="row">
                 <div class="col-sm-3">
                   <label for="">Municipio o Delegacion:</label>
                 </div>
                 <div class="col-sm-3">
                   <div class="dropdown">
                     <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                       data-bs-toggle="dropdown" aria-expanded="false" style="width: 78%">
                       Seleccionar
                     </button>
                     <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                       <li><a class="dropdown-item" href="#">Action</a></li>
                       <li>
                         <a class="dropdown-item" href="#">Another action</a>
                       </li>
                       <li>
                         <a class="dropdown-item" href="#">Something else here</a>
                       </li>
                     </ul>
                   </div>
                 </div>
                 <div class="col-sm-3">
                   <label for="">Ciudad:</label>
                 </div>
                 <div class="col-sm-3">
                   <input type="text" />
                 </div>
               </div>
               <br />
               <div class="row">
                 <div class="col-sm-3">
                   <label for="">Colonia del acreditado:</label>
                 </div>
                 <div class="col-sm-3">
                   <input type="text" />
                 </div>
                 <div class="col-sm-3">
                   <label for="">Calle y Numero del acreditado:</label>
                 </div>
                 <div class="col-sm-3">
                   <input type="text" />
                 </div>
               </div>
               <br />
               <div class="row">
                 <div class="col-sm-3">
                   <label for="">Codigo Postal:</label>
                 </div>
                 <div class="col-sm-3">
                   <input type="text" />
                 </div>
                 <div class="col-sm-3">
                   <label for="">Segmento:</label>
                 </div>
                 <div class="col-sm-3">
                   <input type="text" disabled />
                 </div>
               </div>
               <br />
               <div class="row">
                 <div class="col-sm-3">
                   <label for="">Sexo:</label>
                 </div>
                 <div class="col-sm-3">
                   <input type="text" />
                 </div>
               </div>
             </div>
           </div>
           <div class="accordion-item">
             <h2 class="accordion-header" id="headingTwo">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                 data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 <label for="" style="color: blue"><b>Anexo de Informacion</b></label>
               </button>
             </h2>
             <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
               data-bs-parent="#accordionExample">
               <div class="accordion-body" style="background-color: #ffffcc">
                 <div class="row">
                   <div class="col-sm-3">
                     <label for="">Ventas Totales Anuales (en pesos):</label>
                   </div>
                   <div class="col-sm-3">
                     <input type="text" />
                   </div>
                   <div class="col-sm-3">
                     <label for="">Personal Ocupado (numero):</label>
                   </div>
                   <div class="col-sm-3">
                     <input type="text" />
                   </div>
                 </div>
                 <br />
                 <div class="row">
                   <div class="col-sm-3">
                     <label for="">Sector General:</label>
                   </div>
                   <div class="col-sm-3">
                     <div class="dropdown">
                       <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                         data-bs-toggle="dropdown" aria-expanded="false" style="width: 78%">
                         Seleccionar
                       </button>
                       <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                         <li><a class="dropdown-item" href="#">Action</a></li>
                         <li>
                           <a class="dropdown-item" href="#">Another action</a>
                         </li>
                         <li>
                           <a class="dropdown-item" href="#">Something else here</a>
                         </li>
                       </ul>
                     </div>
                   </div>
                   <div class="col-sm-3">
                     <label for="">Tope Maximo Combinado (TMC):</label>
                   </div>
                   <div class="col-sm-3">
                     <input type="text" disabled />
                   </div>
                 </div>
                 <br />
                 <div class="row">
                   <div class="col-sm-3">
                     <label for="">Segmento Bancomex (de acuerdo al tope maximo convinado
                       = TMC):</label>
                   </div>
                   <div class="col-sm-3">
                     <input type="text" />
                   </div>
                   <div class="col-sm-3">
                     <label for="">Antiguedad del acreditado como cliente del
                       intermediario (en meses):</label>
                   </div>
                   <div class="col-sm-3">
                     <input type="text" />
                   </div>
                 </div>
                 <br />
                 <div class="row">
                   <div class="col-sm-3">
                     <label for="">Proposito del Proyecto:</label>
                   </div>
                   <div class="col-sm-3">
                     <div class="dropdown">
                       <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                         data-bs-toggle="dropdown" aria-expanded="false" style="width: 78%">
                         Seleccionar
                       </button>
                       <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                         <li><a class="dropdown-item" href="#">Action</a></li>
                         <li>
                           <a class="dropdown-item" href="#">Another action</a>
                         </li>
                         <li>
                           <a class="dropdown-item" href="#">Something else here</a>
                         </li>
                       </ul>
                     </div>
                   </div>
                   <div class="col-sm-3">
                     <label for="">Porcentaje de Origen Nacional:</label>
                   </div>
                   <div class="col-sm-3">
                     <input type="text" />
                   </div>
                 </div>
                 <br />
                 <div class="row">
                   <div class="col-sm-3">
                     <label for="">Porcentaje de la produccion destinada al Mercado
                       Interno:</label>
                   </div>
                   <div class="col-sm-3">
                     <input type="text" />
                   </div>
                   <div class="col-sm-3">
                     <label for="">Porcentaje de Origen Importacion:</label>
                   </div>
                   <div class="col-sm-3">
                     <input type="text" disabled />
                   </div>
                 </div>
                 <br />
                 <div class="row">
                   <div class="col-sm-3">
                     <label for="">Porcentaje de la produccion destinada al Mercado
                       Externo:</label>
                   </div>
                   <div class="col-sm-3">
                     <input type="text" disabled />
                   </div>
                   <div class="col-sm-3">
                     <label for="">Persona Fisica o Moral:</label>
                   </div>
                   <div class="col-sm-3">
                     <div class="dropdown">
                       <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                         data-bs-toggle="dropdown" aria-expanded="false" style="width: 78%">
                         Seleccionar
                       </button>
                       <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                         <li><a class="dropdown-item" href="#">Action</a></li>
                         <li>
                           <a class="dropdown-item" href="#">Another action</a>
                         </li>
                         <li>
                           <a class="dropdown-item" href="#">Something else here</a>
                         </li>
                       </ul>
                     </div>
                   </div>
                 </div>
                 <br />
                 <div class="row">
                   <div class="col-sm-3">
                     <label for="">Sexo:</label>
                   </div>
                   <div class="col-sm-3">
                     <div class="dropdown">
                       <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                         data-bs-toggle="dropdown" aria-expanded="false" style="width: 78%">
                         Seleccionar
                       </button>
                       <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                         <li><a class="dropdown-item" href="#">Action</a></li>
                         <li>
                           <a class="dropdown-item" href="#">Another action</a>
                         </li>
                         <li>
                           <a class="dropdown-item" href="#">Something else here</a>
                         </li>
                       </ul>
                     </div>
                   </div>
                   <div class="col-sm-3">
                     <label for="">Fecha de Firma de Contrato:</label>
                   </div>
                   <div class="col-sm-3" style="height: 85%">
                     <input type="date" />
                   </div>
                 </div>
                 <br />
                 <div class="row">
                   <div class="col-sm-3">
                     <label for="">Vigencia Total en la Linea (meses):</label>
                   </div>
                   <div class="col-sm-3">
                     <input type="text" />
                   </div>
                 </div>
                 <br />
                 <div class="row">
                   <div class="col-sm-3">
                     <label for="">Sector de Actividad Economica:</label>
                   </div>
                   <div class="col-sm-9">
                     <div class="dropdown">
                       <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                         data-bs-toggle="dropdown" aria-expanded="false" style="width: 94%">
                         Seleccionar
                       </button>
                       <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                         <li><a class="dropdown-item" href="#">Action</a></li>
                         <li>
                           <a class="dropdown-item" href="#">Another action</a>
                         </li>
                         <li>
                           <a class="dropdown-item" href="#">Something else here</a>
                         </li>
                       </ul>
                     </div>
                   </div>
                 </div>
                 <br />
                 <div class="row">
                   <div class="col-sm-5">
                     <label for="">Tipo de Credito (Bancomext) (Para garantias Personales,
                       seleccionar creditos con garantia):</label>
                   </div>
                   <div class="col-sm-7">
                     <div class="dropdown">
                       <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                         data-bs-toggle="dropdown" aria-expanded="false" style="width: 92%">
                         Seleccionar
                       </button>
                       <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                         <li><a class="dropdown-item" href="#">Action</a></li>
                         <li>
                           <a class="dropdown-item" href="#">Another action</a>
                         </li>
                         <li>
                           <a class="dropdown-item" href="#">Something else here</a>
                         </li>
                       </ul>
                     </div>
                   </div>
                 </div>
                 <br />
                 <div class="row">
                   <div class="col-sm-3">
                     <label for="">Destino de los recursos (Catalogo Bancomext):</label>
                   </div>
                   <div class="col-sm-3">
                     <div class="dropdown">
                       <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                         data-bs-toggle="dropdown" aria-expanded="false" style="width: 78%">
                         Seleccionar
                       </button>
                       <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                         <li><a class="dropdown-item" href="#">Action</a></li>
                         <li>
                           <a class="dropdown-item" href="#">Another action</a>
                         </li>
                         <li>
                           <a class="dropdown-item" href="#">Something else here</a>
                         </li>
                       </ul>
                     </div>
                   </div>
                   <div class="col-sm-3">
                     <label for="">Codigo Bien:</label>
                   </div>
                   <div class="col-sm-3">
                     <div class="dropdown">
                       <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                         data-bs-toggle="dropdown" aria-expanded="false" style="width: 78%">
                         Seleccionar
                       </button>
                       <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                         <li><a class="dropdown-item" href="#">Action</a></li>
                         <li>
                           <a class="dropdown-item" href="#">Another action</a>
                         </li>
                         <li>
                           <a class="dropdown-item" href="#">Something else here</a>
                         </li>
                       </ul>
                     </div>
                   </div>
                 </div>
                 <br />
                 <div class="row">
                   <div class="col-sm-3">
                     <label for="">Tipo de Garantia:</label>
                   </div>
                   <div class="col-sm-3">
                     <div class="dropdown">
                       <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                         data-bs-toggle="dropdown" aria-expanded="false" style="width: 78%">
                         Seleccionar
                       </button>
                       <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                         <li><a class="dropdown-item" href="#">Action</a></li>
                         <li>
                           <a class="dropdown-item" href="#">Another action</a>
                         </li>
                         <li>
                           <a class="dropdown-item" href="#">Something else here</a>
                         </li>
                       </ul>
                     </div>
                   </div>
                   <div class="col-sm-3">
                     <label for="">Entidad Financiera:</label>
                   </div>
                   <div class="col-sm-3">
                     <div class="dropdown">
                       <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                         data-bs-toggle="dropdown" aria-expanded="false" style="width: 78%">
                         Seleccionar
                       </button>
                       <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                         <li><a class="dropdown-item" href="#">Action</a></li>
                         <li>
                           <a class="dropdown-item" href="#">Another action</a>
                         </li>
                         <li>
                           <a class="dropdown-item" href="#">Something else here</a>
                         </li>
                       </ul>
                     </div>
                   </div>
                 </div>
                 <br />
                 <div class="row">
                   <div class="col-sm-3">
                     <label for="">% Garantia:</label>
                   </div>
                   <div class="col-sm-3">
                     <input type="text" disabled />
                   </div>
                   <div class="col-sm-3">
                     <label for="">Moneda:</label>
                   </div>
                   <div class="col-sm-3">
                     <div class="dropdown">
                       <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                         data-bs-toggle="dropdown" aria-expanded="false" style="width: 78%">
                         Seleccionar
                       </button>
                       <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                         <li><a class="dropdown-item" href="#">Action</a></li>
                         <li>
                           <a class="dropdown-item" href="#">Another action</a>
                         </li>
                         <li>
                           <a class="dropdown-item" href="#">Something else here</a>
                         </li>
                       </ul>
                     </div>
                   </div>
                 </div>
                 <br />
                 <div class="row">
                   <div class="col-sm-3">
                     <label for="">Monto de la Linea:</label>
                   </div>
                   <div class="col-sm-3">
                     <input type="text" />
                   </div>
                   <div class="col-sm-3">
                     <label for="">Monto Garantizado:</label>
                   </div>
                   <div class="col-sm-3">
                     <input type="text" disabled />
                   </div>
                 </div>
                 <br>
                 <div class="row">
                  <div class="input-group mb-12">
                    <input type="text" [(ngModel)]="comentario" id="comentario" name="comentario" class="form-control" placeholder="Agregar Comentario" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="agregar" (click)="agregarComentairo()"><b>+</b></button>
                  </div>
                  <label for="" *ngIf="mostrarComentario">{{fechacompleta}}{{comentario}}</label>
                </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
         Close
       </button>
       <button type="button" class="btn btn-outline-secondary" >Understood</button>
     </div>
   </div>
 </div>
 </div>
