.saveCambios{
    cursor: pointer;
    background: linear-gradient(
      180deg,
      #09d8ec, #27928e
    );
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 180px;
    margin: 15px auto;
    

  }
  
  .saveCambios:hover {
    background: rgb(4, 49, 49);

  }

  .saveCambiosBuscar{
    cursor: pointer;
    background: linear-gradient(
      180deg,
      #45D62A, #3A8031
    );
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 180px;
    margin: 15px auto;
  }
  .saveCambiosBuscar:hover{
    background: rgb(4, 49, 49);
  }