<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Generar Conciliacion Mensual
  </button>
  
  <!-- Modal -->
  <div class="modal fade ocultar" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color:red;">
        <h5 class="modal-title" id="exampleModalLabel" style="color:white;">Generar Conciliacion Mensual</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><b>
            Asistente para el Incio de Conciliacion De Garantias Activas Bancomext
        </b>
        </p>
        <hr style="color:red;">
        <div class="row">
          <div class="col-sm-4">
            <p>Ingresa el periodo para iniciar el proceso de Conciliacion de Saldos(AAAA-MM):</p>
          </div>
          <div class="col-sm-4">
            <input type="text">
          </div>
          <div class="col-sm-4">
            <button class="btn btn-secondary">Iniciar Proceso</button>
          </div>
        </div>
        <hr style="color:#C7DDEF;">
        <p style="background-color:#C7DDEF;">Muestro detalles del proceso</p>
      </div>
    </div>
  </div>
</div>