<div class="container" style="display: flex; justify-content: flex-end;">

    &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
      alt="validar...">
    <p class="filtrar" href="">Filtrar Selecionados</p>
    &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
      alt="validar...">
    <p class="filtrar" href="">Exportar Selecionados</p>
    &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
      alt="validar...">
    <p class="filtrar" href=""> Exportar Datos<p>

  </div>