<div class="col-sm-12">
  <div class="container" style="display: flex; justify-content: flex-end;">

    &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
      alt="validar...">
    <p class="filtrar" href="">Filtrar Selecionados</p>
    &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
      alt="validar...">
    <p class="filtrar" href="">Exportar Selecionados</p>
    &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
      alt="validar...">
    <p class="filtrar" href=""> Exportar Datos<p>

  </div>


  <div class="col-sm-12 p-2">
    <label><b>Catalogo Bolsas</b></label>

    <div class="dataTables_info" style="overflow-x: scroll; width: 100%;">
      <table class="table table-bordered table-striped row-border hover" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th><small>id</small></th>
            <th><small>Fecha Rel</small></th>
            <th><small>Conc</small></th>
            <th><small>Credito</small></th>
            <th><small>Garantía</small></th>
            <th><small>Buc</small></th>
            <th><small>Razon_Social</small></th>
            <th><small>Moneda Gar</small></th>
            <th><small>Valor Gtia</small></th>
            <th><small>Fecha Gtia</small></th>
            <th><small>Subprod</small></th>
            <th><small>Moneda Cred</small></th>
            <th><small>Apertura_Credito</small></th>
            <th><small>Sit</small></th>
            <th><small>Concedido</small></th>
            <th><small>Insoluto</small></th>
            <th><small>Porciento Gar</small></th>
            <th><small>Etiq</small></th>
            <th><small>Acciones_Sobre_Credito</small></th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of dataCreditoGarantia">
            <td><small>{{ user.id}}</small></td>
            <td><small>{{ user.Fecha_Relacion}}</small></td>
            <td><small>{{ user.Conc}}</small></td>
            <td><small>{{ user.Credito}}</small></td>
            <td><small>{{ user.Garantia}}</small></td>
            <td><small>{{ user.Buc}}</small></td>
            <td><small>{{ user.Razon_Social}}</small></td>
            <td><small>{{ user.Moneda_Gar}}</small></td>
            <td><small>{{ user.Valor_Gatia}}</small></td>
            <td><small>{{ user.Fecha_Gtia}}</small></td>
            <td><small>{{ user.Subprod}}</small></td>
            <td><small>{{ user.Moneda_Cred}}</small></td>
            <td><small>{{ user.Apertura_Credito}}</small></td>
            <td><small>{{ user.Sit}}</small></td>
            <td><small>{{ user.Concedido}}</small></td>
            <td><small>{{ user.Insoluto}}</small></td>
            <td><small>{{ user.Porciento_Gar}}</small></td>
            <td><small>{{ user.Etiq}}</small></td>
            <td><small><img src="../../../../assets/img/eliminar.ico" alt="">
                <label for="" style="text-decoration: underline; cursor: pointer;">QUITAR</label>&nbsp;&nbsp;
                <img src="../../../../assets/img/exclamation.ico" alt=""><label for=""
                  style="text-decoration: underline; cursor: pointer;" data-bs-toggle="modal"
                  data-bs-target="#vinculacionCredito">REPORTAR</label>{{ user.Acciones_sobre_credito}}</small></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="vinculacionCredito" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: red">
        <h5 class="modal-title" id="staticBackdropLabel" style="color: white">
          Vinculacion de Credito en Garantía Comex
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for=""><b>Reporte de Credito por inconsistencia.</b>
        </label>
        <hr>
        <div>
          <div class="row">
            <div class="col-sm-4">
              <label for="">Credito a Reportar: 5000050</label>
            </div>
            <br>
            <br>
          </div>
          <label for="">Selecciona el motivo de reporte asi como un comentario adicional:</label>

          <br>
          <div class="row input-group">
            <div class="col-sm-4">
              <br>
              <label for="">Indica El Motivo:</label>
            </div>
            <div class="col-sm-4">
              <br>
              <input class="form-control" type="text">
            </div>
          </div>
          <br>
          <br>
          <div class="row input-group"> 
            <div class="col-sm-6">
              <select class="form-select" aria-label="Default select example">
                <option selected></option>
                <option value="1">Etiquetado Erroneo</option>
                <option value="2">Credito sin Etiqueta</option>
                <option value="3">Credito no Corresponde Al Cliente</option>
                <option value="4">Cliente con mas de una Linea</option>
              </select>
          <br>
          <br>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-secondary">Procesar</button>
          </div>
        </div>

      </div>
    </div>
  </div>
