<!-- Modal -->
<div class="modal fade" id="editarTipo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: red">
        <h5 class="modal-title" id="staticBackdropLabel" style="color: white">
          Modificar Datos  
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="">Recuerde que los campos de color azul y/o con el simbolo (*) son obligatorios.</label>
        <hr>
        <div >
          <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label"><b>(*) Moneda:</b></label>
            <div class="col-sm-5">
              <input type="text" value="" class="form-control" id="garantia" required maxlength="13">
            </div>
          </div>

          <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label"><b>(*) Valor:</b></label>
            <div class="col-sm-5">
              <input type="text" value="" class="form-control" id="buc" required maxlength="19">
            </div>
          </div>
          <div style="display: flex; justify-content: space-evenly;">
              <button class="btn btn-primary btn-lg">Limpiar</button>
              <button class="btn btn-success btn-lg">Guardar</button>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
