<div class="modal fade" id="modalAutorizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background: red;">
          <h5 class="modal-title" id="exampleModalLabel">Registro Bolsa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="">Esta seguro que desea confirmar el registro de la Bolsa</label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-outline-secondary">Aceptar</button>
        </div>
      </div>
    </div>
  </div>