<div class="col-sm-12">
    <div class="container" style="display: flex; justify-content: flex-end;">
  
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Filtrar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Exportar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href=""> Exportar Datos<p>
  
    </div>
  
  
    <div class="col-sm-12 p-2">
    <label><b>Folios Nafinet</b></label>
  
      <div class="dataTables_info">
        <table  class="table table-bordered table-striped row-border hover" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th><small>id</small></th>
              <th>Nombre Grupo</th>
              <th><small>Region</small></th>
              <th><small>Nombre</small></th>
              <th><small>Correo</small></th>
              <th><small>Expediente</small></th>
              <th><small>Estatus Grupo</small></th>
              <th><small>Estatus Correo</small></th>
              <th><small>Quitar Usuario</small></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dataGrupoDeCorreos">
              <td><small>{{ user.id}}</small></td>
              <td><small>{{ user.Nombre_Grupo}}</small></td>
              <td><small>{{ user.Region}}</small></td>
              <td><small>{{ user.Nombre}}</small></td>
              <td><small>{{ user.Correo}}</small></td>
              <td><small>{{ user.Expediente}}</small></td>
              <td><small>{{ user.Estatus_Grupo}}</small></td>
              <td><small>{{ user.Correo}}</small></td>
              <td><small><img (click)="eliminar(user.id)" style="display: block; margin-left: auto; margin-right: auto;  cursor: pointer;" 
                src="../../../../assets/img/eliminar.ico" data-bs-toggle="modal" data-bs-target="#eliminacionDeCorreo" >{{ user.Quitar_Usuario}}</small></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
 
    <!-- Modal -->
    <div class="modal fade" id="eliminacionDeCorreo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div style="background: red; color: white;" class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Eliminacion del Correo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <label for=""><b>Ingrese el motivo de eliminacion del correo "valor" al 
                Grupo "valor"</b></label>
              <input type="text" class="form-control">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="send()">Aceptar</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>