<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
      <label>USUARIO:</label>
    </div>
    <div class="col-sm-2">
      <label>ACCION:</label>
    </div>
    <div class="col-sm-2">
      <label>FECHA DESDE:</label>
    </div>
    <div class="col-sm-2">
      <label>FECHA HASTA:</label>
    </div>
  </div>
  <div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
      <input required  maxlength="40" type="text">
    </div>
    <div class="col-sm-2">
        <select style="width: 70%; height: 100%" >
            <option id="black"></option>
            <option id="black">ALTA DE REGISTRO USUARIO</option>
            <option id="black">ALTA DE REGISTRO</option>
            <option id="black">ELIMINACION DE REGISTRO</option>
          </select>
    </div>
    <div class="col-sm-2">
      <input required  maxlength="10" type="date">
    </div>
    <div class="col-sm-2">
      <input required  maxlength="10" type="date">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12" style="margin-left: 78%">
      <button id="efecto" class="btn btn-outline-secondary" (click)="mostrarBitacoraCorreos()">Buscar</button>
      &nbsp;&nbsp;
      <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
    </div>
  </div>
      <br>

      <app-table-consulta-bitacora-correos *ngIf="BitacoraCorreos"></app-table-consulta-bitacora-correos>