<!-- Modal -->
<div class="modal fade" id="garantiaS" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color: red">
        <h5 class="modal-title" id="staticBackdropLabel" style="color: white">
          Solicitud de Credito - Selectivas
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="height:30px ;" class="row" style="background-color: #e3e7ec">
          <div class="col-sm-4" style="display: flex; justify-content: center; align-items: center; width: 43%;">
            <label for=""><b style="text-decoration:underline;"><u>Folio: 20220523-153S</u></b></label>&nbsp;&nbsp;
            <!-- <label for=""><b style="text-decoration:underline;"><u>Folio: HPP</u></b>&nbsp;&nbsp;</label> -->
            <label>Solicitado por:</label>&nbsp;&nbsp;
            <label for=""><b>Lynda Real Celis</b></label>&nbsp;&nbsp;

          </div>
          <div class="col-sm-2" >
            <a href="">Subir Documento</a>
          </div>
          <div class="col-sm-3" style="width: 40%; display: flex; justify-content: center; align-items: center; ">
            <label for="">Fecha Solicitud:</label>&nbsp;
            <label for="" style="color: red"><u>{{fecha | date: 'M/d/yyyy'}}</u></label>&nbsp;&nbsp;
            <label (click)="MostrarAlert()" for="" style="color: red"><img style="height: 18px; width: 18px;" src="../../../../assets/img/flechita.png" alt=""><u>Vobo</u></label>&nbsp;
            <label for="" style="color: red"><img style="height: 18px; width: 18px;" src="../../../../assets/img/equis.png" alt=""><u>Rechazar</u></label>
          </div>
        </div>

        <br />
        <app-steper></app-steper>
        <br />

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <label for="" style="color: blue"><b>Datos del cliente</b></label>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body" style="background-color: #ffffcc">
                <div class="row">
                  <div class="col-sm-3">
                    <label for="">BUC:</label>
                  </div>
                  <div class="col-sm-3">
                    <div class="input-group input-group-sm mb-3">
                      <input [(ngModel)]="buc" type="text" class="form-control" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                      <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resetBuc()">X</b></button>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <label for="">Nombre o Razon Social del acreditado:</label>
                  </div>
                  <div class="col-sm-3">
                    <div class="input-group input-group-sm mb-3">
                      <input [(ngModel)]="nombreORazonSocial" type="text" class="form-control" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                      <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resertNoRSocial()">X</b></button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <label for="">Registro Federal de Contribuyentes RFC:</label>
                  </div>
                  <div class="col-sm-3">
                    <input type="text" disabled />
                  </div>
                  <div class="col-sm-3">
                    <label for="">Entidad Federativa del acreditado:</label>
                  </div>
                  <div class="col-sm-3">
                    <div class="input-group mb-3">
                      <select [(ngModel)]="entidadFed" class="form-select">
                        <option selected>Seleccionar</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                        style="color:red;" (click)="resertEntidad()">X</b></button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <label for="">Municipio o Delegacion:</label>
                  </div>
                  <div class="col-sm-3">
                    <div class="input-group mb-3">
                      <select [(ngModel)]="munODele" class="form-select">
                        <option selected>Seleccionar</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                        style="color:red;" (click)="resertMunODel()">X</b></button>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <label for="">Ciudad:</label>
                  </div>
                  <div class="col-sm-3">
                    <div class="input-group input-group-sm mb-3">
                      <input [(ngModel)]="ciudad" type="text" class="form-control" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                      <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resetCiudad()">X</b></button>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-3">
                    <label for="">Colonia del acreditado:</label>
                  </div>
                  <div class="col-sm-3">
                    <div class="input-group input-group-sm mb-3">
                      <input [(ngModel)]="colonia" type="text" class="form-control" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                      <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resetColonia()">X</b></button>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <label for="">Calle y Numero del acreditado:</label>
                  </div>
                  <div class="col-sm-3">
                    <div class="input-group input-group-sm mb-3">
                      <input [(ngModel)]="calleNumero" type="text" class="form-control" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                      <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resetcalleNumero()">X</b></button>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-3">
                    <label for="">Codigo Postal:</label>
                  </div>
                  <div class="col-sm-3">
                    <div class="input-group input-group-sm mb-3">
                      <input [(ngModel)]="cp" type="text" class="form-control" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                      <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resetcp()">X</b></button>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <label for="">Segmento:</label>
                  </div>
                  <div class="col-sm-3">
                    <div class="input-group input-group-sm mb-3">
                      <input [(ngModel)]="segmento" type="text" class="form-control" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                      <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resetSegmento()">X</b></button>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-3">
                    <label for="">Sexo:</label>
                  </div>
                  <div class="col-sm-3">
                    <div class="input-group input-group-sm mb-3">
                      <input [(ngModel)]="sexo" type="text" class="form-control" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                      <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resetSexo()">X</b></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <label for="" style="color: blue"><b>Anexo de Informacion</b></label>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body" style="background-color: #ffffcc">
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="">Ventas Totales Anuales (en pesos):</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-3">
                        <input [(ngModel)]="ventasTA" type="text" class="form-control" aria-label="Recipient's username"
                          aria-describedby="button-addon2">
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                            style="color:red;" (click)="resetVentasTA()">X</b></button>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label for="">Personal Ocupado (numero):</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-3">
                        <input [(ngModel)]="personalOcupado" type="text" class="form-control" aria-label="Recipient's username"
                          aria-describedby="button-addon2">
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                            style="color:red;" (click)="resetPersonalOcupado()">X</b></button>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="">Sector General:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group mb-3">
                        <select [(ngModel)]="sectorGeneral" class="form-select">
                          <option selected>Seleccionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resertSectorGeneral()">X</b></button>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label for="">Tope Maximo Combinado (TMC):</label>
                    </div>
                    <div class="col-sm-3">
                      <input type="text" disabled />
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="">Segmento Bancomex (de acuerdo al tope maximo convinado
                        = TMC):</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-3">
                        <input [(ngModel)]="segmentoBancomext" type="text" class="form-control" aria-label="Recipient's username"
                          aria-describedby="button-addon2">
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                            style="color:red;" (click)="resetSegmentoBancomext()">X</b></button>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label for="">Antiguedad del acreditado como cliente del
                        intermediario (en meses):</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-3">
                        <input [(ngModel)]="antiguedadAcreditado" type="text" class="form-control" aria-label="Recipient's username"
                          aria-describedby="button-addon2">
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                            style="color:red;" (click)="resetAntiguedadAcreditado()">X</b></button>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="">Proposito del Proyecto:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group mb-3">
                        <select [(ngModel)]="propositoProyecto" class="form-select">
                          <option selected>Seleccionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resertPropositoProyec()">X</b></button>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label for="">Porcentaje de Origen Nacional:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-3">
                        <input [(ngModel)]="porcentajeNacional" type="text" class="form-control" aria-label="Recipient's username"
                          aria-describedby="button-addon2">
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                            style="color:red;" (click)="resetPorcentajeNacional()">X</b></button>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="">Porcentaje de la produccion destinada al Mercado
                        Interno:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-3">
                        <input [(ngModel)]="porcentajeMercadoInterno" type="text" class="form-control" aria-label="Recipient's username"
                          aria-describedby="button-addon2">
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                            style="color:red;" (click)="resetPorcentajeMercadoInterno()">X</b></button>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label for="">Porcentaje de Origen Importacion:</label>
                    </div>
                    <div class="col-sm-3">
                      <input type="text" disabled />
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="">Porcentaje de la produccion destinada al Mercado
                        Externo:</label>
                    </div>
                    <div class="col-sm-3">
                      <input type="text" disabled />
                    </div>
                    <div class="col-sm-3">
                      <label for="">Persona Fisica o Moral:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group mb-3">
                        <select [(ngModel)]="personaFisicaMoral" class="form-select">
                          <option selected>Seleccionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resertPersonaMF()">X</b></button>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="">Sexo:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group mb-3">
                        <select [(ngModel)]="sexoAnexoInfo" class="form-select">
                          <option selected>Seleccionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resertSexoAnexoInformacion()">X</b></button>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label for="">Fecha de Firma de Contrato:</label>
                    </div>
                    <div class="col-sm-3" style="height: 85%">
                      <input type="date" />
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="">Vigencia Total en la Linea (meses):</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-3">
                        <input [(ngModel)]="vigenciaTotalLinea" type="text" class="form-control" aria-label="Recipient's username"
                          aria-describedby="button-addon2">
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                            style="color:red;" (click)="resetVigenciaTotalLinea()">X</b></button>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="">Sector de Actividad Economica:</label>
                    </div>
                    <div class="col-sm-9">
                      <div class="input-group mb-3">
                        <select [(ngModel)]="actividadEconomica" class="form-select">
                          <option selected>Seleccionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resertActividadEconomica()">X</b></button>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-5">
                      <label for="">Tipo de Credito (Bancomext) (Para garantias Personales,
                        seleccionar creditos con garantia):</label>
                    </div>
                    <div class="col-sm-7">
                      <div class="input-group mb-3">
                        <select [(ngModel)]="tipoCredito" class="form-select">
                          <option selected>Seleccionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resetTipoCredito()">X</b></button>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="">Destino de los recursos (Catalogo Bancomext):</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group mb-3">
                        <select [(ngModel)]="destinoRecursos" class="form-select">
                          <option selected>Seleccionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resetDestinoRecursos()">X</b></button>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label for="">Codigo Bien:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group mb-3">
                        <select [(ngModel)]="codigoBien" class="form-select">
                          <option selected>Seleccionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resetCodigoBien()">X</b></button>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="">Tipo de Garantia:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group mb-3">
                        <select [(ngModel)]="tipoGarantia" class="form-select">
                          <option selected>Seleccionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resetTipoGarantia()">X</b></button>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label for="">Entidad Financiera:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group mb-3">
                        <select [(ngModel)]="entidadFinanciera" class="form-select">
                          <option selected>Seleccionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resetEntidadFinanciera()">X</b></button>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="">% Garantia:</label>
                    </div>
                    <div class="col-sm-3">
                      <input type="text" disabled />
                    </div>
                    <div class="col-sm-3">
                      <label for="">Moneda:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group mb-3">
                        <select [(ngModel)]="moneda" class="form-select">
                          <option selected>Seleccionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                          style="color:red;" (click)="resetMoneda()">X</b></button>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="">Monto de la Linea:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-3">
                        <input [(ngModel)]="montoLinea" type="text" class="form-control" aria-label="Recipient's username"
                          aria-describedby="button-addon2">
                        <button class="btn btn-outline-danger" type="button" id="button-addon2"><b
                            style="color:red;" (click)="resetMontoLinea()">X</b></button>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label for="">Monto Garantizado:</label>
                    </div>
                    <div class="col-sm-3">
                      <input type="text" disabled />
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-group mb-12">
                      <input type="text" [(ngModel)]="comentario" id="comentario" name="comentario" class="form-control" placeholder="Agregar Comentario" aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class="btn btn-outline-secondary" type="button" id="agregar" (click)="agregarComentairo()"><b>+</b></button>
                    </div>
                    <label for="" *ngIf="mostrarComentario">{{fechacompleta}}{{comentario}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert" id="myAlert">
          <strong>Holy guacamole!</strong> You should check in on some of those fields below.
          <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
