
  <div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
      <label>FOLIO SOLICITUD:</label>
    </div>
    <div class="col-sm-2">
      <label>SOLICITO:</label>
    </div>
    <div class="col-sm-2">
      <label>FECHA DESDE:</label>
    </div>
    <div class="col-sm-2">
      <label>FECHA HASTA:</label>
    </div>
    <div class="col-sm-2">
      <label>ESTATUS:</label>
    </div>
    <div class="col-sm-2">
      <label>NUEVA BOLSA:</label>
    </div>
  </div>
  <div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
      <input required  maxlength="10" type="text">
    </div>
    <div class="col-sm-2">
      <input required  maxlength="40" type="text">
    </div>
    <div class="col-sm-2">
      <input required  maxlength="10" type="date">

    </div>
    <div class="col-sm-2">
      <input type="date">
    </div>
    <div class="col-sm-2">
        <select style="width:100%;height:100%;">
        <option></option>
        <option>Pendiente</option>
        <option>Autorizado</option>
        </select>
      </div>
    <div class="col-sm-2">
      <input required  maxlength="4" type="text">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12" style="margin-left: 78%">
      <button id="efecto" class="btn btn-outline-secondary" (click)="mostrarBitacoraEnBolsa()">Buscar</button>
      &nbsp;&nbsp;
      <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
    </div>
  </div>
      <br>

  <app-table-bitacora-en-bolsa *ngIf="tableBitacoraEnBolsa"></app-table-bitacora-en-bolsa>    