<div class="row">
  <div class="col-sm-12" style="margin-left: 78%">
    <button (click)="mostrarTablasReestructuras()" id="efecto" class="btn btn-outline-danger">Buscar</button>
    &nbsp;&nbsp;
    <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
  </div>
</div>
<br>
<app-table-reestructuras *ngIf="mostrarTablaReestructura"></app-table-reestructuras>
<app-form-reestructuras></app-form-reestructuras>
