<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Crear Reporte Ejecutivo Bancomext
</button>

<!-- Modal -->
<div class="modal fade ocultar" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:red;">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white;">Crear Reporte Ejecutivo Bancomext
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><b>
                        Indica el Tipo de Cambio con el que desea realizar el Reporte Ejecutivo:
                    </b>
                </p>
                <hr style="color:red;">
                <div class="row" style="background-color:#EBF7FF;">
                    <div class="col-sm-12">
                        <label for="">Tipo de Cambio:</label>&nbsp;&nbsp;
                        <input type="text">&nbsp;&nbsp;
                        <button class="btn btn-outline-secondary">Procesar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>