<div class="col-sm-12">
    <div class="container" style="display: flex; justify-content: flex-end;">
  
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Filtrar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Exportar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href=""> Exportar Datos<p>
  
    </div>
  
  
    <div class="col-sm-12 p-2">
    <label><b>Folios Nafinet</b></label>
  
      <div class="dataTables_info">
        <table  class="table table-bordered table-striped row-border hover" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th><small>id</small></th>
              <th></th>
              <th><small>Clave</small></th>
              <th><small>Fecha_Carga</small></th>
              <th><small>Registros</small></th>
              <th><small>Sumatoria</small></th>
              <th><small>Dias</small></th>
              <th><small>Usuario Cargo</small></th>
              <th><small>Excel</small></th>
              <th><small>TXT</small></th>
              <th><small>PDF</small></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dataFoliosNafinet">
              <td><small>{{ user.id}}</small></td>
              <td>PN</td>
              <td><small>{{ user.Clave}}</small></td>
              <td><small>{{ user.FechaCarga}}</small></td>
              <td><small>{{ user.Registros}}</small></td>
              <td><small>{{ user.Sumatoria}}</small></td>
              <td><small>{{ user.Dias}}</small></td>
              <td><small>{{ user.Usuario_Cargo}}</small></td>
              <td><small style="color: blue; text-decoration: underline; cursor: pointer;"><img style="width: 15px; height: 15px;" src="../../../../assets/img/excel.jpg" alt="">{{ user.Excel}}</small></td>
              <td><small style="color: blue; text-decoration: underline; cursor: pointer;"><img src="../../../../assets/img/doc.ico" alt="">{{ user.TXT}}</small></td>
              <td><small style="color: blue; text-decoration: underline; cursor: pointer;"><img src="../../../../assets/img/pdf.ico" alt="">{{ user.PDF}}</small></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
 