.dropdown-item:hover{
  color: white;
  background-color: black;
}
label .navHover:hover{
  color: white;
  background-color: black;
}
.cerrar{
  color: white;
  text-decoration: none;
}
.hoverBlack:hover{
  color: white;
  background-color: black;
}

.cerrar{
  color: white;
  text-decoration: none;
}
.formato{
text-decoration: underline;
}
label #black:hover{
color: white;
  background-color: black;
}
#efecto{
  transition: all 0.2s ease;
}
#efecto:hover{
  background-color: red;
  border: red;
  transform: scale(1.1);
}
li #black:hover{
  color: white;
    background-color: black;
  }

#ocultar {
 display: none !important;

}