<div class="content">
  <form action="" style="overflow-x:hidden; overflow-y:hidden; height: 1600px;">
    <app-header></app-header>
    <div class="row">
      <div class="col-sm-6" style="margin-left:5%;">
        <label><b>Fondos de Fomento:</b></label>&nbsp;<label>Jose Rodriguez Arias (Z396773)</label>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-3" style="margin-left: 3%;">
        <label>{{fecha | date: 'EEEE d De MMMM Del y'}}</label>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg" style="background-color: red;">
      <div class="container-fluid" style="margin-left:5%;">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black">Procesos
                  Nafin</b></label>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                  style="width: 240%; background-color: #2D2D2D; color: white;">
                  <li id="black">
                    {{menuProcesosNafin[0].description}}</li>
                    <li id="black" data-bs-toggle="modal" data-bs-target="#ResultadoNafin">

                      {{menuProcesosNafin[1].description}}</li>
                      <li id="black">
                        {{menuProcesosNafin[2].description}}</li>
                </ul> 
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;&nbsp;
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black">Solicitudes</b></label>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                style="width: 240%; background-color: #2D2D2D; color: white;">
                <li *ngFor="let item of menuSolicitudes" (click)="mostarVistaSolicitudes(item.description)" id="black">
                  {{item.description}}</li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;&nbsp;
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black">Conciliaciones</b></label>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                style="width: 240%; background-color: #2D2D2D; color: white;">
                <li *ngFor="let item of menuConciliaciones" (click)="mostarVistaConciliaciones(item.description)"
                  id="black">{{item.description}}</li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;&nbsp;
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black">Control
                  Garantía</b></label>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                style="width: 240%; background-color: #2D2D2D; color: white;">
                <li *ngFor="let item of menuControlGar" (click)="mostarVistaControlGtias(item.description)" id="black">
                  {{item.description}}</li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;&nbsp;
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black">Actualizar</b></label>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                style="width: 240%; background-color: #2D2D2D; color: white;">
                <li *ngFor="let item of menuActualizar" (click)="mostarVistaActualizar(item.description)" id="black">
                  {{item.description}}</li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;&nbsp;
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black">Programas</b></label>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                style="width: 240%; background-color: #2D2D2D; color: white;">
                <li *ngFor="let item of menuProgramas" (click)="mostarVistaProgramas(item.description)" id="black">
                  {{item.description}}</li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;&nbsp;
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black">Garantia
                  Selectivas</b></label>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                style="width: 240%; background-color: #2D2D2D; color: white;">
                <li *ngFor="let item of menuGtiasSelectivas" (click)="mostarVistaGtiaSelectivas(item.description)"
                  id="black">{{item.description}}</li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;&nbsp;
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black">Reportes</b></label>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                style="width: 240%; background-color: #2D2D2D; color: white;">
                <li *ngFor="let item of menuReportes" (click)="mostarVistaReportes(item.description)" id="black">
                  {{item.description}}</li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;&nbsp;
              <img src="../../../assets/img/candado.png" alt="cerrar sesion..." style="width: 20px;" height="20px">
              <label style="color:white;"><b id="black"><a class="cerrar" href="#">Cerrar Sesion</a></b></label>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>

    <div *ngIf="filtroDefault">
      <div *ngIf="!mostrarSolicitudAutomatica && !mostrarSolicitudSelectiva && !mostrarContratoPyme && !mostrarSolicitudTMEC
    && !mostrarSolicitudComexTMEC && !mostrarSolicitudTurismo">
        <div class="row" style="width: 90%; text-align: center; margin-left:2%;">
          <div class="col-sm-2">
            <label>FOLIO:auto</label>
          </div>
          <div class="col-sm-2">
            <label>SUCURSAL:</label>
          </div>
          <div class="col-sm-2">
            <label>SOLICITADO:</label>
          </div>
          <div class="col-sm-2">
            <label>ESTATUS FOLIO:Auto</label>
          </div>
          <div class="col-sm-2">
            <label>ACREDITADO:</label>
          </div>
          <div class="col-sm-2">
            <label>ACREDITADO:</label>
          </div>
        </div>
        <div class="row" style="width: 90%; text-align: center; margin-left:2%;">
          <div class="col-sm-2">
            <input type="text">
          </div>
          <div class="col-sm-2">
            <input type="text">
          </div>
          <div class="col-sm-2">
            <input type="text">
          </div>
          <div class="col-sm-2">
            <select style="width:100%;height:100%;">
              <option id="black">{{CapturarSolicitud}}</option>
              <option id="black">{{ProcesoPendienteAsesorC}}</option>
              <option id="black">{{EspecialistaComexRech}}</option>
              <option id="black">{{ProcesoPendienteContraloria}}</option>
              <option id="black">{{FondosDeFomento}}</option>
              <option id="black">{{EnviadaNafinet}}</option>
              <option id="black">{{AprobadoNafinet}}</option>
              <option id="black">{{RechaxoNafinet}}</option>
              <option id="black">{{Reproceso}}</option>
            </select>
          </div>
          <div class="col-sm-2">
            <input type="text">
          </div>
          <div class="col-sm-2">
            <input type="text">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12" style="margin-left: 78%">
            <button id="efecto" (click)="mostrarTablasAutomaticas()" class="btn btn-outline-danger">Buscar</button>
            &nbsp;&nbsp;
            <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
          </div>
        </div>
      </div>
    </div>
    
    <div *ngIf="mostrarSolicitudAutomatica" class="content">
      <div class="row" style="text-align: center">
        <div class="col-sm-3">
          <label>FOLIO:</label>&nbsp;
          <input type="text" />
        </div>
        <div class="col-sm-3">
          <label>SOLICITADO:</label>&nbsp;
          <input type="text" />
        </div>
        <div class="col-sm-3">
          <label>ESTATUS FOLIO:AUTOMATICA</label>&nbsp;
          <select style="width: 60%; height: 60%">
            <option>{{CapturarSolicitud}}</option>
            <option>{{ProcesoPendienteAsesorC}}</option>
            <option>{{EspecialistaComexRech}}</option>
            <option>{{ProcesoPendienteContraloria}}</option>
            <option>{{FondosDeFomento}}</option>
            <option>{{EnviadaNafinet}}</option>
            <option>{{AprobadoNafinet}}</option>
            <option>{{RechaxoNafinet}}</option>
            <option>{{Reproceso}}</option>
          </select>
        </div>
        <br />
        <br />
      </div>
      <div class="row">
        <div class="col-sm-12" style="margin-left: 78%">
          <button id="efecto" (click)="mostrarTablasAutomaticas()" class="btn btn-outline-danger">Buscar</button>
          &nbsp;&nbsp;
          <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
        </div>
      </div>
      <hr />

    </div>

    <div *ngIf="mostrarSolicitudSelectiva" class="content">
      <div class="row" style="text-align: center">
        <div class="col-sm-3">
          <label>FOLIO:</label>&nbsp;
          <input type="text" />
        </div>
        <div class="col-sm-3">
          <label>SOLICITADO:</label>&nbsp;
          <input type="text" />
        </div>
        <div class="col-sm-3">
          <label>ESTATUS FOLIO:Selectiva</label>&nbsp;
          <select style="width: 60%; height: 60%">
            <option>{{CapturarSolicitud}}</option>
            <option>{{ProcesoPendienteAsesorC}}</option>
            <option>{{EspecialistaComexRech}}</option>
            <option>{{ProcesoPendienteContraloria}}</option>
            <option>{{FondosDeFomento}}</option>
            <option>{{EnviadaNafinet}}</option>
            <option>{{AprobadoNafinet}}</option>
            <option>{{RechaxoNafinet}}</option>
            <option>{{Reproceso}}</option>
          </select>
        </div>
        <br />
        <br />
      </div>
      <div class="row">
        <div class="col-sm-12" style="margin-left: 78%">
          <button id="efecto" (click)="mostrarTablasSelectivas()" class="btn btn-outline-danger">Buscar</button>
          &nbsp;&nbsp;
          <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
        </div>
      </div>
      <hr />



    </div>
    <!-- hasta aqui selectiva-->
    <!-- pyme desde aqui -->
    <div *ngIf="mostrarContratoPyme" class="content">
      <div class="row" style="text-align: center">
        <div class="col-sm-3">
          <label>FOLIO:</label>&nbsp;
          <input type="text" />
        </div>
        <div class="col-sm-3">
          <label>SOLICITADO:</label>&nbsp;
          <input type="text" />
        </div>
        <div class="col-sm-3">
          <label>ESTATUS FOLIO:PYME</label>&nbsp;
          <select style="width: 60%; height: 60%">
            <option>{{CapturarSolicitud}}</option>
            <option>{{ProcesoPendienteAsesorC}}</option>
            <option>{{EspecialistaComexRech}}</option>
            <option>{{ProcesoPendienteContraloria}}</option>
            <option>{{FondosDeFomento}}</option>
            <option>{{EnviadaNafinet}}</option>
            <option>{{AprobadoNafinet}}</option>
            <option>{{RechaxoNafinet}}</option>
            <option>{{Reproceso}}</option>
          </select>
        </div>
        <br />
        <br />
      </div>
      <div class="row">
        <div class="col-sm-12" style="margin-left: 78%">
          <button (click)="mostrarTablasContratoPyme()" id="efecto" class="btn btn-outline-danger">Buscar</button>
          &nbsp;&nbsp;
          <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
        </div>
      </div>
      <hr />



    </div>
    <!-- hasta aqui -->
    <!-- desde aqui comextmec -->
    <div *ngIf="mostrarSolicitudComexTMEC" class="content">
      <div class="row" style="text-align: center">
        <div class="col-sm-3">
          <label>FOLIO:</label>&nbsp;
          <input type="text" />
        </div>
        <div class="col-sm-3">
          <label>SOLICITADO:</label>&nbsp;
          <input type="text" />
        </div>
        <div class="col-sm-3">
          <label>ESTATUS FOLIO:comextmec</label>&nbsp;
          <select style="width: 60%; height: 60%">
            <option>{{CapturarSolicitud}}</option>
            <option>{{ProcesoPendienteAsesorC}}</option>
            <option>{{EspecialistaComexRech}}</option>
            <option>{{ProcesoPendienteContraloria}}</option>
            <option>{{FondosDeFomento}}</option>
            <option>{{EnviadaNafinet}}</option>
            <option>{{AprobadoNafinet}}</option>
            <option>{{RechaxoNafinet}}</option>
            <option>{{Reproceso}}</option>
          </select>
        </div>
        <br />
        <br />
      </div>
      <div class="row">
        <div class="col-sm-12" style="margin-left: 78%">
          <button (click)="mostrarTablasComexTmec()" id="efecto" class="btn btn-outline-danger">Buscar</button>
          &nbsp;&nbsp;
          <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
        </div>
      </div>
      <hr />
    </div>
    <!-- hasta aqui -->
    <!-- desde aqui tmec -->
    <div *ngIf="mostrarSolicitudTMEC" class="content">
      <div class="row" style="text-align: center">
        <div class="col-sm-3">
          <label>FOLIO:</label>&nbsp;
          <input type="text" />
        </div>
        <div class="col-sm-3">
          <label>SOLICITADO:</label>&nbsp;
          <input type="text" />
        </div>
        <div class="col-sm-3">
          <label>ESTATUS FOLIO:tmec</label>&nbsp;
          <select style="width: 60%; height: 60%">
            <option>{{CapturarSolicitud}}</option>
            <option>{{ProcesoPendienteAsesorC}}</option>
            <option>{{EspecialistaComexRech}}</option>
            <option>{{ProcesoPendienteContraloria}}</option>
            <option>{{FondosDeFomento}}</option>
            <option>{{EnviadaNafinet}}</option>
            <option>{{AprobadoNafinet}}</option>
            <option>{{RechaxoNafinet}}</option>
            <option>{{Reproceso}}</option>
          </select>
        </div>
        <br />
        <br />
      </div>
      <div class="row">
        <div class="col-sm-12" style="margin-left: 78%">
          <button (click)="mostrarTablasTmec()" id="efecto" class="btn btn-outline-danger">Buscar</button>
          &nbsp;&nbsp;
          <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
        </div>
      </div>
      <hr />
    </div>
    <!-- hasta aqui -->
    <!-- desde aqui tmec -->
    <div *ngIf="mostrarSolicitudTurismo" class="content">
      <div class="row" style="text-align: center">
        <div class="col-sm-3">
          <label>FOLIO:</label>&nbsp;
          <input type="text" />
        </div>
        <div class="col-sm-3">
          <label>SOLICITADO:</label>&nbsp;
          <input type="text" />
        </div>
        <div class="col-sm-3">
          <label>ESTATUS FOLIO:Turismo</label>&nbsp;
          <select style="width: 60%; height: 60%">
            <option>{{CapturarSolicitud}}</option>
            <option>{{ProcesoPendienteAsesorC}}</option>
            <option>{{EspecialistaComexRech}}</option>
            <option>{{ProcesoPendienteContraloria}}</option>
            <option>{{FondosDeFomento}}</option>
            <option>{{EnviadaNafinet}}</option>
            <option>{{AprobadoNafinet}}</option>
            <option>{{RechaxoNafinet}}</option>
            <option>{{Reproceso}}</option>
          </select>
        </div>
        <br />
        <br />
      </div>
      <div class="row">
        <div class="col-sm-12" style="margin-left: 78%">
          <button (click)="mostrarTablasTurismo()" id="efecto" class="btn btn-outline-danger">Buscar</button>
          &nbsp;&nbsp;
          <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
        </div>
      </div>
      <hr />
    </div>
    <app-creditos-pn31 *ngIf='menuConciliaciones[0].isActive'></app-creditos-pn31>
    <app-conciliacion-mensual *ngIf='menuConciliaciones[1].isActive'></app-conciliacion-mensual>
    <app-creditos-sin-movs *ngIf='menuConciliaciones[2].isActive'></app-creditos-sin-movs>
    <app-generar-conciliacion *ngIf='menuConciliaciones[3].isActive'></app-generar-conciliacion>
    <app-generar-reporte-bmx *ngIf='menuConciliaciones[4].isActive'></app-generar-reporte-bmx>
    <app-conciliacion-historica *ngIf='menuConciliaciones[5].isActive'></app-conciliacion-historica>
    <app-meses-sobre-giro *ngIf='menuConciliaciones[6].isActive'></app-meses-sobre-giro>
    <app-movs-diarios-creditos *ngIf='menuConciliaciones[7].isActive'></app-movs-diarios-creditos>
    <app-movs-cliente *ngIf='menuConciliaciones[8].isActive'></app-movs-cliente>
    <app-movimientos-credito *ngIf='menuConciliaciones[9].isActive'></app-movimientos-credito>
    <app-enviar-a-excepcion *ngIf='menuConciliaciones[10].isActive' (click)="excepcion()"></app-enviar-a-excepcion>
    <app-conciliacion-credito *ngIf='menuConciliaciones[11].isActive'></app-conciliacion-credito>
    <app-conciliacion-garantia *ngIf='menuConciliaciones[12].isActive'></app-conciliacion-garantia>
    <app-conciliacion-generadas *ngIf='menuConciliaciones[13].isActive'></app-conciliacion-generadas>
    <app-catalogo-pd97 *ngIf='menuConciliaciones[14].isActive'></app-catalogo-pd97>
    <app-generar-polizas-contables *ngIf='menuConciliaciones[15].isActive'></app-generar-polizas-contables>

    <app-creditos-en-garantia *ngIf='menuControlGar[0].isActive'></app-creditos-en-garantia>
    <app-garantia-sin-credito *ngIf='menuControlGar[1].isActive'></app-garantia-sin-credito>
    <app-creditos-sin-garantia *ngIf='menuControlGar[2].isActive'></app-creditos-sin-garantia>
    <app-reporte-general-garantias *ngIf='menuControlGar[3].isActive'></app-reporte-general-garantias>
    <app-stock-bancomext *ngIf='menuControlGar[4].isActive'></app-stock-bancomext>
    <app-registrar-garantias-sig *ngIf='menuControlGar[5].isActive'></app-registrar-garantias-sig>
    <app-creditos-en-excepcion *ngIf='menuControlGar[6].isActive'></app-creditos-en-excepcion>
    <app-extra-bancomext-completo *ngIf='menuControlGar[7].isActive'></app-extra-bancomext-completo>
    <app-vigentes-en-extra *ngIf='menuControlGar[8].isActive'></app-vigentes-en-extra>
    <app-extra-vs-sig *ngIf='menuControlGar[9].isActive'></app-extra-vs-sig>
    <app-sincronizar-sig-vs-extra *ngIf='menuControlGar[10].isActive'></app-sincronizar-sig-vs-extra>
    <app-calificacion-cartera *ngIf='menuControlGar[11].isActive'></app-calificacion-cartera>
    <app-pendientes *ngIf='menuControlGar[13].isActive'></app-pendientes>

    <app-productos-asociados *ngIf='menuActualizar[0].isActive'></app-productos-asociados>
    <app-cargar-pn31 *ngIf='menuActualizar[1].isActive'></app-cargar-pn31>
    <app-cargar-pd97 *ngIf='menuActualizar[2].isActive'></app-cargar-pd97>
    <app-actualizar-extra *ngIf='menuActualizar[3].isActive'></app-actualizar-extra>
    <app-cargar-portafolio *ngIf='menuActualizar[5].isActive'></app-cargar-portafolio>

    <app-buscar-gtia-cliente *ngIf='menuProgramas[0].isActive'></app-buscar-gtia-cliente>
    <app-catalogo-programas *ngIf='menuProgramas[1].isActive'></app-catalogo-programas>

    <app-stock-garantias-selectivas *ngIf='menuGtiasSelectivas[0].isActive'></app-stock-garantias-selectivas>
    <app-pendientes-gtias-selectivas *ngIf='menuGtiasSelectivas[1].isActive'></app-pendientes-gtias-selectivas>
    <app-generar-conciliacion-gtias-selectivas *ngIf='menuGtiasSelectivas[2].isActive'></app-generar-conciliacion-gtias-selectivas>
    <app-creditos-con-garantias *ngIf='menuGtiasSelectivas[3].isActive'></app-creditos-con-garantias>
    <app-creditos-en-excepcion-gtias-selectivas *ngIf='menuGtiasSelectivas[4].isActive'></app-creditos-en-excepcion-gtias-selectivas>
    <app-conciliaciones-generadas-selectivas *ngIf='menuGtiasSelectivas[5].isActive'></app-conciliaciones-generadas-selectivas>
    <app-conciliacion-mensual-gtias-selectivas *ngIf='menuGtiasSelectivas[7].isActive'></app-conciliacion-mensual-gtias-selectivas>

    <app-crear-reporte-ejecutivo *ngIf='menuReportes[0].isActive'></app-crear-reporte-ejecutivo>
    <app-buscar-reporte-ejecutivo *ngIf='menuReportes[1].isActive'></app-buscar-reporte-ejecutivo>
    <app-reporte-solicitudes-recibidas *ngIf='menuReportes[2].isActive'></app-reporte-solicitudes-recibidas>
    <app-solicitudes-realizadas *ngIf='menuReportes[3].isActive'></app-solicitudes-realizadas>
    <app-reporte-garantias-aprob-activas *ngIf='menuReportes[4].isActive'></app-reporte-garantias-aprob-activas>
    <!-- hasta aqui -->
    <br><br>

    <app-table *ngIf="mostrarTablaAutomaticas"></app-table>
    <app-table-comex-tmec *ngIf="mostrarTablaComextmec"></app-table-comex-tmec>
    <app-table-pyme *ngIf="mostrarTablaPyme"></app-table-pyme>
    <app-table-selectivas *ngIf="mostrarTablaSelectivas"></app-table-selectivas>
    <app-table-tmec *ngIf="mostrarTablaTmec"></app-table-tmec>
    <app-table-turismo *ngIf="mostrarTablaTurismo"></app-table-turismo>

    <app-buscar-gtia-cliente *ngIf='menuProgramas[0].isActive'></app-buscar-gtia-cliente>
    <app-catalogo-programas *ngIf='menuProgramas[1].isActive'></app-catalogo-programas>

    <app-stock-garantias-selectivas *ngIf='menuGtiasSelectivas[0].isActive'></app-stock-garantias-selectivas>
    <app-pendientes-gtias-selectivas *ngIf='menuGtiasSelectivas[1].isActive'></app-pendientes-gtias-selectivas>
    <app-generar-conciliacion-gtias-selectivas *ngIf='menuGtiasSelectivas[2].isActive'></app-generar-conciliacion-gtias-selectivas>
    <app-creditos-con-garantias *ngIf='menuGtiasSelectivas[3].isActive'></app-creditos-con-garantias>
    <app-creditos-en-excepcion-gtias-selectivas *ngIf='menuGtiasSelectivas[4].isActive'></app-creditos-en-excepcion-gtias-selectivas>
    <app-conciliaciones-generadas-selectivas *ngIf='menuGtiasSelectivas[5].isActive'></app-conciliaciones-generadas-selectivas>
    <app-conciliacion-mensual-gtias-selectivas *ngIf='menuGtiasSelectivas[7].isActive'></app-conciliacion-mensual-gtias-selectivas>
    <!-- hasta aqui -->
    <br><br>

 



  </form>

</div>
<div>
</div>
<!-- <app-form></app-form>
<app-form-comex-tmec></app-form-comex-tmec>
<app-form-pyme></app-form-pyme>
<app-form-selectivas></app-form-selectivas>
<app-form-tmec></app-form-tmec>
<app-form-turismo></app-form-turismo> -->
<!-- Modal -->
<div class="modal fade ocultar" id="ResultadoNafin" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color:red;">
        <h5 class="modal-title" id="exampleModalLabel" style="color:white;">Cargar PDF Respuesta NAFINET</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="background-color:#FFFFCC;">
        <p>En este proceso se carga el archivo de respuesta que generó NAFINET. Es necesario cargar el archivo PDF e
          insertar el folio Nafinet al que corresponde para realizar el cruce con los creditos previamente registrados
        </p>
        <hr>
        <div class="row">
          <div class="col-sm-8">
            <p>Para iniciar el proceso de carga presiona el boton</p>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-secondary" (click)="mostarArchivos()">Iniciar Proceso</button>
          </div>
        </div>
        <br>
        <div *ngIf="mostarSubidaArchivos">
          <div>
            <label for="">Folio Nafinet: </label>&nbsp;&nbsp;
            <input type="text">
          </div>
          <br>
          <div>
            <p>Archivo PDF Nafinet:</p>
            <div class="input-group mb-3">
              <input class="form-control" type="file" id="formFile">
            </div>
          </div>
          <br>
          <div>
            <button class="btn btn-outline-secondary">Revisar Archivo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>