 <!-- Modal -->
 <div class="modal fade" id="reporteEjecutivo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable modal-lg">
     <div class="modal-content">
       <div class="modal-header" style="background-color: red">
         <h5 class="modal-title" id="staticBackdropLabel" style="color: white">
        Crear Reporte Ejecutivo Bancomext
         </h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <div class="container mb-3">
           <label for="">Indica el Tipo de Cambio con el que desea realizar el 
               Reporte Ejecutivo.</label>
         </div>
         <hr>
         <form action="" class="form-action">
            <div class="row" style="width: 90%; text-align: center; margin-left:2%;">
                <div class="col-sm-3">
                  <label>Tipo de Cambio:</label>
                </div>
                <div class="col-sm-3">
                    <input type="text">
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="col-sm-3">
                    <button class="btn btn-outline-secondary">Procesar</button>
                </div>
              </div>
              <br>

         </form>
       </div>
     </div>
