<div class="col-sm-12">
    <div class="container" style="display: flex; justify-content: flex-end;">
  
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Filtrar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Exportar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href=""> Exportar Datos<p>
  
    </div>
    <div class="col-sm-12 p-2">
    <label><b>Tabla de Automaticas</b></label>
  
      <div class="dataTables_info" style="overflow-x: scroll; width: 100%;">
        <table  class="table table-bordered table-striped row-border hover" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th><small>ST</small></th>
              <th><small>SC</small></th>
              <th><small>S</small></th>
              <th><small>Est</small></th>
              <th><small>Garantía</small></th>
              <th><small>Buc</small></th>
              <th><small>Razon_Social</small></th>
              <th><small>RFC BMX</small></th>
              <th><small>Moneda</small></th>
              <th><small>PZO</small></th>
              <th><small>Fecha_Alta</small></th>
              <th><small>F_Vnto</small></th>
              <th><small>Renovar</small></th>
              <th><small>Importe</small></th>
              <th><small>Prog</small></th>
              <th><small>Porciento_Garantia</small></th>
              <th><small>Com</small></th>
              <th><small>C</small></th>
              <th><small>Acciones_sobre_gtia</small></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dataStockBancomext">
              <td><small>{{ user.ST}}</small></td>
              <td><small>{{ user.SC}}</small></td>
              <td><small>{{ user.S }}</small></td>
              <td><small>{{ user.Est }}</small></td>
              <td><small>{{ user.Garantia }}</small></td>
              <td><small>{{ user.Buc}}</small></td>
              <td><small>{{ user.Razon_Social }}</small></td>
              <td><small>{{ user.RFC_BMX }}</small></td>
              <td><small>{{ user.Moneda }}</small></td>
              <td><small>{{ user.PZO }}</small></td>
              <td><small>{{ user.Fecha_Alta }}</small></td>
              <td><small>{{ user.F_Vnto }}</small></td>
              <td><small>{{ user.Renovar }}</small></td>
              <td><small>{{ user.Importe }}</small></td>
              <td><small>{{ user.Prog }}</small></td>
              <td><small>{{ user.Porciento_Garantia }}</small></td>
              <td><small>{{ user.Com }}</small></td>
              <td><small>{{ user.C }}</small></td>
              <td><small><img src="../../../../assets/img/MODIF.ico" alt="">
                         &nbsp;<img src="../../../../assets/img/DESACTIVAR.ico" alt="">
                         &nbsp;<img src="../../../../assets/img/cancelado.ico" alt="">
                         &nbsp;<img src="../../../../assets/img/informacion.ico" alt="">
                         &nbsp;<img src="../../../../assets/img/ver_detalles.ico" alt="">
                         &nbsp;<img src="../../../../assets/img/vincular.ico" alt="">
                         &nbsp;
                {{ user.Acciones_sobre_gtia}}
              
              
              </small></td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
  <app-bitacora-proceso></app-bitacora-proceso>