<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
  <div class="col-sm-4">
    <label>NUEVO PROGRAMA:</label>
</div>
    <div class="col-sm-4">
    <label>SUCURSAL:</label>
  </div>
  <div class="col-sm-4">
    <label>SOLICITADO:</label>
  </div>
</div>
<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
  <div class="col-sm-4">
    <select id="Filtro_128" name="Filtro_128" onchange="">
      <option value="" selected="selected"></option>
      <option value="EMPRESAS COMEX">EMPRESAS COMEX</option>
      <option value="PYME COMEX MXP AUTOMATICA">PYME COMEX MXP AUTOMATICA</option>
      <option value="PYME COMEX USD AUTOMATICA">PYME COMEX USD AUTOMATICA</option>
      <option value="GRANDES EMPRESAS COMEX">GRANDES EMPRESAS COMEX</option>
      <option value="AUTOMOTRIZ MXP USD COMEX">AUTOMOTRIZ MXP USD COMEX</option>
      <option value="CAPEX">CAPEX</option>
      <option value="COMERCIO EXTERIOR PYME T-MEC EMP">COMERCIO EXTERIOR PYME T-MEC EMP</option>
      <option value="COMERCIO EXTERIOR PYME T-MEC">COMERCIO EXTERIOR PYME T-MEC</option>
      <option value="COMERCIO EXTERIOR GRANDES EMPRESAS T-MEC">COMERCIO EXTERIOR GRANDES EMPRESAS T-MEC</option>
      <option value="REACTIVACION ECONOMICA SECTOR HOTELERO">REACTIVACION ECONOMICA SECTOR HOTELERO</option>
    </select>
  </div>
  <div class="col-sm-4">
    <input type="text">
  </div>
  <div class="col-sm-4">
    <input type="text">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12" style="margin-left: 78%">
    <button id="efecto" class="btn btn-outline-secondary" (click)="mostrarBolsasEnRechazo()">Buscar</button>
    &nbsp;&nbsp;
    <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
  </div>
</div>
<br>
<app-tables-bolsas-rechazo *ngIf="tableBolsasRechazo"></app-tables-bolsas-rechazo>