
  <div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
      <label>NOM GRUPO:</label>
    </div>
    <div class="col-sm-2">
      <label>NOMBRE:</label>
    </div>
    <div class="col-sm-2">
      <label>CORREO:</label>
    </div>
    <div class="col-sm-2">
      <label>REGION</label>
    </div>
  </div>
  <div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
      <input required  maxlength="30" type="text">
    </div>
    <div class="col-sm-2">
      <input required  maxlength="30" type="text">
    </div>
    <div class="col-sm-2">
      <input required  maxlength="30" type="text">
    </div>
    <div class="col-sm-2">
      <input required  maxlength="20" type="text">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12" style="margin-left: 78%">
      <button id="efecto" class="btn btn-outline-secondary" (click)="mostarGrupoCorreos()">Buscar</button>
      &nbsp;&nbsp;
      <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
    </div>
  </div>
      <br>

      <app-table-grupo-correo *ngIf="grupoDeCorreos"></app-table-grupo-correo>

      