<div class="col-sm-12">
    <div class="container" style="display: flex; justify-content: flex-end;">
  
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Filtrar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Exportar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href=""> Exportar Datos<p>
  
    </div>
  
  
    <div class="col-sm-12 p-2">
    <label><b>Catalogo Bolsas</b></label>
  
    <div class="dataTables_info">
        <table  class="table table-bordered table-striped row-border hover" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th><small>Programa</small></th>
              <th><small>Etiqueta</small></th>
              <th><small>Gar 390</small></th>
              <th><small>Buc 390</small></th>
              <th><small>Nombre Nafin</small></th>
              <th><small>Modificar</small></th>
             
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dataCatalogoProgramas">
              <td><small>{{ user.Programa}}</small></td>
              <td><small>{{ user.Etiqueta}}</small></td>
              <td><small>{{ user.Gar_390}}</small></td>
              <td><small>{{ user.Buc_390}}</small></td>
              <td><small>{{ user.Nombre_Nafin}}</small></td>
              <td><small>{{ user.Modificar}}</small></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
 
   