<div class="row" style="text-align: center">
    <div class="col-sm-4">
        <label>NOMBRE PROGRAMA:</label>&nbsp;
        <select style="width: 60%; height: 80%" >
          <option></option>
          <option id="black" *ngFor="let item of NombrePrograma">{{item.description}}</option>
        </select>
      </div>
    <div class="col-sm-4">
      <label>BOLSA ANTERIOR:</label>&nbsp;
      <input type="text" />
    </div>
    <div class="col-sm-3">
      <label>NUEVA BOLSA:</label>&nbsp;
      <input type="text" />
    </div>
    <br />

  </div>
  <br/><br/>
  <div class="row">
    <div class="col-sm-12" style="margin-left: 78%">
      <button id="efecto" class="btn btn-outline-secondary" (click)="mostarBolsasTramite()">Buscar</button>
      &nbsp;&nbsp;
      <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
    </div>
  </div>
  <br>

  <app-table-bolsas-en-tramite *ngIf="bolsasEnTramite"></app-table-bolsas-en-tramite>