<div class="content">
  <form action="" style="overflow-x: hidden; overflow-y: hidden">
    <app-header></app-header>
    <div class="row">
      <div class="col-sm-6" style="margin-left: 5%">
        <label><b>Asesor Comex:</b></label>&nbsp;<label>Jose Rodriguez Arias (Z396773)</label>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-3" style="margin-left: 3%">
        <div>
          {{fecha | date : 'fullDate' }}
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg" style="background-color: red">
      <div class="container-fluid" style="margin-left: 5%">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <label data-bs-toggle="dropdown" style="color: white" (click)="inicio()"><b
                  id="black">Solicitudes</b></label>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                style="width: 240%; background-color: #2D2D2D; color: white;">
                <div>
                  <li (click)="mostrarAutomatica()" id="black">
                    {{ Automaticas }}
                  </li>
                  <li (click)="mostrarSelectiva()" id="black">
                    {{ Selectivas }}
                  </li>
                  <li (click)="mostrarTMEC()" id="black">{{ TMEC }}</li>
                  <li (click)="mostrarPYME()" id="black">
                    {{ Contrato_PYME }}
                  </li>
                  <li (click)="mostrarComexTMEC()" id="black">
                    {{ Comex_TMEC }}
                  </li>
                  <li (click)="mostrarTurismo()" id="black">{{ Turismo }}</li>
                  <li (click)="mostrarReestructuras()" id="black">
                    {{ Reestructuras }}
                  </li>
                </div>
              </ul>
            </li>
          </ul>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <label data-bs-toggle="dropdown" style="color: white"><b id="black" class="formato">Descargar
                  Formato</b></label>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              &nbsp;&nbsp;
              <img src="../../../assets/img/candado.png" alt="cerrar sesion..." style="width: 20px" height="20px" />
              <label style="color: white"><b id="black"><a class="cerrar" routerLink="">Cerrar Sesion</a></b></label>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <div *ngIf="
        !mostrarSolicitudAutomatica &&
        !mostrarSolicitudSelectiva &&
        !mostrarContratoPyme &&
        !mostrarSolicitudTMEC &&
        !mostrarSolicitudComexTMEC &&
        !mostrarSolicitudTurismo &&
        !mostrarSolicitudReestructura
       ">
      <app-filtro-automaticas></app-filtro-automaticas>
    </div>
    <div *ngIf="mostrarSolicitudAutomatica" class="content">
      <app-filtro-automaticas></app-filtro-automaticas>
    </div>
    <div *ngIf="mostrarSolicitudSelectiva" class="content">
      <app-filtro-selectivas></app-filtro-selectivas>
    </div>
    <div *ngIf="mostrarContratoPyme" class="content">
      <app-filtro-contro-pyme></app-filtro-contro-pyme>
    </div>
    <div *ngIf="mostrarSolicitudComexTMEC" class="content">
      <app-filtro-comex-tmec></app-filtro-comex-tmec>
    </div>
    <div *ngIf="mostrarSolicitudTMEC" class="content">
      <app-filtro-tmec></app-filtro-tmec>
    </div>
    <div *ngIf="mostrarSolicitudTurismo" class="content">
      <app-filtro-turismo></app-filtro-turismo>
    </div>
    <div *ngIf="mostrarSolicitudReestructura" class="content">
      <app-filtro-reestructuracion></app-filtro-reestructuracion>
    </div>
  </form>
</div>

<app-form></app-form>
<app-form-comex-tmec></app-form-comex-tmec>
<app-form-pyme></app-form-pyme>
<app-form-selectivas></app-form-selectivas>
<app-form-tmec></app-form-tmec>
<app-form-turismo></app-form-turismo>
<app-form-reestructuras></app-form-reestructuras>
