<div class="col-sm-12">
    <div class="container" style="display: flex; justify-content: flex-end;">
  
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Filtrar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Exportar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href=""> Exportar Datos<p>
  
    </div>
  
  
    <div class="col-sm-12 p-2">
    <label><b>Reporte Bolsas</b></label>
  
      <div class="dataTables_info">
        <table  class="table table-bordered table-striped row-border hover" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th><small>Est</small></th>
              <th><small>Garantía</small></th>
              <th><small>Buc</small></th>
              <th><small>Razon_Social</small></th>
              <th><small>Moneda</small></th>
              <th><small>Fecha Alta</small></th>
              <th><small>Importe MXN</small></th>
              <th><small>Importe USD</small></th>
              <th><small>Prog</small></th>
              <th><small>% Cober</small></th>
              <th><small>Com Bcmx</small></th>
              <th><small>Acciones</small></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dataStockSelectivas">
              <td><small>{{ user.Est}}</small></td>
              <td><small>{{ user.Garantia}}</small></td>
              <td><small>{{ user.Buc}}</small></td>
              <td><small>{{ user.Razon_Social}}</small></td>
              <td><small>{{ user.Moneda}}</small></td>
              <td><small>{{ user.Fecha_Alta}}</small></td>
              <td><small>{{ user.Importe_MXN}}</small></td>
              <td><small>{{ user.Importe_USD}}</small></td>
              <td><small>{{ user.Prog}}</small></td>
              <td><small>{{ user.Porciento_Cober}}</small></td>              
              <td><small>{{ user.Com_Bcmx}}</small></td>              
              <td><small>&nbsp;<img src="../../../../assets/img/MODIF.ico" data-bs-toggle="modal" data-bs-target="#stockSelectivas">
                &nbsp;&nbsp;<img src="../../../../assets/img/DESACTIVAR.ico" alt="" (click)="desactivar()">
                &nbsp;&nbsp;<img style="width: 15px; height: 15px;" src="../../../../assets/img/refresh.png" alt="" (click)="reactivar()">
                {{ user.Acciones}}</small></td>              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
 
  <app-modal-stock-selectivas></app-modal-stock-selectivas>
