<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
  <div class="col-sm-2">
    <label>CREDITO:</label>
  </div>
  <div class="col-sm-2">
    <label>GARANTIA:</label>
  </div>
  <div class="col-sm-2">
    <label>BUC:</label>
  </div>
  <div class="col-sm-2">
    <label>RAZON SOCIAL:</label>
  </div>
  <div class="col-sm-2">
    <label>GTIAS CONCILIAR:</label>
  </div>
</div>
<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
  <div class="col-sm-2">
    <input type="number">
  </div>
  <div class="col-sm-2">
    <input type="text">
  </div>
  <div class="col-sm-2">
    <input type="number">
  </div>
  <div class="col-sm-2">
    <input type="text">
  </div>
  <div class="col-sm-2">
    <select style="width:100%;height:100%;">
      <option id="black"></option>
      <option id="black">SI</option>
      <option id="black">NO</option>
    </select>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12" style="margin-left: 78%">
    <button id="efecto" class="btn btn-primary" (click)="creditoGtia()">Buscar</button>
    &nbsp;&nbsp;
    <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
  </div>
</div>
<br>

<app-table-credito-garantia *ngIf="mostrarCreditoGtia"></app-table-credito-garantia>