<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
        <label>CREDITO:</label>
    </div>
    <div class="col-sm-2">
        <label>CLIENTE:</label>
    </div>
    <div class="col-sm-2">
        <label>BUC:</label>
    </div>
    <div class="col-sm-2">
        <label>ETIQUETA:</label>
    </div>
    <div class="col-sm-2">
        <label>SITUACION:</label>
    </div>
</div>
<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
        <input type="text">
    </div>
    <div class="col-sm-2">
        <input type="text">
    </div>
    <div class="col-sm-2">
        <input type="text">
    </div>
    <div class="col-sm-2">
        <input type="text">
    </div>
    <div class="col-sm-2">
        <select style="width:100%;height:100%;">
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" style="margin-left: 78%">
        <button id="efecto" class="btn btn-outline-danger">Buscar</button>
        &nbsp;&nbsp;
        <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
    </div>
</div>
<br>
<div class="row" style="margin-left:2%;">
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted"><b>Resumen de Stock de Garantias:</b></h6>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*Stock de Garantias:</b></div>
                    <div class="col-sm-4"><b><u>395</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*Garantias Activas:</b></div>
                    <div class="col-sm-4"><b><u>395</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*Gtias con Excepcion:</b></div>
                    <div class="col-sm-4"><b><u>3</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*Gtias a Conciliar:</b></div>
                    <div class="col-sm-4"><b><u>394</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*CAPEX:</b></div>
                    <div class="col-sm-4"><b><u>4</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*Empresas Comex:</b></div>
                    <div class="col-sm-4"><b><u>60</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*Grandes Empresas:</b></div>
                    <div class="col-sm-4"><b><u>69</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*Grandes Empresas Comex-Temec:</b></div>
                    <div class="col-sm-4"><b><u>1</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*Grandes Empresas T-Mec:</b></div>
                    <div class="col-sm-4"><b><u>26</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*PyME Automotriz:</b></div>
                    <div class="col-sm-4"><b><u>6</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*PyMe Cometx:</b></div>
                    <div class="col-sm-4"><b><u>182</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*PyMe Comex-Temec:</b></div>
                    <div class="col-sm-4"><b><u>6</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*PyME-T-Mec Emp:</b></div>
                    <div class="col-sm-4"><b><u>33</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*PyME Turismo:</b></div>
                    <div class="col-sm-4"><b><u>1</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*Sector Hotelero:</b></div>
                    <div class="col-sm-4"><b><u>7</u></b></div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted"><b>Resumen de Creditos Etiquetados:</b></h6>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*Creditos Vinculados que se reportaran:</b></div>
                    <div class="col-sm-4"><b><u>1691</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*BX02:</b></div>
                    <div class="col-sm-4"><b><u>287</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*BX04:</b></div>
                    <div class="col-sm-4"><b><u>703</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*BX05:</b></div>
                    <div class="col-sm-4"><b><u>258</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*BX06:</b></div>
                    <div class="col-sm-4"><b><u>9</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*BX09:</b></div>
                    <div class="col-sm-4"><b><u>1</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*BX12:</b></div>
                    <div class="col-sm-4"><b><u>1</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*BX17:</b></div>
                    <div class="col-sm-4"><b><u>4</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*BX20:</b></div>
                    <div class="col-sm-4"><b><u>19</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*BX22:</b></div>
                    <div class="col-sm-4"><b><u>31</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*BX23:</b></div>
                    <div class="col-sm-4"><b><u>7</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*Sin Etiqueta:</b></div>
                    <div class="col-sm-4"><b><u>361</u></b></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted"><b>Informacion de reporte a Bancomext(Es importante que esta
                        informacion este correcta antes de enviar a Bancomext)</b></h6>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*Creditos sin clasificar:</b></div>
                    <div class="col-sm-4"><b><u>1012</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*Garantias con creditos</b></div>
                    <div class="col-sm-4"><b><u>376</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*Garantias sin creditos:</b></div>
                    <div class="col-sm-4"><b><u>17</u></b></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted"><b>Resumen de segmentos 390</b></h6>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*BEI:</b></div>
                    <div class="col-sm-4"><b><u>179</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*PYME</b></div>
                    <div class="col-sm-4"><b><u>202</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-8"><b>*Sin segmento 390:</b></div>
                    <div class="col-sm-4"><b><u>14</u></b></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row" style="margin-left:2%;">
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <label><b>Creditos Vinculados a Garantias Activas Sin Movimientos Registrados En SIG</b>
                </label>
                <label style="color:red;">(Es importante que todos los creditos Conciderados para las
                    garantias a reportar enten esten cargados sus movimientos. Esta Area debes estar en
                    0.)</label>
                <hr style="margin-top:0%;">
                <p style="text-align: center; font-size:30px;"><u>89</u></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <label><b>Movimentos sin ninguna garantia Activa para conciliacion.</b>
                </label>
                <label style="color:red;">(No deben existir movimientos de credito que no estan relacionados a ninguna
                    garantia. Esta area debes estar en 0)</label>
                <hr style="margin-top:0%;">
                <p style="text-align: center; font-size:30px;"><u>0</u></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <label><b>Validaciones en Creditos</b>
                </label>
                <label style="color:red;">(Esta area debes estar en 0)</label>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-10">*Creditos sobregirados:</div>
                    <div class="col-sm-2"><b><u>0</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-10">*Credito 05 diferente a gtia:</div>
                    <div class="col-sm-2"><b><u>0</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-10">*Creditos Vinculados anteriores a garantia:</div>
                    <div class="col-sm-2"><b><u>0</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-10">*BUC de credito diferente a garantia:</div>
                    <div class="col-sm-2"><b><u>0</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-10">*Gtias diferentes a SIG vs Extra:</div>
                    <div class="col-sm-2"><b><u>0</u></b></div>
                </div>
                <hr style="margin-top:0%;">
                <div class="row" style="margin-top:5%;">
                    <div class="col-sm-10">*Gtias sin Programas en SIG:</div>
                    <div class="col-sm-2"><b><u>0</u></b></div>
                </div>
            </div>
        </div>
    </div>
</div>