<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
        <label>GARANTIA:</label>
    </div>
    <div class="col-sm-2">
        <label>BUC:</label>
    </div>
    <div class="col-sm-2">
        <label>RAZON SOCIAL:</label>
    </div>
</div>
<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
        <input type="text">
    </div>
    <div class="col-sm-2">
        <input type="text">
    </div>
    <div class="col-sm-2">
        <input type="text">
    </div>
</div>
<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
        <label>RFC:</label>
    </div>
    <div class="col-sm-2">
        <label>PROGRAMA:</label>
    </div>
    <div class="col-sm-2">
        <label>ESTATUS:</label>
    </div>
    <div class="col-sm-2">
        <label>SITUACION:</label>
    </div>
    <div class="col-sm-2">
        <label>SIT COVID:</label>
    </div>
</div>
<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
        <input type="text">
    </div>
    <div class="col-sm-2">
        <input type="text">
    </div>
    <div class="col-sm-2">
        <select style="width:100%;height:100%;">
            <option value="">ACTIVA</option>
            <option value="">INACTIVA</option>
        </select>
    </div>
    <div class="col-sm-2">
        <select style="width:100%;height:100%;">
            <option value="">RENOVAR</option>
            <option value="">VENCIDA</option>
            <option value="">INACTIVA</option>
            <option value="">ACTIVA</option>
        </select>
    </div>
    <div class="col-sm-2">
        <select style="width:100%;height:100%;">
            <option value="">SI</option>
            <option value="">NO</option>
        </select>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12" style="margin-left: 78%">
        <button id="efecto" class="btn btn-outline-danger">Buscar</button>
        &nbsp;&nbsp;
        <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
    </div>
</div>