<!-- Modal -->
<div class="modal fade" id="reactivarBolsa" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: red">
        <h5 class="modal-title" id="staticBackdropLabel" style="color: white">
          Reactivar Bolsa
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="">Seleccione el Programa para seleccionar la Bolsa activar.</label>
        <hr>
        <div>
          <div class="row">
            <div class="col-sm-3">
                <label for="">Selecciona el Programa</label>
              <select id="selectProg" onchange="CargarBolsasInactivas()">
                <option value=""></option>
                <option value="9700">9700 - EMPRESAS COMEX</option>
                <option value="9699">9699 - PYME COMEX MXP AUTOMATICA</option>
                <option value="9701">9701 - GRANDES EMPRESAS COMEX</option>
                <option value="9702">9702 - AUTOMOTRIZ MXP USD COMEX</option>
                <option value="9703">9703 - CAPEX</option>
                <option value="9755">9755 - COMERCIO EXTERIOR PYME T-MEC EMP</option>
                <option value="9754">9754 - COMERCIO EXTERIOR GRANDES EMPRESAS T-MEC</option>
                <option value="9747">9747 - REACTIVACION ECONOMICA SECTOR HOTELERO</option>
              </select>
              <br>
              <br>
            </div>
          </div>
          <label for=""><b>Seleccione la Bolsa que desee Activar</b></label>
          <hr>
            <div class="row">
              <div class="col-sm-3">
                <label for=""><b>Monto de la Bolsa $:</b></label>&nbsp;
                <input type="number" style="background-color: #EEEEEE; cursor: not-allowed;" disabled>
                <br>
                <br>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-5">
                <label for=""><b>Confirmar Monto de la Bolsa $:</b></label>&nbsp;
                <input type="number" style="background-color: #EEEEEE; cursor: not-allowed;" disabled>
                <br>
                <br>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <label for=""><b>Fecha de Vencimiento:</b></label>&nbsp;
                <input type="number" style="background-color: #EEEEEE; cursor: not-allowed;" disabled>
                <br>
                <br>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="col-sm-12">
          <!-- <div id="saveCambios" class="btn btn-outline-danger">Guardar</div> -->
          <div class="btn btn-outline-danger">Guardar</div>
        </div>
      </div>
    </div>
  </div>
