#saveCambios{
    cursor: pointer;
    background: linear-gradient(
      180deg,
      rgb(23, 255, 2) 0%,
      rgb(109, 201, 5) 18.23%,
      rgb(4, 167, 31) 34.37%,
      rgb(3, 128, 13) 48.96%,
      rgb(23, 105, 3) 66.15%,
      rgb(2, 80, 6) 82.29%,
      rgb(2, 53, 11) 100%
    );
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 180px;
    margin: 15px auto;
  }
  
  #saveCambios:hover {
    background-color: rgb(53, 2, 2);
    color: white;
  }
  