<div class="col-sm-12">
  <app-filtrado-tablas></app-filtrado-tablas>
  

  

  <div class="col-sm-12 p-2">
  <label><b>Tabla de Automaticas</b></label>

    <div class="dataTables_info">
      <table  class="table table-bordered table-striped row-border hover" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th><small>idFolio</small></th>
            <th><small>Icon</small></th>
            <th><small>Estatus</small></th>
            <th><small>Buc</small></th>
            <th><small>Acreditado</small></th>
            <th><small>Solicito</small></th>
            <th><small>Solicitado</small></th>
            <th><small>A</small></th>
            <th><small>Z</small></th>
            <th><small>C</small></th>
            <th><small>E</small></th>
            <th><small>Archivos</small></th>
            <th><small>G</small></th>
            <th><small>SLAS</small></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of allUsers">
            <td><small>{{ user.idFolio}}</small></td>
            <td><small>{{ user.Icon}}</small></td>
            <td><small>{{ user.Estatus}}</small></td>
            <td><small>{{ user.Buc }}</small></td>
            <td><small>{{ user.Acreditado }}</small></td>
            <td><small>{{ user.Solicito}}</small></td>
            <td><small>{{ user.Solicitado }}</small></td>
            <td><img src="../../../../assets/img/ver_detalles.ico" 
            data-bs-toggle="modal" data-bs-target="#garantiaS" (click)="setMenu(user.status)"></td>
            <td><img src="../../../../assets/img/verBitacora.ico" alt=""
            data-bs-toggle="modal" data-bs-target="#proceso" ></td>
            <td><img src="../../../../assets/img/pdf.ico" alt=""></td>
            <td><small>{{ user.E }}</small></td>
            <td><small>{{ user.Archivos }}<img src="../../../../assets/img/clip.ico" 
              data-bs-toggle="modal" data-bs-target="#archivos"> </small></td>
            <td><small>{{ user.A }}</small></td>
            <td><small>{{ user.SLAS }}</small></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
<app-bitacora-proceso></app-bitacora-proceso>
<app-archivos-adjuntos></app-archivos-adjuntos>