<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Cargar Portafolio
</button>

<!-- Modal -->
<div class="modal fade ocultar" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color:red;">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white;">Cargar Portafolio de evidencia NAFINET a SIG
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><b>
                        Carga el archivo portafolio proporcionado por Nafinet en txt:
                    </b>
                </p>
                <hr style="color:red;">
                <div class="row">
                    <div class="col-sm-12">
                        <input class="form-control" type="file" id="formFileMultiple" multiple>
                    </div>
                </div>
                <br>
                <button class="btn btn-outline-secondary">Procesar</button>
            </div>
        </div>
    </div>
</div>