<div class="row">
    <div class="col-sm-12" style="margin-left: 78%">
        <button id="efecto" class="btn btn-outline-secondary" (click)="mostrarReporteBolsas()">Buscar</button>
        &nbsp;&nbsp;
        <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
    </div>
</div>
<br>
<br>
<app-table-reporte-bolsa *ngIf="reporteBolsas"></app-table-reporte-bolsa>