<!-- Modal -->
<div class="modal fade" id="modalGarantias" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color: red">
                <h5 class="modal-title" id="staticBackdropLabel" style="color: white">
                    Consulta garantías de cliente
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="">Ingresa los datos para buscar garantias del cliente</label>
                <hr>
                <br>
                <div>
                    <div class="row" style="background-color:#EBF7FF;">
                        <div class="col-sm-3">
                            <label for="">BUC:</label>&nbsp;
                            <input type="text">
                        </div>
                        <div class="col-sm-3">
                            <label for="">FRC:</label>&nbsp;
                            <input type="text">
                        </div>
                        <div class="col-sm-3">
                            <label for="">Cliente:</label>&nbsp;
                            <input type="text">
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-danger">Buscar</button>
                        </div>
                    </div>
                </div>
                <br>
                <div style="border:solid;">
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-outline-secondary">Understood</button>
            </div> -->
        </div>
    </div>
</div>
