<div class="col-sm-12">
    <div class="container" style="display: flex; justify-content: flex-end;">
  
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Filtrar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Exportar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href=""> Exportar Datos<p>
  
    </div>
  
  
    <div class="col-sm-12 p-2">
    <label><b>Folios Nafinet</b></label>
  
      <div class="dataTables_info">
        <table  class="table table-bordered table-striped row-border hover" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th><small>id</small></th>
              <th><small>Solicitante</small></th>
              <th><small>Bolsa Anterior</small></th>
              <th><small>Nuevo Programa</small></th>
              <th><small>Nueva Bolsa</small></th>
              <th><small>Monto</small></th>
              <th><small>Gtia MXP</small></th>
              <th><small>Gtia USD</small></th>
              <th><small>Estatus</small></th>
              <th><small>Fecha Solicitud</small></th>
              <th><small>Fecha Vencimiento</small></th>
              <th><small>Observacion</small></th>
              <th><small>Adjuntos Rechazo</small></th>
              <th><small>Corregir</small></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dataBolsasEnRechazo">
              <td><small>{{ user.id}}</small></td>
              <td><small>{{ user.Solicitante}}</small></td>
              <td><small>{{ user.Bolsa_Anterior}}</small></td>
              <td><small>{{ user.Nombre_Programa}}</small></td>
              <td><small>{{ user.Nueva_Bolsa}}</small></td>
              <td><small>{{ user.Monto}}</small></td>
              <td><small>{{ user.Gtia_MXP}}</small></td>
              <td><small>{{ user.Gtia_USD}}</small></td>
              <td><small>{{ user.Estatus}}</small></td>
              <td><small>{{ user.Fecha_Solicitud}}</small></td>
              <td><small>{{ user.Fecha_Vencimiento}}</small></td>
              <td><small>{{ user.Observacion}}</small></td>
              <td><small>{{ user.Adjuntos_Rechazo}}</small></td>
              <td><small>{{ user.Corregir}}</small></td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
 
   