<div class="col-sm-12">
    <div class="container" style="display: flex; justify-content: flex-end;">
  
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Filtrar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Exportar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href=""> Exportar Datos<p>
  
    </div>
  
  
    <div class="col-sm-12 p-2">
    <label><b>Bolsas En Tramite</b></label>
  
      <div class="dataTables_info">
        <table  class="table table-bordered table-striped row-border hover" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th><small>Id</small></th>
              <th>Solicitante</th>
              <th><small>Bolsa Anterior</small></th>
              <th><small>Nombre Programa</small></th>
              <th><small>Nueva Bolsa</small></th>
              <th><small>Monto</small></th>
              <th><small>GTIA_MXP</small></th>
              <th><small>GTIA_USD</small></th>
              <th><small>Estatus</small></th>
              <th><small>Fecha Solicitud</small></th>
              <th><small>Fecha Vencimiento</small></th>
              <th><small>Autorizar</small></th>
              <th><small>Rechazar</small></th>
              <th><small>Detalle</small></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dataBolsasEnTramite">
              <td><small>{{ user.id}}</small></td>
              <td><small>{{ user.Solicitante}}</small></td>
              <td><small>{{ user.BolsaAnterior}}</small></td>
              <td><small>{{ user.Nombre_Programa}}</small></td>
              <td><small>{{ user.NuevaBolsa}}</small></td>
              <td><small>{{ user.Monto}}</small></td>
              <td><small>{{ user.GTIA_MXP}}</small></td>
              <td><small>{{ user.GTIA_USD}}</small></td>
              <td><small>{{ user.Estatus}}</small></td>
              <td><small>{{ user.Fecha_Sol}}</small></td>
              <td><small>{{ user.Fecha_Ven}}</small></td>
              <td><small><button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalAutorizar">AUTORIZAR</button></small></td>
              <td><small><button class="btn btn-danger btn-sm">RECHAZAR</button></small></td>
              <td><small><img src="../../../../assets/img/ver_detalles.ico" data-bs-toggle="modal" data-bs-target="#modalDetalleBitacora"  alt="">{{ user.Detalle}}</small></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
  <app-detalle-bitacora></app-detalle-bitacora>
<app-modal-autorizar></app-modal-autorizar>