<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Cargar Movimientos de Creditos
</button>

<!-- Modal -->
<div class="modal fade ocultar" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color:red;">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white;">Cargar Movimientos de Creditos
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><b>
                        Indica el nombre del archivo que se encuentra en el servidor con los movimientos de los creditos
                        comext, el archivo debe ser txt con la siguiente estrustura:
                    </b>
                </p>
                <hr style="color:red;">
                <div>
                    <label><b>CREDITO</b></label><label style="color:red;">|</label><label><b>FECHA DESDE</b></label><label
                        style="color:red;">|</label><label><b>FECHA HASTA</b></label><label
                        style="color:red;">|</label><label><b>NOMBRE</b></label><label
                        style="color:red;">|</label><label><b>FECHA(AAAA-MM-DD)</b></label><label
                        style="color:red;">|</label><label><b>REFERENCIA</b></label><label
                        style="color:red;">|</label><label><b>OPERACION</b></label><label
                        style="color:red;">|</label><label><b>CARGO</b></label><label
                        style="color:red;">|</label><label><b>ABONO</b></label><label style="color:red;">|</label>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <input class="form-control" type="file" id="formFileMultiple" multiple>
                    </div>
                </div>
                <br>
                <button class="btn btn-outline-secondary">Procesar</button>
            </div>
        </div>
    </div>
</div>