<div class="col-sm-12">
    <div class="container" style="display: flex; justify-content: flex-end;">
  
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Filtrar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Exportar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href=""> Exportar Datos<p>
  
    </div>
  
  
    <div class="col-sm-12 p-2">
    <label><b>Reporte Bolsas</b></label>
  
      <div class="dataTables_info">
        <table  class="table table-bordered table-striped row-border hover" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th><small>Usuario</small></th>
              <th><small>Nombre Archivo</small></th>
              <th><small>Periodo Conciliacion</small></th>
              <th><small>Fecha Creacion</small></th>
              <th><small>Tipo de Cambio Utilizado</small></th>
              <th><small>Descargar</small></th>
             
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dataBuscarReporte">
              <td><small>{{ user.Usuario}}</small></td>
              <td><small>{{ user.Nombre_Archivo}}</small></td>
              <td><small>{{ user.Periodo_Conciliacion}}</small></td>
              <td><small>{{ user.Fecha_De_Creacion}}</small></td>
              <td><small>{{ user.Tipo_De_Cambio_Utilizado}}</small></td>
              <td><small style="text-decoration: underline; color: blue;">{{ user.Descargar}}DESCARGAR</small></td>     
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
 
   