<div class="row">
    <div class="col-sm-12" style="margin-left: 78%">
        <button id="efecto" class="btn btn-outline-secondary" (click)=mostarReporteEjecutivo()>Buscar</button>
        &nbsp;&nbsp;
        <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
    </div>
</div>
<br>
<br>
<app-table-buscar-reporte *ngIf="reporteEjecutivo"></app-table-buscar-reporte>