<div class="row" style="text-align: center">
    <div class="col-sm-4">
      <label>GARANTIA:</label>&nbsp;
      <input type="text" />
    </div>
    <div class="col-sm-4">
        <label>SOBRE GIRO:</label>&nbsp;
        <select style="width: 40%; height: 80%" >
          <option></option>
          <option id="black">SOBREGIRO</option>
          <option id="black">OK</option>
        </select>
      </div>
    <div class="col-sm-3">
      <label>FECHA:</label>&nbsp;
      <input type="date" />
    </div>
    <br />

  </div>
  <br/><br/>
  <div class="row">
    <div class="col-sm-12" style="margin-left: 78%">
      <button id="efecto" class="btn btn-outline-secondary" (click)="mostrarSobregiros()">Buscar</button>
      &nbsp;&nbsp;
      <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
    </div>
  </div>
  <br>
  <app-sobregiros *ngIf="sobregiros"></app-sobregiros>