<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" id="btnModalBmx" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Generar Reporte BMX
</button>

<!-- Modal -->
<div class="modal fade ocultar" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color:red;">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white;">Generar Reporte BMX</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Indica el tipo de reporte que deseas generar de las garantias. Estos reportes se Generan con la
                    informacioncargada de la ultima conciliacion Registrada o en proceso
                </p>
                <div class="row" style="background-color:#8AB2CB;">
                    <div class="col-sm-1">                        
                        <input type="radio">
                    </div>
                    <div class="col-sm-11">
                        <p>De acuerdo a Archivo Extrafor=extra</p>
                    </div>
                </div>
                <div class="row" style="background-color:#8AB2CB;">
                    <div class="col-sm-1">                        
                        <input type="radio">
                    </div>
                    <div class="col-sm-4">
                        <p>Generar Conciliacion de periodo especifico</p>
                    </div>
                    <div class="col-sm-2">                        
                        <input type="text">
                    </div>
                </div>
                <div class="row" style="background-color:#8AB2CB;">
                    <div class="col-sm-1">                        
                        <input type="radio">
                    </div>
                    <div class="col-sm-11">
                        <p>Conciliacion Historica de todas las garantias</p>
                    </div>
                </div>
                <div class="row" style="background-color:#8AB2CB;">
                    <div class="col-sm-1">                        
                        <input type="radio">
                    </div>
                    <div class="col-sm-11">
                        <p>Conciliacion Historica de las garantias Seleccionadas(Ingresa garantias)</p>
                    </div>
                </div>
                <br>
                <button class="btn btn-outline-secondary">Procesar</button>
                <br>    
                <br>
                <p style="background-color:#E8FEFF;">Va mostrando resultado y avances</p>
            </div>
        </div>
    </div>
</div>