<!-- Modal -->
<div class="modal fade" id="garantiaSelectivas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color: red">
        <h5 class="modal-title" id="staticBackdropLabel" style="color: white">
          Solicitud Credito - Selectivas
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="height:30px;" class="row" style="background-color: #e3e7ec">
          <div class="row" style="background-color: #e3e7ec">
            <div class="col-sm-3">
              <label for="">Crear Folio:</label>&nbsp;
              <button class="btn btn-outline-dark" (click)="mostrarContenido()">Crear Folio</button>
            </div>
            <div class="col-sm-4" *ngIf="show">
              <label for=""><b style="text-decoration:underline; "><u>Folio:
                    20220523-153</u></b></label>&nbsp;&nbsp;&nbsp;&nbsp;
              <button class="btn btn-danger btn-sm" style="color: white" *ngIf="show">
                Cancelar Folio
              </button>
            </div>
            <div class="col-sm-2" *ngIf="show">
              <a href=""> <img src="../../../../assets/img/subir.ico" alt="doc..."><small>Subir Documento.</small> </a>
            </div>
            <div class="col-sm-3">
              <label for="">Fecha Solicitud:</label>&nbsp;
              <label for="" style="color: red"><u>{{fecha | date: 'M/d/yyyy'}}</u></label>
            </div>
          </div>

          <br>
          <br>
          <app-steper *ngIf="show"></app-steper>

          <br />

          <div class="accordion" id="accordionExample" *ngIf="show">
            <div class="accordion-item">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTree" aria-expanded="false" aria-controls="collapseTree">
                    <label for="" style="color: blue"><b>Eleccion de Garantía:</b></label>
                  </button>
                </h2>
                <div id="collapseTree" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body" style="background-color: #ffffcc">
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Tipo Garantia Selectiva:</label>
                      </div>
                      <div class="col-sm-3">
                        <select>
                          <option value="" selected="selected"></option>
                          <option value="COMEX 50%">COMEX 50%</option>
                          <option value="Automotriz 90%">Automotriz 90%</option>
                          <option value="Turismo 50%">Turismo 50%</option>
                          <option value="Turismo 70%">Turismo 70%</option>
                          <option value="CAPEX 90%">CAPEX 90%</option>
                          <option value="Empresarial 50%">Empresarial 50%</option>
                        </select>
                      </div>
                      <div class="col-sm-3">
                        <label for="">Etiqueta:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group input-group-sm mb-3">
                          <input [(ngModel)]="etiquetaNormal" style="text-transform: uppercase; cursor: not-allowed;"
                            type="text" class="form-control mt-1" name="personalOcu" required maxlength="5"
                            disabled="disabled">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <label for="" style="color: blue"><b>Datos del cliente</b></label>
                </button>

              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body" style="background-color: #ffffcc">
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="">BUC:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-3">
                        <input style="text-transform: uppercase;" [(ngModel)]="buc" type="text"
                          class="form-control mt-1" name="buc" required maxlength="8">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label for="">Regional</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-3">
                        <select>
                          <option value="" selected></option>
                          <option value="Centro">Centro</option>
                          <option value="Metro Norte">Metro Norte</option>
                          <option value="Metro Sur">Metro Sur</option>
                          <option value="Noreste">Noreste</option>
                          <option value="Noroeste">Noroeste</option>
                          <option value="Norte">Norte</option>
                          <option value="Occidente">Occidente</option>
                          <option value="Sur">Sur</option>
                          <option value="Sureste">Sureste</option>
                        </select>
                      </div>
                    </div>
                    <br><br>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="">Nombre o Razon Social del Acreditado:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-3">
                        <input style="text-transform: uppercase;" [(ngModel)]="nombreORazonSocial" type="text"
                          class="form-control mt-1" name="nombreORazonSocial" required maxlength="13">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label for="">RFC del Acreditado:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group mb-3">
                        <input style="text-transform: uppercase;" [(ngModel)]="rfc" type="text"
                          class="form-control mt-1" name="rfc" required maxlength="13">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="">Colonia del acreditado:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-3">
                        <input style="text-transform: uppercase;" [(ngModel)]="colonia" type="text"
                          class="form-control mt-1" name="colonia" required maxlength="60">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label for="">Calle y Numero del acreditado:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-3">
                        <input style="text-transform: uppercase;" [(ngModel)]="calleNumero" type="textt"
                          class="form-control mt-1" name="calle" required maxlength="60">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="">Municipio o Delegacion del acreditado:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group mb-3">
                        <input style="text-transform: uppercase;" [(ngModel)]="delegacion" type="text"
                          class="form-control mt-1" name="delegacion" required maxlength="60">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label for="">Ciudad:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-3">
                        <input style="text-transform: uppercase;" [(ngModel)]="ciudad" type="text"
                          class="form-control mt-1" name="ciudad" required maxlength="60">
                      </div>
                    </div>
                  </div>
                  <br />

                  <br />
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="">Codigo Postal:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-3">
                        <input style="text-transform: uppercase;" [(ngModel)]="cp" type="text" class="form-control mt-1"
                          name="codigoP" required maxlength="5">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label for="">Estado o Entidad Federativa del Acreditado:</label>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-3">
                        <input style="cursor: not-allowed; text-transform: uppercase;" [(ngModel)]="entidad" type="text"
                          class="form-control mt-1" name="entidad" required maxlength="60">
                      </div>
                    </div>
                  </div>
                  <br />
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <label for="" style="color: blue"><b>Anexo de Informacion</b></label>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body" style="background-color: #ffffcc">
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Giro de la Actividad a la que se dedica el acreditado:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group input-group-sm mb-3">
                          <input [(ngModel)]="giroAcreditado" style="text-transform: uppercase;" type="text"
                            class="form-control mt-1" name="giroAcreditado" required maxlength="100">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label for="">Sector General:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <select [(ngModel)]="sectorGeneral" class="form-select">
                            <option value="" selected="selected"></option>
                            <option value="SERVICIOS">SERVICIOS</option>
                            <option value="COMERCIO">COMERCIO</option>
                            <option value="INDUSTRIA">INDUSTRIA</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Segtor de la Actividad Econimica:</label>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group input-group-sm mb-3">
                          <select [(ngModel)]="sectorActivida" class="form-select">
                            <option value="" selected></option>
                            <option value="1-BENEFICIO DE MINERALES">1-BENEFICIO DE MINERALES</option>
                            <option value="2-COMERCIO">2-COMERCIO</option>
                            <option value="3-CONSTRUCCION">3-CONSTRUCCION</option>
                            <option value="4-ELECTRICIDAD">4-ELECTRICIDAD</option>
                            <option value="5-INDUSTRIA DE LA MADERA Y PRODUCTOS DE MADERA">5-INDUSTRIA DE LA MADERA Y
                              PRODUCTOS DE MADERA</option>
                            <option value="6-INDUSTRIAS METALICAS BASICAS">6-INDUSTRIAS METALICAS BASICAS</option>
                            <option value="7-OTRAS INDUSTRIAS MANUFACTURERAS">7-OTRAS INDUSTRIAS MANUFACTURERAS</option>
                            <option value="8-PAPEL Y PRODUCTOS DE PAPEL, IMPRENTAS Y EDITORIALES">8-PAPEL Y PRODUCTOS DE
                              PAPEL, IMPRENTAS Y EDITORIALES</option>
                            <option value="9-PRODUCTOS ALIMENTICIOS, BEBIDAS Y TABACO">9-PRODUCTOS ALIMENTICIOS, BEBIDAS
                              Y TABACO</option>
                            <option value="10-PRODUCTOS METALICOS, MAQUINARIA Y EQUIPO">10-PRODUCTOS METALICOS,
                              MAQUINARIA Y EQUIPO</option>
                            <option
                              value="11-PRODUCTOS MINERALES NO METALICOS, EXCEPTO LOS DERIVADOS DEL PETROLEO Y DEL CARBON">
                              11-PRODUCTOS MINERALES NO METALICOS, EXCEPTO LOS DERIVADOS DEL PETROLEO Y DEL CARBON
                            </option>
                            <option value="12-SERVICIOS">12-SERVICIOS</option>
                            <option
                              value="13-SUSTANCIAS QUIMICAS, PRODUCTOS DERIVADOS DEL PETROLEO, DEL CARBON, DE HULE Y PLASTICO">
                              13-SUSTANCIAS QUIMICAS, PRODUCTOS DERIVADOS DEL PETROLEO, DEL CARBON, DE HULE Y PLASTICO
                            </option>
                            <option value="14-TEXTILES Y PRENDAS DE VESTIR E INDUSTRIA DEL CUERO">14-TEXTILES Y PRENDAS
                              DE VESTIR E INDUSTRIA DEL CUERO</option>
                            <option value="15-TRATAMIENTO DE AGUA PARA USO INDUSTRIAL">15-TRATAMIENTO DE AGUA PARA USO
                              INDUSTRIAL</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Personal Ocupado (numero):</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group input-group-sm mb-3">
                          <input [(ngModel)]="personalOcupado" style="text-transform: uppercase;" type="text"
                            class="form-control mt-1" name="personalOcu" required maxlength="5">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label for="">Promedio de Ventas Anual (en pesos):</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group input-group-sm mb-3">
                          <input [(ngModel)]="promedioAnual" style="text-transform: uppercase;" type="text"
                            class="form-control mt-1" name="promedioAnual" required maxlength="20">
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Antiguedad del acreditado como cliente del intermediario (en meses):</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group input-group-sm mb-3">
                          <input [(ngModel)]="antiguedadAcreditado" style="text-transform: uppercase;" type="text"
                            class="form-control mt-1" name="antiguedadAcreditado" required maxlength="3">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label for="">Nombre del Contacto y/o Representante:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group input-group-sm mb-3">
                          <input [(ngModel)]="ContactoRepresentante" style="text-transform: uppercase;" type="text"
                            class="form-control mt-1" name="ContactoRepresentante" required maxlength="100">
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Telefono con Lada:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group input-group-sm mb-3">
                          <input [(ngModel)]="telefono" style="text-transform: uppercase;" type="text"
                            class="form-control mt-1" name="telefono" required maxlength="1">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label for="">Correo Electronico:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group input-group-sm mb-3">
                          <input [(ngModel)]="correo" style="text-transform: uppercase;" type="text"
                            class="form-control mt-1" name="correo" required maxlength="80">
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Dependencia de Gobierno a la que vende, en su caso:</label>
                      </div>
                      <div class="col-sm-4">
                        <div class="input-group input-group-sm mb-3">
                          <input [(ngModel)]="gobiernoVende" style="text-transform: uppercase;" type="text"
                            class="form-control mt-1" name="gobiernoVende" required maxlength="100">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label for="">Proposito del Proyecto:</label>
                    </div>
                    <div class="col-sm-7">
                      <div class="input-group mb-3">
                        <select [(ngModel)]="propositoProyecto" class="form-select">
                          <option value="" selected="selected"></option>
                          <option value="ADAPTACION DE TECNOLOGIA, INVESTIGACION Y DESARROLLO DE NUEVA TECNOLOGIA">
                            ADAPTACION DE TECNOLOGIA, INVESTIGACION Y DESARROLLO DE NUEVA TECNOLOGIA </option>
                          <option value="ADQUISICION DE TECNOLOGIA">ADQUISICION DE TECNOLOGIA</option>
                          <option value="APOYO A LA EDUCACION SUPERIOR">APOYO A LA EDUCACION SUPERIOR</option>
                          <option value="BURSATIL">BURSATIL</option>
                          <option value="CAPITAL DE TRABAJO">CAPITAL DE TRABAJO</option>
                          <option value="CREACION Y DESARROLLO DE INFRAESTRUCTURA, INDUSTRIAL, MEJORAMIENTO AMBIENTAL">
                            CREACION Y DESARROLLO DE INFRAESTRUCTURA, INDUSTRIAL, MEJORAMIENTO AMBIENTAL </option>
                          <option value="DESARROLLO TECNOLOGICO">DESARROLLO TECNOLOGICO</option>
                          <option value="MICROCREDITO">MICROCREDITO</option>
                          <option value="MODERNIZACION">MODERNIZACION</option>
                          <option value="PROGRAMA EMERGENTE APOYO A LAS EMPRESAS AFECTADAS">PROGRAMA EMERGENTE APOYO A
                            LAS EMPRESAS AFECTADAS</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Tipo de Garantias del Credito Otorgada por el Acreditado:</label>
                      </div>
                      <div class="col-sm-3">
                        <select [(ngModel)]="garantiaOtorgada" class="form-select">
                          <option value="" selected="selected"></option>
                          <option value="FIDEICOMISO DE GARANTIA">FIDEICOMISO DE GARANTIA</option>
                          <option value="HIPOTECARIA">HIPOTECARIA</option>
                          <option value="HIPOTECARIA Y PRENDARIA">HIPOTECARIA Y PRENDARIA</option>
                          <option value="OBLIGADO Y/O AVALISTA">OBLIGADO Y/O AVALISTA</option>
                          <option value="PRENDARIA">PRENDARIA</option>
                          <option value="SIN GARANTIA">SIN GARANTIA</option>
                        </select>
                      </div>
                      <div class="col-sm-3">
                        <label for="">Monto de la garantia Otorgada (en pesos) :</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group input-group-sm mb-3">
                          <input [(ngModel)]="montoOtorgada" style="text-transform: uppercase;" type="text"
                            class="form-control mt-1" name="montoOtorgada" required maxlength="20">
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Tipo de Destino de los Recursos:</label>
                      </div>
                      <div class="col-sm-3">
                        <select [(ngModel)]="destinoRecursos">
                          <option selected></option>
                          <option value="ACTIVOS FIJOS">ACTIVOS FIJOS</option>
                          <option value="ADQUISICION DE MATERIAS PRIMAS Y MATERIALES">ADQUISICION DE MATERIAS PRIMAS Y
                            MATERIALES</option>
                          <option value="ADQUISICION E INSTALACION DE MAQUINARIA, EQUIPO Y MOBILIARIO">ADQUISICION E
                            INSTALACION DE MAQUINARIA, EQUIPO Y MOBILIARIO</option>
                          <option value="ADQUISICION UNIDADES DE TRANSPORTE NUEVAS">ADQUISICION UNIDADES DE TRANSPORTE
                            NUEVAS</option>
                          <option value="ADQUISICION UNIDADES DE TRANSPORTE NUEVAS Y SEMINUEVAS">ADQUISICION UNIDADES DE
                            TRANSPORTE NUEVAS Y SEMINUEVAS</option>
                          <option value="ADQUISICION, CONSTRUCCION O REMODELACION DE NAVES INDUSTRIALES">ADQUISICION,
                            CONSTRUCCION O REMODELACION DE NAVES INDUSTRIALES</option>
                          <option value="CAPITAL DE TRABAJO">CAPITAL DE TRABAJO</option>
                          <option value="CAPITAL DE TRABAJO Y CONSTRUCCION">CAPITAL DE TRABAJO Y CONSTRUCCION</option>
                          <option value="CAPITAL DE TRABAJO Y RECONSTRUCCION">CAPITAL DE TRABAJO Y RECONSTRUCCION
                          </option>
                          <option value="CONTRATOS DE SERVICIO ADQUISICIONES Y OBRA DEL GOBIERNO FEDERAL">CONTRATOS DE
                            SERVICIO ADQUISICIONES Y OBRA DEL GOBIERNO FEDERAL</option>
                          <option value="FINANCIAMIENTO A CLIENTES">FINANCIAMIENTO A CLIENTES</option>
                          <option value="GASTOS DE CAPACITACION">GASTOS DE CAPACITACION</option>
                          <option value="INVERSION DE VEHICULOS DESTINADOS AL SERVICIO DE TAXIS">INVERSION DE VEHICULOS
                            DESTINADOS AL SERVICIO DE TAXIS</option>
                          <option value="OBLIGACION PARCIAL DE PAGO FRENTE A TENEDORES">OBLIGACION PARCIAL DE PAGO
                            FRENTE A TENEDORES</option>
                          <option value="OBRA PUBLICA E INFRAESTRUCTURA">OBRA PUBLICA E INFRAESTRUCTURA</option>
                          <option value="REALIZACION DE ESTUDIOS DE VIABILIDAD E INGENIERIA">REALIZACION DE ESTUDIOS DE
                            VIABILIDAD E INGENIERIA</option>
                          <option value="REUBICACION DE INSTALACIONES">REUBICACION DE INSTALACIONES</option>
                          <option value="SUELDOS Y SALARIOS">SUELDOS Y SALARIOS</option>
                        </select>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Porcentaje Parcial:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group input-group-sm mb-3">
                          <input [(ngModel)]="porcentajeParcial" style="text-transform: uppercase; cursor: not-allowed;"
                            type="text" class="form-control mt-1" placeholder="" name="Parcial" required maxlength="3"
                            disabled="">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label for="">Porcentaje Origen Nacional:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group input-group-sm mb-3">
                          <input [(ngModel)]="porcentajeNacional" style="text-transform: uppercase;" type="text"
                            class="form-control mt-1" name="porcentajeNacional" required maxlength="10">
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="clo-sm-3">
                        <label for="">Porcentaje de Importacion:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group input-group-sm mb-3">
                          <input [(ngModel)]="porcentajeImportacion"
                            style="text-transform: uppercase; cursor: not-allowed;" type="text"
                            class="form-control mt-1" name="porcentajeImportacion" required maxlength="10" disabled="">
                        </div>
                      </div>
                      <div class="clo-sm-3">
                        <label for="">Porcentaje de la Produccion destinada al Mercado Interno:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group input-group-sm mb-3">
                          <input [(ngModel)]="porcentajeMercadoInterno" style="text-transform: uppercase;" type="text"
                            class="form-control mt-1" name="porcentajeImportacion" required maxlength="10">
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Porcentaje de la produccion destinada al Mercado
                          Externo:</label>
                      </div>
                      <div class="col-sm-3">
                        <input [(ngModel)]="porcentajeMercadoExterno"
                          style="text-transform: uppercase; cursor: not-allowed" type="text" class="form-control mt-1"
                          name="porcentajeME" required maxlength="10" disabled="disabled">
                      </div>

                      <div class="col-sm-3">
                        <label for="">Clave Financiamiento</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [(ngModel)]="CveFinanciamiento" style="text-transform: uppercase; cursor: not-allowed"
                            type="text" class="form-control mt-1" name="CveFinanciamiento" required maxlength="2"
                            disabled="disabled">
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Tipo Credito:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group input-group-sm mb-3">
                          <select [(ngModel)]="tipoCredito">
                            <option value="" selected="selected"></option>
                            <option value="CREDITO REVOLVENTE">CREDITO REVOLVENTE</option>
                            <option value="HABILITACION O AVIO">HABILITACION O AVIO</option>
                            <option value="REFACCIONARIOS">REFACCIONARIOS</option>
                            <option value="SIMPLE">SIMPLE</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label for="">Programa:</label>
                      </div>
                      <div class="col-sm-3">
                        <input [(ngModel)]="Programa" style="text-transform: uppercase;" type="text"
                          class="form-control mt-1" name="Programa" required maxlength="40">
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Importe del Credito:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [(ngModel)]="importeCredito" style="text-transform: uppercase;" type="text"
                            class="form-control mt-1" name="importeCredito" required maxlength="20">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Destino del Credito:</label>
                      </div>
                      <div class="col-sm-9" style="height: 85%">
                        <input [(ngModel)]="date" style="text-transform: uppercase; cursor: not-allowed;" type="text"
                          class="form-control mt-1" name="fechaFirma" required maxlength="100" disabled="">
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Moneda:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group input-group-sm mb-3">
                          <select [ngModel]="moneda" class="form-select">
                            <option value="" selected="selected"></option>
                            <option value="USD">DOLARES AMERICANOS</option>
                            <option value="MXP">PESOS MEXICANOS</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label for="">Fuentes de Recursos:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [(ngModel)]="fuentes" style="text-transform: uppercase; cursor: not-allowed;"
                            type="text" class="form-control mt-1" name="fuentes" required maxlength="40" disabled="">
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Forma de Disposicion:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [(ngModel)]="disposicion"
                          style="text-transform: uppercase;" type="text"
                          class="form-control mt-1" name="disposicion" required maxlength="40" >
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label for="">Forma de Amortizacion:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <select  [ngModel]="amortizacion" class="form-select">
                            <option value="" selected="selected"></option>
                            <option value="REFINANCIAMIENTO DE INTERESES">REFINANCIAMIENTO DE INTERESES</option>
                            <option value="TRADICIONAL">TRADICIONAL</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Fecha Disposicion:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [(ngModel)]="Fdisposicion"
                          style="text-transform: uppercase; cursor: not-allowed;" type="text"
                          class="form-control mt-1" name="Fdisposicion" required maxlength="10" disabled="">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label for="">Importe de Disposicion:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [ngModel]="Idisposicion" style="text-transform: uppercase; cursor: not-allowed;" type="text"
                          class="form-control mt-1" name="Idisposicion" required maxlength="10" disabled="" >
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Tipo de Autorizacion:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [ngModel]="TAutorizacion" style="text-transform: uppercase; cursor: not-allowed;" type="text"
                          class="form-control mt-1" name="porcenGarantia" required maxlength="20" disabled="" >
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label for="">Calificacion Inicial:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [ngModel]="calificacion" style="text-transform: uppercase;" type="text"
                          class="form-control mt-1" name="calificacion" required maxlength="40" >
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Plazo del Credito (mes con dias en su caso):</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [ngModel]="Plazo" style="text-transform: uppercase;" type="text"
                          class="form-control mt-1" name="Plazo" required maxlength="40" >
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label for="">Periodo de gracia en meses (en su caso):</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [ngModel]="periodo" style="text-transform: uppercase;" type="text"
                          class="form-control mt-1" name="periodo" required maxlength="40" >
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Periodicidad del Pago del Capital</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [ngModel]="Periodicidad" style="text-transform: uppercase;" type="text"
                          class="form-control mt-1" name="Periodicidad" required maxlength="40" >
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label for="">Sobre Tasa(Spread):</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [ngModel]="Spread" style="text-transform: uppercase; cursor: not-allowed;" type="text"
                          class="form-control mt-1" name="Spread" required maxlength="40" disabled="" >
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Tipo Tasa:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [ngModel]="tipoTasa" style="text-transform: uppercase; cursor: not-allowed;" type="text"
                          class="form-control mt-1" name="tipoTasa" required maxlength="20" disabled="" >
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label for="">Tasa de Interes Ordinaria:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [ngModel]="tasaInteres" style="text-transform: uppercase; cursor: not-allowed;" type="text"
                          class="form-control mt-1" name="tasaInteres" required maxlength="40" disabled="" >
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Tasa Interes Moratoria:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [ngModel]="tasaMoratoria" style="text-transform: uppercase;" type="text"
                          class="form-control mt-1" name="tasaMoratoria" required maxlength="40">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label for="">Prioricidad de Pagos de Intereses:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [ngModel]="prioricidadInteres" style="text-transform: uppercase;" type="text"
                          class="form-control mt-1" name="prioricidadInteres" required maxlength="40">
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Seguros/1:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [ngModel]="seguros1" style="text-transform: uppercase; cursor: not-allowed;" type="text"
                          class="form-control mt-1" name="tasaMoratoria" required maxlength="40" disabled="">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label for="">Condiciones previas a la disposicion/2 :</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [ngModel]="dispos1" style="text-transform: uppercase; cursor: not-allowed;" type="text"
                          class="form-control mt-1" name="dispos1" required maxlength="40" disabled="">
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Comisiones:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [ngModel]="comisiones" style="text-transform: uppercase;" type="text"
                          class="form-control mt-1" name="comisiones" required maxlength="40" >
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label for="">Codigo Bien:</label>
                      </div>
                      <div class="col-sm-3">
                        <div class="input-group mb-3">
                          <input [ngModel]="codigoBien" style="text-transform: uppercase; cursor: not-allowed;" type="text"
                          class="form-control mt-1" name="codigoBien" required maxlength="60" disabled="">
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="">Tipo de Garantia:</label>
                      </div>
                      <div class="col-sm-9">
                        <div class="input-group mb-3">
                          <input [ngModel]="Tgarantia" style="text-transform: uppercase; cursor: not-allowed;" type="text"
                          class="form-control mt-1" name="Tgarantia" required maxlength="60" disabled="">
                        </div>
                      </div>
                    </div>
                    <br>
                     </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer" *ngIf="show">
          <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert" id="myAlert">
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert"
              aria-label="Close"></button>
          </div>
          <button type="button" class="btn btn-lg btn-danger" data-bs-dismiss="modal">
            Generar Solicitud
          </button>
        </div>
      </div>
    </div>
  </div>
