<div class="col-sm-12">
    <div class="container" style="display: flex; justify-content: flex-end;">
  
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Filtrar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Exportar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href=""> Exportar Datos<p>
  
    </div>
  
    <div class="col-sm-12 p-2">
    <label><b>Consulta Bitacora Correos</b></label>
  
      <div class="dataTables_info">
        <table  class="table table-bordered table-striped row-border hover" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th><small>id</small></th>
              <th><small>Fecha</small></th>
              <th><small>Usuario</small></th>
              <th><small>Expediente</small></th>
              <th><small>Accion</small></th>
              <th><small>Descripcion</small></th>
            
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dataConsultaBitacoraCorreos">
              <td><small>{{ user.id}}</small></td>
              <td><small>{{user.Fecha}}</small></td>
              <td><small>{{ user.Usuario}}</small></td>
              <td><small>{{ user.Expediente}}</small></td>
              <td><small>{{ user.Accion}}</small></td>
              <td><small>{{ user.Descripcion}}</small></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
 