<div class="col-sm-12">
    <div class="container" style="display: flex; justify-content: flex-end;">
  
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Filtrar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Exportar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href=""> Exportar Datos<p>
  
    </div>
  
  
    <div class="col-sm-12 p-2">
    <label><b>Bitacora en Bolsa</b></label>
  
      <div class="dataTables_info">
        <table  class="table table-bordered table-striped row-border hover" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th><small>Folio Solicitud</small></th>
              <th>Solicito</th>
              <th><small>Estatus</small></th>
              <th><small>Bolsa Anterior</small></th>
              <th><small>Nueva Bolsa</small></th>
              <th><small>Monto Nueva Bolsa</small></th>
              <th><small>Programa</small></th>
              <th><small>Etiqueta Asignada</small></th>
              <th><small>Moneda</small></th>
              <th><small>Garantía ALTAIR Pesos</small></th>
              <th><small>Garantía ALTAIR Dolares</small></th>
              <th><small>Fecha Solicitud</small></th>
              <th><small>Detalle</small></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dataBitacoraEnBolsas">
              <td><small>{{ user.Folio_Solicitud}}</small></td>
              <td><small>{{ user.Solicito}}</small></td>
              <td><small>{{ user.Estatus}}</small></td>
              <td><small>{{ user.Bolsa_Anterior}}</small></td>
              <td><small>{{ user.Nueva_Bolsa}}</small></td>
              <td><small>{{ user.Monto_Nueva_Bolsa}}</small></td>
              <td><small>{{ user.Programa}}</small></td>
              <td><small>{{ user.Etiqueta_Asignada}}</small></td>
              <td><small>{{ user.Moneda}}</small></td>
              <td><small>{{ user.Garantia_ALTAIR_Pesos}}</small></td>
              <td><small>{{ user.Garantia_ALTAIR_Dolares}}</small></td>
              <td><small>{{ user.Fecha_Solicitud}}</small></td>
                <td><small>{{user.Detalle}}<img data-bs-toggle="modal" data-bs-target="#modalDetalleBitacora" src="../../../../assets/img/ver_detalles.ico" alt=""></small></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
 <app-detalle-bitacora></app-detalle-bitacora>