<!-- Modal -->
<div class="modal fade" id="reporteBolsa" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color: red">
                <h5 class="modal-title" id="staticBackdropLabel" style="color: white">
                    Detalle de la Bolsa: 1234 - PYME AUTOMOTRIZ DOLARES con TC $25
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="">Detalle de los Folios que se encuentran actualmente en el Programa: 
                    9183 - PYME AUTOMOTRIZ DOLARES
                </label>
                <hr>
                <div>
                    <div class="row">
                       <label for=""><b>Folios:</b></label> 
                     <app-table-modal-detalle-bolsa></app-table-modal-detalle-bolsa>
                </div>
                <br>

            </div>
          
        </div>
    </div>
</div>
