<div class="row">
    <div class="col-sm-12" style="margin-left: 78%">
        <button id="efecto" class="btn btn-primary" (click)="mostrarTipoCambio()">Buscar</button>
        &nbsp;&nbsp;
        <button id="efecto" class="btn btn-primary">Limpiar</button>
    </div>
</div>
<br>
<br>    
<app-table-tipo-cambio *ngIf="tipoCambio"></app-table-tipo-cambio>