<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
        <label>GARANTIA:</label>
    </div>
    <div class="col-sm-2">
        <label>RFC:</label>
    </div>
    <div class="col-sm-2">
        <label>NOMBRE:</label>
    </div>
    <div class="col-sm-2">
        <label>PROGRAMA:</label>
    </div>
    <div class="col-sm-2">
        <label>MONEDA:</label>
    </div>
    <div class="col-sm-2">
        <label>TIPO:</label>
    </div>
</div>
<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
        <input type="text">
    </div>
    <div class="col-sm-2">
        <input type="text">
    </div>
    <div class="col-sm-2">
        <input type="text">
    </div>
    <div class="col-sm-2">
        <input type="text">
    </div>
    <div class="col-sm-2">
        <select name="" id="">
            <option value="">PESOS</option>
            <option value="">DOLARES</option>
        </select>
    </div>
    <div class="col-sm-2">
        <select name="" id="">
            <option value="">REVOLVENTE</option>
            <option value="">DECRECIENTE</option>
        </select>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12" style="margin-left: 78%">
        <button id="efecto" class="btn btn-outline-danger">Buscar</button>
        &nbsp;&nbsp;
        <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
    </div>
</div>
<br>