<br>
<div class="col-sm-12">
  <app-filtrado-tablas></app-filtrado-tablas>

  <div class="col-sm-12 p-2">
  <label><b>Tabla de Automaticas</b></label>

    <div class="dataTables_info">
      <table  class="table table-bordered table-striped row-border hover" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th><small>Elim</small></th>
            <th><small>id</small></th>
            <th><small>R</small></th>
            <th><small>I</small></th>
            <th><small>Folio</small></th>
            <th><small>Firma_Contrato</small></th>
            <th><small>Cvel_Nafinet</small></th>
            <th><small>Estatus</small></th>
            <th><small>Buc</small></th>
            <th><small>Acreditado</small></th>
            <th><small>Solicitado</small></th>
            <th><small>Dias</small></th>
            <th><small>Solicito</small></th>
            <th><small>A</small></th>
            <th><small>Z</small></th>
            <th><small>C</small></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of allUsers">
            <td><small>{{ user.elim}}</small></td>
            <td><small>{{ user.id}}</small></td>
            <td><small>{{ user.R }}</small></td>
            <td><small>{{ user.I }}</small></td>
            <td><small>{{ user.Folio }}</small></td>
            <td><small>{{ user.Firma_Contrato}}</small></td>
            <td><small>{{ user.Cvel_Nafinet }}</small></td>
            <td><small>{{ user.Estatus }}</small></td>
            <td><small>{{ user.Buc }}</small></td>
            <td><small>{{ user.Acreditado }}</small></td>
            <td><small>{{ user.Solicitado }}</small></td>
            <td><small>{{ user.Dias }}</small></td>
            <td><small>{{ user.Solicito }}</small></td>
            <td><img src="../../../../assets/img/ver_detalles.ico" 
                  data-bs-toggle="modal" data-bs-target="#garantiaA" (click)="setMenu(user.status)"></td>
            
            
            <td><img src="../../../../assets/img/verBitacora.ico" alt=""
              data-bs-toggle="modal" data-bs-target="#proceso" ></td>

            <td><img src="../../../../assets/img/pdf.ico" alt=""></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
<app-bitacora-proceso></app-bitacora-proceso>