.container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.santander {
     width: 30%;
     height: 30%;
     }
.empresas::first-letter{
            color: #FE0000;
        }

.line{
    width: 52rem;
    margin: auto;
}
.line1{
    width: 52rem;
    margin: auto;
    height: 2px;
}
.contenido{
    margin-top: 2rem;
}

button{
    display: flex;
    justify-content: center;
    align-content: center;
}
.footer{
    display: flex;
    justify-content: center;
    
    margin: auto;
}
.list-group-item:hover{
    background-color: #0098fe;
    color: white;
}



// boton animation



// .ingresar a span:nth-child(3){
//     bottom: 0;
//     right: -100%;
//     width: 100%;
//     height: 2px;
//     background: linear-gradient(270deg, transparent, #FF0000);
//     animation: btn-animation3 1s linear infinite;
//     animation-delay: .5s;
// }

// @keyframes btn-animation3 {
//     0% {
//         right: -100%;
//     }
//     50%,100% {
//         right: 100%;
//     }
// }

// .ingresar a span:nth-child(4){
//     bottom: -100%;
//     left: 0;
//     width: 2px;
//     height: 100%;
//     background: linear-gradient(360deg, transparent, #FF0000);
//     animation: btn-animation4 1s linear infinite;
//     animation-delay: .75s;
// }

// @keyframes btn-animation4 {
//     0% {
//         bottom: -100%;
//     }
//     50%,100% {
//         bottom: 100%;
//     }
// }

// a {
//     padding: 15px 50px;
//     font-size: 20px;
//     position: relative;
//     background: transparent;
//     color: #ffa500;
//     text-transform: uppercase;
//     border: 3px solid #ffffff;
//     cursor: pointer;
//     transition: all 0.7s;
//     overflow: hidden;
//     border-radius: 100px;
// }
// a:hover{
//     color: #1a1a1a;
// }

// span{
//     transition: all 0.7s;
//     z-index: -1;
// }

// a .left{
//     content: ' ';
//     position: absolute;
//     right: 100%;
//     top: 0;
//     width: 25%;
//     height: 100%;
//     background: rgb(255, 0, 200);
// }

// a:hover .left{
//     top: 0;
//     right: 0;
// }


// a .top{
//     content: ' ';
//     position: absolute;
//     left: 25%;
//     top:-100%;
//     height: 100%;
//     width: 25%;
//     background: rgb(0, 255, 76);
// }

// a:hover .top{
//     top: 0;
//     left: 50%;
// }

// a .bottom{
//     content: ' ';
//     position: absolute;
//     left: 50%;
//     height: 100%;
//     top: 100%;
//     width: 25%;
//     background: rgb(255, 251, 0);
// }
// a:hover .bottom{
//     top:0;
//     left: 25%;
// }

// a .right{
//     content: ' ';
// position: absolute;
// left: 100%;
// top: 0;
// height: 100%;
// width: 25%;
// background: rgb(255, 196, 0);
// }


// a:hover .right{
//     top:0;
//     left:0;
// }

