<div class="col-sm-12">
    <div class="container" style="display: flex; justify-content: flex-end;">
  
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Filtrar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Exportar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href=""> Exportar Datos<p>
  
    </div>
  
  
    <div class="col-sm-12 p-2">
    <label><b>Reporte Bolsas</b></label>
  
      <div class="dataTables_info">
        <table  class="table table-bordered table-striped row-border hover" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th><small>Aviso</small></th>
              <th><small>Cve Programa</small></th>
              <th><small>Estatus</small></th>
              <th><small>Programa</small></th>
              <th><small>Fecha_Liberacion</small></th>
              <th><small>Concedido</small></th>
              <th><small>Dispuesto</small></th>
              <th><small>Porcentaje_Dispuesto</small></th>
              <th><small>Disponible</small></th>
              <th><small>Porcentaje_Disponible</small></th>
              <th><small>Detalle</small></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dataReporteBolsas">
              <td><small>{{ user.Aviso}}</small></td>
              <td><small>{{ user.Cve_Programa}}</small></td>
              <td><small>{{ user.Estatus}}</small></td>
              <td><small>{{ user.Programa}}</small></td>
              <td><small>{{ user.Fecha_Liberacion}}</small></td>
              <td><small>{{ user.Concedido}}</small></td>
              <td><small>{{ user.Dispuesto}}</small></td>
              <td><small>{{ user.Porcentaje_Dispuesto}}</small></td>
              <td><small>{{ user.Disponible}}</small></td>
              <td><small>{{ user.Porcentaje_Disponible}}</small></td>              
              <td><small><img src="../../../../assets/img/viewmag.ico" alt="" data-bs-toggle="modal" data-bs-target="#reporteBolsa">{{ user.Detalle}}</small></td>              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
 <app-modal-detalle-de-la-bolsa></app-modal-detalle-de-la-bolsa>
   