 <!-- Modal -->
 <div class="modal fade" id="AltaUsuariosEnGrupo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable modal-lg">
     <div class="modal-content">
       <div class="modal-header" style="background-color: red">
         <h5 class="modal-title" id="staticBackdropLabel" style="color: white">
           Agregar Usuarios a Grupos de Correos SIG.
         </h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <div class="container mb-3">
           <label for="">Seleccione el Grupo y el usuario que desee agregar y pulse Agregar.</label>
         </div>
         <hr>
         <form action="" class="form-group">
           <div>
             <div class="row">
               <div class="col-sm-5">
                 <label for=""><b>Seleccione el Grupo:</b></label>&nbsp;
                 <!-- CHANGE -->
                 <select class="form-control" required="" style="background-color: #BBE8F4;">
                   <option value=""></option>
                   <option value="9">ASESORES COMEX CENTRO</option>
                   <option value="10">ASESORES COMEX METRO NORTE</option>
                   <option value="11">ASESORES COMEX METRO SUR</option>
                   <option value="12">ASESORES COMEX NORESTE</option>
                   <option value="13">ASESORES COMEX NOROESTE</option>
                   <option value="14">ASESORES COMEX NORTE</option>
                   <option value="15">ASESORES COMEX OCCIDENTE</option>
                   <option value="16">ASESORES COMEX SUR</option>
                   <option value="17">ASESORES COMEX SURESTE</option>
                   <option value="31">CARTERA</option>
                   <option value="4">CARTERA/FONDOS DE FOMENTO</option>
                   <option value="19">COMERCIAL NI CENTRO</option>
                   <option value="20">COMERCIAL NI METRO NORTE</option>
                   <option value="21">COMERCIAL NI METRO SUR</option>
                   <option value="22">COMERCIAL NI NORESTE</option>
                   <option value="28">COMERCIAL NI NOROESTE</option>
                   <option value="23">COMERCIAL NI NORTE</option>
                   <option value="24">COMERCIAL NI OCCIDENTE</option>
                   <option value="25">COMERCIAL NI SUR</option>
                   <option value="26">COMERCIAL NI SURESTE</option>
                   <option value="27">COMERCIAL NI UGES</option>
                   <option value="8">CONTROL DE BOLSA</option>
                   <option value="5">FONDOS DE FOMENTO</option>
                   <option value="30">NAFINET</option>
                   <option value="7">PRODUCTO NI</option>
                   <option value="29">PRODUCTO NI SEGUIMIENTO</option>
                   <option value="39">RECUPERACIONES</option>
                   <option value="6">SOPORTE OPER INTER</option>
                 </select>
                 <br>
               </div>
             </div>
             <div class="row">
               <div class="col-sm-3">
                 <label for=""><b>Buscar:</b></label>&nbsp;
                 <input class="form-control" type="text" style="background-color: #EEEEEE;" required maxlength="13">
                 <br>
               </div>
             </div>
             <div class="row">
                <div class="col-sm-12">
                  <label for=""><b>Seleccione el Correo:</b></label>&nbsp;
                  <select class="form-control" id="selectCorreo" onchange="setCorreo(), cleanInputsCorreo()">
                    <option value=""></option>
                    <option value="95">... - jekscarrera@empresaexterna.com.mx</option>
                    <option value="542">... - ...</option>
                    <option value="421">Abrahan Delgado Con - adelgadoc@santander.co.mx</option>
                    <option value="216">ABRIL TRIGO DE LA MORA - atrigod@santander.com.mx</option>
                    <option value="396">ADELINA MARTINEZ SAUCO - amartinezs@santander.com.mx</option>
                    <option value="209">ADRIAN FRANCISCO BLANCO BERLANGA - afblancobe@santander.com.mx</option>
                    <option value="417">ADRIAN TREVIÑO CAVAZOS - atrevinoca@santander.com.mx</option>
                    <option value="337">adriana aviÃ±a ruz - aavina@santander.com.mx</option>
                    <option value="217">ADRIANA AVIÑA RUZ - aavina@santander.com.mx</option>
                    <option value="412">ADRIANA LORENA POZOS ZALDIVAR - alpozosz@santander.com.mx</option>
                    <option value="109">ALEJANDRA MATILDES RAMIREZ - amatildes@santander.com.mx</option>
                    <option value="314">Alejandra Sanchez Maury - asanchezmaur@santander.com.mx</option>
                    <option value="284">Alejandra SÃ¡nchez - asanchezmaur@santander.com.mx</option>
                    <option value="243">ALEJANDRO GONZALEZ GONZALEZ - algonzalez@santander.com.mx</option>
                    <option value="277">ALEJANDRO GONZALEZ GONZALEZ - algonzalez@santander.com.mx</option>
                    <option value="281">ALEJANDRO GONZALEZ GONZALEZ - algonzalez@santander.com.mx</option>
                    <option value="434">ALEJANDRO GONZALEZ GONZALEZ - algonzalez@santander.com.mx</option>
                    <option value="225">ALFONSO VAZQUEZ CALLEROS - avazquezca@santander.com.mx</option>
                    <option value="221">ALICIA MACIAS SANCHEZ - amaciass@santander.com</option>
                    <option value="373">ALONDRA ALARCON ALBARRAN - aalarconal@santander.com.mx</option>
                    <option value="223">ALONSO RAMIREZ SOTO - aramirezso@santander.com.mx</option>
                    <option value="437">Alvaro Sanchez Saucedo - asanchezsa@santander.com.mx</option>
                    <option value="423">ANA LAURA LLORET RIO - llloret@santander.com.mx</option>
                    <option value="459">ANA LUISA MENDOZA GUTIERREZ - almendoza@santander.com.mx</option>
                    <option value="397">ANA SILVIA JIMENEZ LOPEZ - asjimenez@santander.com.mx</option>
                    <option value="218">ANAIS AGÜERO GALLAND - aaguero@santander.com.mx</option>
                    <option value="442">Andres bernardo guerrero igartua - abguerreroig@santander.com.mx</option>
                    <option value="418">Andres Cruz Ortiz - acruzor@santander.com.mx</option>
                    <option value="386">ANGEL DE LA PUENTE ESCUDERO - adelapuente@santander.com.mx</option>
                    <option value="377">ANGELINA GARCIA BONILLA - agarciabo@santander.com.mx</option>
                    <option value="201">ARIADNA ITZEL DELGADO BUENDIA - ardelgado@santander.com.mx</option>
                    <option value="121">ARIADNA TANIBETH RODRIGUEZ HERNANDEZ - atrodriguez@santander.com.mx</option>
                    <option value="512">ASESORES FORMALIZACIONES GENERICO - oper_inter@santander.com.mx</option>
                    <option value="307">BERENICE SAAVEDRA ONTIVEROS - bsaavedra@santander.com.mx</option>
                    <option value="203">BRENDA ACERO BERNAL - blacero@santander.com.mx</option>
                    <option value="407">brenda cervantes vargas - bcervantes@santander.com.mx</option>
                    <option value="332">BRENDA GARCIA ROJAS - bgarciar@santander.com.mx</option>
                    <option value="422">Brenda Guadalupe SÃ¡nchez Quiroz - bgsanchezqu@santander.com.mx</option>
                    <option value="464">Carla Guadalupe Brito González - cbrito@santander.com.mx </option>
                    <option value="509">Carla Guadalupe Brito Gonzalez - cbrito@santander.com.mx</option>
                    <option value="518">CARLOS ABEL MORALES FLORES - cmorales@santander.com.mx</option>
                    <option value="404">CARLOS DANIEL RODRIGUEZ CARRILLO - cdrodriguez@santander.com.mx</option>
                    <option value="247">CARLOS EDUARDO RODRIGUEZ GONZALEZ - cerodriguez@santander.com.mx</option>
                    <option value="401">CARLOS EMMANUEL DEL CASTILLO SANCHEZ - cdelcastillo@santander.com.mx</option>
                    <option value="366">Carlos Julio Castelo Grijalva - cjcastelo@santander.com.mx</option>
                    <option value="493">CARLOS PALOMINO MAYA - CPALOMINO@SANTANDER.COM.MX</option>
                    <option value="269">CAROLINA LARA HERRERA - clarah@santander.com.mx </option>
                    <option value="252">CATALINA YOLANDA CASTRO GUTIERREZ - catcastro@santander.com.mx</option>
                    <option value="227">CESAR JOSUE LOMELI ACOSTA - cjlomeli@santander.com.mx</option>
                    <option value="477">Christian Aravier Mimila Rodriguez - cmimila@santander.com.mx</option>
                    <option value="480">Christian Aravier Mimila Rodriguez - cmimila@santander.com.mx</option>
                    <option value="391">Christian Eduardo Ramírez Barrales - ceramirez@santander.com.mx</option>
                    <option value="197">CHRISTIAN SOLANO GARCIA - csolano@santander.com.mx</option>
                    <option value="263">CHRISTIAN SOLANO GARCIA - csolano@santander.com.mx</option>
                    <option value="321">Christian Solano Garcia - csolano@santander.com.mx</option>
                    <option value="380">CINDY ALFARO MONROY - calfaromo@santander.com.mx</option>
                    <option value="231">CINTHYA MARIBEL MORALES OLGUIN - mmoraleso@santander.com.mx</option>
                    <option value="483">CIRILO ISMAEL GALLEGOS BOLAÃ‘OS - cigallegosb@santander.com.mx</option>
                    <option value="199">CLAUDIA ILSE LOPEZ MUNGUIA - clopezm@santander.com.mx</option>
                    <option value="368">Claudia Judith Peña Ruiz - cpena@santander.com.mx</option>
                    <option value="356">CLAUDIA PATRICIA CRUZ GALINDO - cpcruzg@santander.com.mx</option>
                    <option value="369">CLAUDIA PEÃ‘A RUIZ - cpena@santander.com.mx</option>
                    <option value="344">Claudia Zuvieta Sanchez - czuvieta@santander.com.mx</option>
                    <option value="268">CRISTIAN ALMA VELAZQUEZ CONRADO - cvelazquez@santander.com.mx</option>
                    <option value="522">CYNTHIA GARCIA MORGA - cyngarcia@santander.com.mx</option>
                    <option value="539">DAFNE LINETTE FIGUEROA BARREDA - dlfigueroaba@santander.com.mx</option>
                    <option value="230">DANIEL FIGUEROA ORTIZ - dfigueroa@santander.com.mx</option>
                    <option value="474">DANY MONTERRUBIO SANCHEZ - dmonterrubio@santander.com.mx</option>
                    <option value="484">David Rivera - adrivera@santander.com.mx</option>
                    <option value="532">DAVID URBANO BARRON - durbano@santander.com.mx</option>
                    <option value="403">DELIA JUDITH SORIA SABORIO - djsoria@santander.com.mx</option>
                    <option value="210">DIANA IVONNE DE LEON LOZANO - dide@santander.com.mx</option>
                    <option value="389">DIANA VIANEY AGUIRRE GUTIERREZ - dvaguirregu@santander.com.mx</option>
                    <option value="513">edgar casarreal perez - edcasarreal@santander.com.mx</option>
                    <option value="261">Edgar Ordoñez Banderas - eordonez@santander.com.mx</option>
                    <option value="248">EDUARDO FLORES ESPINOZA - eflorese@santander.com.mx</option>
                    <option value="224">ELI MANUEL ARANA JACOME - emarana@santander.com.mx</option>
                    <option value="405">ema saldan diaz - esaldana@santander.com.mx</option>
                    <option value="214">ENRIQUE JOSÉ RAMÓN GONZÁLEZ ALATORRE - jgarzaj@santander.com.mx</option>
                    <option value="200">ENRIQUE PINEDA BARBA - epinedab@santander.com.mx</option>
                    <option value="433">ERICK PAUL CORDERO GONGORA - epcordero@santander.com.mx</option>
                    <option value="399">ERNESTO ALEJANDRO - 0</option>
                    <option value="137">Ernesto Hernandez - ehernandezmar@santander.com.mx</option>
                    <option value="416">ESTHER NELLY UGALDE SANCHEZ - enugaldesa@santander.com.mx</option>
                    <option value="106">ESTHER NELY UGALDE SANCHEZ - enugalde@santander.com.mx</option>
                    <option value="523">FELIPE OMAR CRUZ HERNANDEZ - fcruzh@santander.com.mx</option>
                    <option value="393">FELIX ALEJANDRO PEREZ DE ANDRADE ASCENSIO - aperezd@santander.com.mx</option>
                    <option value="460">FELIX MONDRAGON HERNANDEZ - FMONDRAGON@SANTANDER.COM.MX</option>
                    <option value="510">Felix Perez de Andrade Ascencio - aperezd@santander.com.mx</option>
                    <option value="439">Fernando Antonio del Valle Loaeza - fdelvalle@santander.com.mx</option>
                    <option value="495">FORTUNATO OSNAYA FLORES - fosnaya@santander.com.mx</option>
                    <option value="443">Francisco Javier Espinoza Soto - fespinoza@santander.com.mx</option>
                    <option value="390">Francisco Javier Murillo Rico - fjmurillo@santander.com.mx</option>
                    <option value="485">FRANCISCO JAVIER PEREZ LOPEZ - fraperez@santander.com.mx</option>
                    <option value="233">FRANCISCO JAVIER TREJO ARCE - ftrejo@santander.com.mx</option>
                    <option value="367">Fredy Noe Gonzalez Vega - fngonzalez@santander.com.mx</option>
                    <option value="378">GABRIEL ROSADO ITURRALDE - grosadoit@santander.com.mx</option>
                    <option value="395">GABRIEL ROSADO ITURRALDE - grosadoit@santander.com.mx</option>
                    <option value="406">Gabriela Paola Macaris - gpmacaris@santander.com.mx</option>
                    <option value="335">GIOVANNI MARIO CARMONA - GMCARMONA@SANTANDER.COM.MX</option>
                    <option value="212">GIOVVANI MARIO CARMONA ZARAGOZA - gmcarmona@santander.com.mx</option>
                    <option value="502">GLORIA EDITH SANCHEZ ALVARADO - gesanchezal@santander.com.mx</option>
                    <option value="274">GLORIA ERENDIRA ZAMORA MATA - gezamora@santander.com.mx</option>
                    <option value="487">GLORIA MARIA CEJA CAMARILLO - gmceja@santander.com.mx</option>
                    <option value="211">GONZALO AGUILERA GARCÍA - gaaguilera@santander.com.mx</option>
                    <option value="296">GRISELDA MARIA BELTRAN MONTELONGO - gbeltran@santander.com.mx</option>
                    <option value="322">GRUPO PRODUCTO NEGOCIO INTERNACIONAL - productocomex@santander.com.mx </option>
                    <option value="254">GUADALUPE IMELDA HERRERA LOPEZ - giherreral@santander.com.mx</option>
                    <option value="533">Gustavo Ruz Osorio - gruz@santander.com.mx</option>
                    <option value="354">GUZMAN ANGELES JESSICA IVETTE - jiguzman@santander.com.mx</option>
                    <option value="387">HASSAN ALEJANDRO HAMDAN ZUNO - hahamdan@santander.com.mx</option>
                    <option value="350">HERMAN MAURICIO LITTLEWOOD CASTELAZO - hmlittlewood@santander.com.mx</option>
                    <option value="479">HUGO CASTELLANOS LOPEZ - HCASTELLANOS@SANTANDER.COM.MX</option>
                    <option value="527">HUGO DANIEL PEREZ COLLI - hugperez@santander.com.mx</option>
                    <option value="537">HUGO DANIEL. PEREZ COLLI - hugoperez@santander.com.mx</option>
                    <option value="408">HUGO GONZALEZ GARDUNO - hgonzalezga@santander.com.mx</option>
                    <option value="488">HUMBERTO MONTOYA EURESTI - humontoya@santander.com.mx</option>
                    <option value="507">IÃ‘AQUI GONZALEZ RAMOS - igonzalezra@santander.com.mx</option>
                    <option value="219">ILEANA JANNET ROJAS JASSO - ijrojas@santander.com.mx</option>
                    <option value="204">INGRID IÑIGO PLASENCIA - iinigo@santander.com.mx</option>
                    <option value="271">IVAN JIMENEZ GUTIERREZ - ijimenezgu@santander.com.mx</option>
                    <option value="361">IVAN RODRIGO JUAREZ TELLO - irjuarezt@santander.com.mx</option>
                    <option value="543">JEKSAN EMAANUEL CARRERA REJOPACHI - jekscarrera@empresaexterna.com.mx</option>
                    <option value="385">JESSICA MUÑOZ VELAZCO - jmunozv@santander.com.mx</option>
                    <option value="536">JESSICA RAMIREZ VIZUET - jessramirez@santander.com.mx</option>
                    <option value="371">JESUS AZPEITIA PEDROZA - jazpeitia@santander.com.mx</option>
                    <option value="394">JESUS AZPEITIA PEDROZA - jazpeitia@santander.com.mx</option>
                    <option value="282">Jesus Manuel Ramirez Castillo - jmramirezc@santander.com.mx</option>
                    <option value="343">JESUS OCTAVIO GASTELUM CAMACHO - jgastelum@santander.com.mx</option>
                    <option value="245">JESUS RICARDO ELIAS RODRIGUEZ - jrelias@santander.com.mx</option>
                    <option value="357">Jimena Villanueva - jvillanueva@santander.com.mx</option>
                    <option value="326">JOANNA SOLANO JASSO - sjassoj@santander.com.mx</option>
                    <option value="237">JONATAN FROILAN FIERRO GAMBOA - jffierro@santander.com.mx</option>
                    <option value="413">JONATHAN CHRISTIAN GUZMAN REYES - jguzmanr@santander.com.mx</option>
                    <option value="490">jorge arturo camacho alvarado - jcamachoa@santander.com.mx</option>
                    <option value="501">JORGE ARTURO PAVON GAZCA - japavon@santander.com.mx</option>
                    <option value="521">JORGE DEL RIO ROBLES - jdelr@santander.com.mx</option>
                    <option value="205">JORGE FRANCISCO ARANDA GONZÁLEZ - faranda@santander.com.mx</option>
                    <option value="207">JORGE GONZALEZ RAMIREZ - jgonzalezra@santander.com.mx</option>
                    <option value="447">Jorge Osvaldo Arellano Lopez - joarellano@santander.com.mx</option>
                    <option value="511">JosÃ© MarÃ­a Hernandez Prado - jmhernandezpr@santander.com.mx</option>
                    <option value="240">JOSE ANTONIO MARTINEZ - jamartinezmu@santander.com.mx</option>
                    <option value="444">Jose Antonio Rodriguez Cortes - jarodriguezco@santander.com.mx</option>
                    <option value="478">JOSE GERARDO MONTES DE OCA ROLDAN - jmontesdeoca@santander.com.mx</option>
                    <option value="116">JOSE ISRAEL MACIAS CASTILLO - jimaciascast@santander.com.mx</option>
                    <option value="526">JOSE LUIS GUEVARA VILLASANA - josguevara@santander.com.mx</option>
                    <option value="255">JOSE LUIS SANCHEZ CASTAÑEDA - josesanchez@santander.com.mx</option>
                    <option value="313">jose manuel - jmcruzma@santander.com.mx</option>
                    <option value="383">JOSE MANUEL CASTRO HERRERA - bcapymes01suc7743@santander.com.mx</option>
                    <option value="519">JOSE MARIA HERNANDEZ PRADO - jmhernandezpr@santander.com.mx</option>
                    <option value="266">JOSE VICTOR MANUEL PEREZ LOPEZ - jperezlo@santander.com.mx</option>
                    <option value="438">Juan Carlos Castro Salinas - juacastro@santander.com.mx</option>
                    <option value="436">Juan Jesus Franco Grande - jjfranco@santander.com.mx</option>
                    <option value="504">JUAN MANUEL FIERRO BLANCO - jmfierro@santander.com.mx</option>
                    <option value="375">JUAN MIGUEL VALENCIA TORRES - jmvalencia@santander.com.mx</option>
                    <option value="449">Juan Pablo Otamendi Galan - jpotamendi@santander.com.mx</option>
                    <option value="289">KARLA CAMPOS - kcamposba@santander.com.mx</option>
                    <option value="420">Karla Paola - kpgutierrezlo@santander.com.mx</option>
                    <option value="494">KARLA PAOLA ARISTA CORONA - karista@santander.com.mx</option>
                    <option value="435">Laura Carolina Torres Frausto - lctorres@santander.com.mx</option>
                    <option value="265">LEOPOLDO BUENROSTRO GARCIA - lbuenrostro@santander.com.mx</option>
                    <option value="283">LOPEZ FREE LESLIE - llopezf@santander.com.mx</option>
                    <option value="545">LORENZO ALBERTO TERRAZAS MARIN - loterrazas@santander.com.mx</option>
                    <option value="524">LUCIA ELENA PEREZ GARZA - leperezg@santander.com.mx</option>
                    <option value="425">LUIS ALEJANDRO RAMOS DIAZ - laramos@santander.com.mx</option>
                    <option value="374">LUIS ERNESTO LUNA PALMA - lluna@santander.com.mx</option>
                    <option value="235">LUZ MARIA MEJORADO RIOS - lmmejorado@santander.com.mx</option>
                    <option value="489">M Alejandro Castro Barragan - mcastro@santander.com.mx</option>
                    <option value="499">MANUEL COLLADO DIAZ - mcollado@santander.com.mx</option>
                    <option value="508">Marco Antonio Juarez GarcidueÃ±as - majuarez@santander.com.mx</option>
                    <option value="239">MARCO ANTONIO VAZQUEZ GONZALEZ - mavazquezg@santander.com.mx</option>
                    <option value="372">MARCO AURELIO MELGOZA MELENDEZ - mmelgozam@santander.com.mx</option>
                    <option value="515">MARIA DE LA LUZ ATRIANO BENITEZ - MATRIANO@SANTANDER.COM.MX</option>
                    <option value="364">maria de lourdes - mbahi@santander.com.mx</option>
                    <option value="463">MARIA DE LOURDES LOPEZ - mlopezpere@santander.com.mx</option>
                    <option value="253">MARIA DE LOURDES ZAMORA NEGRETE - mdzamora@santander.com.mx</option>
                    <option value="355">MARIA ESTHER IXTA AMEZCUA - meixta@santander.com.mx</option>
                    <option value="359">MARIA ESTHER IXTA AMEZCUA - meixta@santander.com.mx</option>
                    <option value="398">MARIA JOSE VIRUES HOLTSCHMIT - mjvirues@santander.com.mx</option>
                    <option value="414">MARIA PALOMA VIDAL CONTRERAS - mpvidal@santander.com.mx</option>
                    <option value="424">Mario Ulisess Aguilar Balderas - maguilarb@santander.com.mx</option>
                    <option value="246">MARTHA VERONICA TORRES GARCIA - mtorresg@santander.com.mx</option>
                    <option value="384">MARTIN MORENO RUBIO - mmorenoru@santander.com.mx</option>
                    <option value="432">MARTINA SANCHEZ ROMERO - msanchezro@santander.com.mx</option>
                    <option value="419">Mayahuel Torres Guerrero - mtorresgu@santander.com.mx</option>
                    <option value="108">MERCEDES OLGUIN ZUÑIGA - molguinz@santander.com.mx</option>
                    <option value="215">MICHAEL COVERSTON CAMARA - mcoverston@santander.com.mx</option>
                    <option value="538">MIGUEL ANGEL SOLIS HURTADO - msolish@santander.com.mx</option>
                    <option value="234">MIGUEL ANGEL VELASCO OROZCO - mavelasco@santander.com.mx</option>
                    <option value="351">Miguel Angel Velasco Orozco - mavelasco@santander.com.mx</option>
                    <option value="241">MIRIAM GEORGINA MONTES MARTINEZ - mmontesm@santander.com.mx</option>
                    <option value="360">MIRNA DORA FLORES ROMERO - mdflores@santander.com.mx</option>
                    <option value="358">MIVER IVETTE SALTO AGUIRRE - msalto@santander.com.mx</option>
                    <option value="376">MIVER IVETTE SALTO AGUIRRE - msalto@santander.com.mx</option>
                    <option value="448">Nancy de las Cuevas Thomas - ndelascuevas@santander.com.mx</option>
                    <option value="382">NOE ISAAC SANDOVAL GONZALEZ - nisandoval@santander.com.mx</option>
                    <option value="445">Noelia Belen Guillen Rosales - nbguillen@santander.com.mx</option>
                    <option value="411">NOHEMI DENISSE SALAS MELGAREJO - ndsalas@santander.com.mx</option>
                    <option value="400">NORMA HERNANDEZ VELAZQUEZ - nhernandezve@santander.com.mx</option>
                    <option value="220">NORMA ISLAS RUIZ - nislas@santander.com.mx</option>
                    <option value="272">OLIVIA ROMERO TELLEZ - oromerot@santander.com.mx</option>
                    <option value="222">OSCAR MORALES NARANJO - omorales@santander.com.mx</option>
                    <option value="402">OSCAR RAMIREZ RAMIREZ - oramirezr@santander.com.mx</option>
                    <option value="273">PALMA BARRIOS MARTHA OLIVIA - mpalma@santander.com.mx</option>
                    <option value="491">PAOLA COLOMER PEREZGROVAS - PCOLOMER@SANTANDER.COM.MX</option>
                    <option value="486">PATRICIA MOYA MORALES - pmoya@santander.com.mx</option>
                    <option value="242">PATRICIA PONCE ROBLEDO - pponce@santander.com.mx</option>
                    <option value="468">Paulina Ruenes Amarante - pruenes@santander.com.mx</option>
                    <option value="473">PAULINA RUENES AMARANTE - pruenes@santander.com.mx</option>
                    <option value="379">PEDRO MAGAÑA GODINEZ - magodinez@santander.com.mx</option>
                    <option value="541">Perla Guadalupe Munguia Ogarrio - Perla Guadalupe Munguia Ogarrio</option>
                    <option value="505">Producto NI - productocomex@santander.com.mx</option>
                    <option value="540">Rafael Aguilar Aguilar - raguilar</option>
                    <option value="458">Rafael Pastor Vega - rpastor@santander.com.mx</option>
                    <option value="125">Rajiv de Jesus Medina Granados - rmedinagr@santander.com.mx</option>
                    <option value="550">RAMIRO JAVIER MARTINEZ CRUZ - rammartinez@empresaexterna.com.mx</option>
                    <option value="238">RICARDO ALEJANDRO GARCIA SIDAS - rgarciasi@santander.com.mx</option>
                    <option value="461">Ricardo Ramirez - reramirez@santander.com.mx</option>
                    <option value="462">Ricardo Ramirez - reramirez@santander.com.mx</option>
                    <option value="506">Ricardo RodrÃ­guez PÃ©rez - rrodriguezpe@santander.com.mx</option>
                    <option value="370">RITA GOMEZ HERNANDEZ - rgomezhe@santander.com.mx</option>
                    <option value="534">ROBERTO ERICK SOSA VILLEGAS - resosav@santander.com.mx</option>
                    <option value="208">RODRIGO ALCOCER CARRERA - ralcocer@santander.com.mx</option>
                    <option value="236">RODRIGO JOEL MORA VALENCIA - rjmora@santander.com.mx</option>
                    <option value="202">RODRIGO TELLEZ RÍOS - rtellezr@santander.com.mx</option>
                    <option value="111">ROMMY NERI SPINOLA - rneri@santander.com.mx</option>
                    <option value="392">ROSA JULIETA - rjcortesvarg@santander.com.mx</option>
                    <option value="256">SADRAC ALVAREZ VIURQUEZ - salvarezvi@santander.com.mx</option>
                    <option value="213">SALVADOR EDUARDO MIER DE RUEDA - smier@santander.com.mx</option>
                    <option value="365">SALVADOR EDUARDO MIER DE RUEDA - smier@santander.com.mx</option>
                    <option value="287">salvador mier - smier@santander.com.mx</option>
                    <option value="244">SANDRA GUADALUPE RIVAS AVALOS - sgrivasav@santander.com.mx</option>
                    <option value="446">Sandra Yolanda Gonzalez Ramirez - sygonzalezra@santander.com.mx</option>
                    <option value="198">SAYURI MAGALLON AMBO - smagallon@santander.com.mx</option>
                    <option value="312">Selene Velazquez - svelazquezmo@santander.com.mx</option>
                    <option value="229">SELENE VELAZQUEZ MONTOYA - svelazquezmo@santander.com.mx</option>
                    <option value="503">SERGIO ALBERTO RIOS AGUILERA - sariosag@santander.com.mx</option>
                    <option value="228">SERGIO CEREZO ORTIZ - scerezo@santander.com.mx</option>
                    <option value="353">SERGIO CEREZO ORTIZ - scerezo@santander.com.mx</option>
                    <option value="105">SERGIO UGALDE GARZA - sugalde@santander.com.mx</option>
                    <option value="535">Silvia Angelica Otero CastaÃ±eda - sotero@santander.com.mx</option>
                    <option value="267">SONIA LILIANA ROMERO MARTIN - sromeroma@santander.com.mx</option>
                    <option value="362">Stefan Adriel Ledesma Wienicke - saledesma@santander.com.mx</option>
                    <option value="467">STEPHANIE GUZMAN IBARRA - sguzmanib@santander.com.mx</option>
                    <option value="517">STEPHANIE GUZMAN IBARRA - sguzmanib@santander.com.mx</option>
                    <option value="440">Susana Gomez Rodriguez - sgomezr@santander.com.mx</option>
                    <option value="500">TANIA ARREOLA MORALES - tarreola@santander.com.mx</option>
                    <option value="525">TERESITA MARIANA GALVAN MARTINEZ - tmgalvanma@santander.com.mx</option>
                    <option value="275">VALERIA SALAZAR PASOS - vsalazar@santander.com.mx</option>
                    <option value="232">VALERIA SALAZAR PAZOS - vsalazar@santander.com.mx</option>
                    <option value="415">VANESSA RODRIGUEZ MACIEL - vrodriguezma@santander.com.mx</option>
                    <option value="381">VIRGINIA GEORGINA VILLARREAL AVALOS - vvillarreal@santander.com.mx</option>
                    <option value="441">Virginia Villareal Avalos - vvillareal@santander.com.mx</option>
                    <option value="270">YESENIA VARELA RASCON - yvarela@santander.com.mx </option>
                    <option value="206">YOLANDA RODRIGUEZ SAHAGUN - yrodriguez@santander.com.mx</option>
                    <option value="520">YOZUNE LIVETTE GARCIA DE LEON - ylgarcia@santander.com.mx</option>
                  </select>
                  <br>
                  <br>
                </div>
              </div>
             <div class="row">
               <div class="col-sm-12">
                 <label for=""><b>Correo:</b></label>&nbsp;
                 <input class="form-control" type="text" style="background-color: #BBE8F4;" required maxlength="60">
                 <br>
               </div>
             </div>
             <div class="row">
               <div class="col-sm-12">
                 <label for=""><b>Nombre:</b></label>&nbsp;
                 <input class="form-control" type="text" style="background-color: #BBE8F4;" required maxlength="60">
                 <br>
               </div>
             </div>
             
             <div class="row">
               <div class="col-sm-12" style="display: flex; justify-content: center; align-items: center;">
                 <button id="efecto" class="saveCambiosBuscar btn btn-success" data-bs-toggle="modal"
                  data-bs-target="#exampleModalLong">Agregar</button>
               </div>
             </div>
             <br>
           </div>

         </form>
       </div>
     </div>
     </div>
    </div>


      <!-- Modal -->
      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div style="background: red; color: white;" class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Alta de Correo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <label for=""><b>Ingrese el motivo de la alta del correo "valor" al 
                Grupo "valor"</b></label>
              <input type="text" class="form-control">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="send()">Aceptar</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>