<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Alta de Garantias en SIG COMEXT
</button>

<!-- Modal -->
<div class="modal fade ocultar" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color:red;">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white;">Alta de Garantias en SIG COMEXT</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Ingresa los datos las caracteristicas para el registro de garantias en SIG empresas, una vez
                    registrada se contemplara por envio de conciliacion Mensual a Comext
                </p>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="">Garantia:</label> &nbsp;&nbsp;
                        <input type="text">
                    </div>
                    <div class="col-sm-4">
                        <label for="">Buc Asociado:</label> &nbsp;&nbsp;
                        <input type="text">
                    </div>
                    <div class="col-sm-4">
                        <label for="">Razon Social:</label> &nbsp;&nbsp;
                        <input type="text">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="">RFC:</label> &nbsp;&nbsp;
                        <input type="text">
                    </div>
                    <div class="col-sm-3">
                        <label for="">Moneda:</label> &nbsp;&nbsp;
                        <select name="" id="">
                            <option value="">PESOS</option>
                            <option value="">DOLARES</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="">Tipo de Garantia:</label> &nbsp;&nbsp;
                        <select name="" id="">
                            <option value="">BEI</option>
                            <option value="">PYME</option>
                            <option value="">PUEBLOS MAGICOS</option>
                            <option value="">GRANDES EMPRESAS</option>
                            <option value="">AUTOMOTRIZ</option>
                            <option value="">CAPEX</option>
                            <option value="">PYME T-MEC EMP</option>
                            <option value="">PYME T-MEC</option>
                            <option value="">GRANDES EMPRESAS T-MEC</option>
                            <option value="">SECTOR HOTELERO</option>
                            <option value="">PYME COMEX-TMEC</option>
                            <option value="">GRANDES EMPRESAS COMEXT-TM</option>
                            <option value="">PYME TURISMO</option>
                            <option value="">GRANDES EMPRESAS TURISMO</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="">Importe en Linea:</label> &nbsp;&nbsp;
                        <input type="text">
                    </div>
                    <div class="col-sm-4">
                        <label for="">Fecha Registro Bancomext:</label> &nbsp;&nbsp;
                        <input type="date">
                    </div>
                    <div class="col-sm-4">
                        <label for="">Plazo:</label> &nbsp;&nbsp;
                        <input type="text">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="">Programa:</label> &nbsp;&nbsp;
                        <input type="text">
                    </div>
                    <div class="col-sm-4">
                        <label for="">IVA:</label> &nbsp;&nbsp;
                        <input type="text">
                    </div>
                    <div class="col-sm-4">
                        <label for="">Tipo de Cambio:</label> &nbsp;&nbsp;
                        <input type="text">
                    </div>
                </div>
                <br>
                <br>
                <p style="color:red; text-align:center;"><b><u>Aqui se muestran notificaciones sobre error en el
                            registro de la garantia</u></b></p>
                <br>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4" style="text-align:center;">
                        <button class="btn btn-outline-danger" style="text-align:center;">Guardar Garantia</button>
                    </div>
                    <div class="col-sm-4"></div>
                </div>                
            </div>
        </div>
    </div>
</div>