<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
  <div class="col-sm-2">
    <label>PROGRAMA:</label>
  </div>
</div>
<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
  <div class="col-sm-2">
    <input type="number">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12" style="margin-left: 78%">
    <button id="efecto" class="btn btn-primary" (click)="mostarCatalogoProgramas()">Buscar</button>
    &nbsp;&nbsp;
    <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
  </div>
</div>
<br>

<app-table-catalogo-programas *ngIf="mostarCatalogoProg"></app-table-catalogo-programas>
