
  <div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
      <label class="col-form-label me-1">FOLIO:</label>
    </div>
    <div class="col-sm-2">
      <label class="col-form-label me-1">SUCURSAL:</label>
    </div>
    <div class="col-sm-2">
      <label class="col-form-label me-1">SOLICITADO:</label>
    </div>
    <div class="col-sm-2">
      <label class="col-form-label me-1">ESTATUS FOLIO:AUTO</label>
    </div>
    <div class="col-sm-2">
      <label class="col-form-label me-1">ACREDITADO:</label>
    </div>
    <div class="col-sm-2">
      <label class="col-form-label me-1">ACREDITADO:</label>
    </div>
  </div>
  <div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
      <input class="form-control" type="text">
    </div>
    <div class="col-sm-2">
      <input class="form-control" type="text">
    </div>
    <div class="col-sm-2">
      <input class="form-control" type="text">
    </div>
    <div class="col-sm-2">
      <select class="form-select" style="width:100%;height:100%;" [(ngModel)]='pasoDEfault'>
        <option value="paso1">{{CapturarSolicitud}}</option>
        <option value="paso2">{{ProcesoPendienteAsesorC}}</option>
        <option value="paso3">{{EspecialistaComexRech}}</option>
        <option value="paso4">{{ProcesoPendienteContraloria}}</option>
        <option value="paso5">{{ProcesoPendienteCartera}}</option>
        <option value="paso6">{{FondosDeFomento}}</option>
        <option value="paso7">{{EnviadaNafinet}}</option>
        <option value="paso8">{{AprobadoNafinet}}</option>
        <option value="paso9">{{RechaxoNafinet}}</option>
        <option value="paso10">{{Reproceso}}</option>
      </select>
    </div>
    <div class="col-sm-2">
      <input class="form-control" type="text">
    </div>
    <div class="col-sm-2">
      <input class="form-control" type="text">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12" style="margin-left: 78%">
      <button id="efecto"(click)="mostrarTablasAutomaticas()" class="btn btn-outline-danger">Buscar</button>
      &nbsp;&nbsp;
      <button id="efecto" class="btn btn-outline-secondary" (click)="limpiar()">Limpiar</button>
    </div>
  </div>
<br>
<app-table *ngIf="mostrarTablaAutomaticas" ></app-table>
