<div class="container"  style="display: flex; justify-content: flex-end;">

    &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png" alt="validar..."><p class="filtrar" href="">Filtrar Selecionados</p>
    &nbsp;&nbsp;&nbsp;&nbsp;<img  style="width: 20px; height: 20px;"  src="../../../../assets/img/flechita.png" alt="validar..."><p class="filtrar" href="">Exportar Selecionados</p>
    &nbsp;&nbsp;&nbsp;&nbsp;<img  style="width: 20px; height: 20px;"  src="../../../../assets/img/flechita.png" alt="validar..."><p class="filtrar" href=""> Exportar Datos<p>
  
  </div>
  
  
  <div class="container mb-3">
    <div class="dataTables_info">
            <table class="table table-bordered table-striped row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                  <label>Automaticas</label>
                <tr>
                  //debe de existir la misma cantidad de th y de td para que no marqwue error y deben de estar seteados
                    <th>id</th>
                    <th>R</th>
                    <th>I</th>
                    <th>Email</th>
                    <th>Estatus</th>
                    <th>Firma_Contrato</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of allUsers">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.status }}</td>
                    <td > <img  src="../../../../assets/img/lupa con papel.jpg" style="width: 20px; height: 20px;" data-bs-toggle="modal" data-bs-target="#garantiaA">
                         {{ user.address.street }}, {{ user.address.city }}</td>
                </tr>
                </tbody>
            </table>
          </div>
  </div>
  
  
  
  