<div class="content">
  <form action="" style="overflow-x:hidden; overflow-y:hidden; height: 1600px;">
    <app-header></app-header>

    <div class="row">
      <div class="col-sm-6" style="margin-left:5%;">
        <label><b>Negocio Internacional:</b></label>&nbsp;<label>Jose Rodriguez Arias (Z396773)</label>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-3" style="margin-left: 3%;">
        <label>{{fecha | date: 'EEEE d De MMMM Del y'}}</label>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg" style="background-color: red;">
      <div class="container-fluid" style="margin-left:5%;">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black" (click)="inicio()"><small>Solicitudes</small></b></label>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"  style="width: 260%; background-color: #2D2D2D; color: white;">
                <div>
                  <li (click)="mostrarAutomatica()" id="black">{{Automaticas}}</li>
                  <li (click)="mostrarSelectiva()" id="black">{{Selectivas}}</li>
                  <li (click)="mostrarTMEC()" id="black">{{TMEC}}</li>
                  <li (click)="mostrarHotelero()" id="black">{{Hotel}}</li>
                  <li (click)="mostrarComexTMEC()" id="black">{{Comex_TMEC}}</li>
                  <li (click)="mostrarTurismo()" id="black">{{Turismo}}</li>
                  <li (click)="mostrarReestructuras()" id="black">{{Rees}}</li>
                </div>
              </ul>
            </li>
          </ul>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <label data-bs-toggle="dropdown" style="color:white;"><b id="black"><small>Programas</small></b></label>
                <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="background-color: #2D2D2D; width: 240%;">
                  <li id="black" style="color: white;" class="hoverBlack" data-bs-toggle="modal" data-bs-target="#modalGarantias"><small>Modificar Bolsa</small></li>
                  <li id="black" style="color: white;" class="hoverBlack" data-bs-toggle="modal" data-bs-target="#reactivarBolsa"><small>Reactivar Bolsa</small></li>
                  <li id="black" style="color: white;" class="hoverBlack" data-bs-toggle="modal" data-bs-target="#modalAlta"><small>Alta de Programas</small></li>
                  <li id="black" style="color: white;" class="hoverBlack" (click)="bolsasEnRechazo()"><small>Bolsa en Rechazo</small></li>
                </ul>
              </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;&nbsp;
              <label data-bs-toggle="dropdown" id="black" style="color:white;"><b id="black"><small>Resultado Nafin</small></b></label>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;&nbsp;
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black" ><small>Reprocesar</small></b></label>
              <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="background-color: #2D2D2D; width: 240%;">
                <li id="black" style="color: white;" class="hoverBlack"><small>Reprocesar Todos</small></li>
                <li id="black" style="color: white;" class="hoverBlack"><small>Reprocesar Seleccionados</small></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;&nbsp;
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black" ><small>Reportes</small></b></label>
              <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="background-color: #2D2D2D; width: 260%;">
                <li id="black" style="color: white;" class="hoverBlack" (click)="mostrarSolicitudesRealizadas()"><small>Solicitudes Realizadas</small></li>
                <li id="black" style="color: white;" class="hoverBlack" (click)="mostrarReporteBolsa()"><small>Reporte Bolsa</small></li>
                <li id="black" style="color: white;" class="hoverBlack" ><small>Reporte Completo</small></li>
                <li id="black" style="color: white;" class="hoverBlack" data-bs-toggle="modal" data-bs-target="#reporteEjecutivo"><small>Crear Reporte Ejecutivo</small></li>
                <li id="black" style="color: white;" class="hoverBlack" (click)="mostrarBuscarReporteEjecutivo()"><small>Buscar Reporte Ejecutivo</small></li>
                <li id="black" style="color: white;" class="hoverBlack" ><small>Reporte Completo Selectivas</small></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;&nbsp;
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black" (click)="mostrarFolioNafinet()"><small>Folio Nafin</small></b></label>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;&nbsp;
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black"><small>Abrir cerrar Parametro</small></b></label>
              <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="background-color: #2D2D2D; width: 120%;">
                <li id="black" style="color: white;" class="hoverBlack" data-bs-toggle="modal" data-bs-target="#AbrirCerrar" (click)="abrirParametro()"><small>Parametría Grande Empresa</small></li>
                <li id="black" style="color: white;" class="hoverBlack"><small>Parametría Automotriz</small></li>
                <li id="black" style="color: white;" class="hoverBlack"><small>Parametría Capex</small></li>
                <li id="black" style="color: white;" class="hoverBlack"><small>Parametría Empresas</small></li>
                <li id="black" style="color: white;" class="hoverBlack"><small>Parametría PYME</small></li>
                <li id="black" style="color: white;" class="hoverBlack"><small>Parametría ComexTmec</small></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;&nbsp;
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black"><small>Garantias Selectivas</small></b></label>
              <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="background-color: #2D2D2D; width: 120%;">
                <li id="black" style="color: white;" class="hoverBlack" (click)="mostrarStockSelectivas()"><small>Stock Garantias Selectivas</small></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;&nbsp;
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black"><small>Grupo de Correos</small></b></label>
              <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="background-color: #2D2D2D; width: 150%;">
                <li id="black" style="color: white;" class="hoverBlack" (click)="mostarGrupoCorreo()"><small>Control de Grupo de Correos</small></li>
                <li id="black" style="color: white;" class="hoverBlack"  data-bs-toggle="modal" data-bs-target="#AltaUsuariosEnGrupo" ><small>Alta de Usuario en Grupo</small></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;&nbsp;
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black"><small>Catalogos</small></b></label>
              <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="background-color: #2D2D2D; width: 120%;">
                <li id="black" style="color: white;" class="hoverBlack" (click)="mostarTipoCambio()"><small>Tipo de Cambio</small></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;&nbsp;
              <img src="../../../assets/img/candado.png" alt="cerrar sesion..." style="width: 20px;" height="20px">
              <label style="color:white;"><b id="black"><a class="cerrar" href="#"><small>Cerrar Sesion</small></a></b></label>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <div *ngIf="!mostrarSolicitudAutomatica && !mostrarSolicitudSelectiva && !mostrarSolicitudTMEC
    && !mostrarSolicitudComexTMEC && !mostrarSolicitudTurismo && !mostrarSolicitudReestructuras && !mostrarSolicitudHotelero 
    && !mostrarBolsasEnRechazo && !solicitudesRealizadas && !reporteBolsa && !reporteEjecutivo && !folioNafinet
    && !stockSelectivas && !grupoCorreo && !tipoCambio" >
      <app-filtro-automaticas></app-filtro-automaticas>
      <br>
    </div>

    <div *ngIf="mostrarSolicitudAutomatica" class="content">
      <app-filtro-automaticas></app-filtro-automaticas>
      <hr />
    </div>

    <div *ngIf="mostrarSolicitudSelectiva" class="content">
      <app-filtro-selectivas></app-filtro-selectivas>
      <hr />
    </div>

    <div *ngIf="mostrarContratoPyme" class="content">
      <app-filtro-contro-pyme></app-filtro-contro-pyme>
      <hr />
    </div>

    <div *ngIf="mostrarSolicitudComexTMEC" class="content">
      <app-filtro-comex-tmec></app-filtro-comex-tmec>
      <hr />
    </div>

     <div *ngIf="mostrarSolicitudTMEC" class="content">
      <app-filtro-tmec></app-filtro-tmec>
      <hr />
    </div>

    <div *ngIf="mostrarSolicitudTurismo" class="content">
      <app-filtro-turismo></app-filtro-turismo>
      <hr />
    </div>

    <div *ngIf="mostrarSolicitudHotelero" class="content">
     <app-filtro-hotelero></app-filtro-hotelero>
      <hr />
    </div>

    <div *ngIf="mostrarSolicitudReestructuras" class="content">
      <app-filtro-reestructuracion></app-filtro-reestructuracion>
      <hr />
    </div>
  <div *ngIf="mostrarBolsasEnRechazo" class="content">
<app-bolsas-en-rechazo></app-bolsas-en-rechazo>
     <hr />
   </div>

   <div *ngIf="solicitudesRealizadas" class="content">
     <app-solicitudes-realizadas></app-solicitudes-realizadas>
   </div>

   <div *ngIf="reporteBolsa" class="content">
    <app-reporte-bolsa></app-reporte-bolsa>
  </div>
  <div *ngIf="reporteEjecutivo" class="content">
    <app-buscar-reporte-ejecutivo></app-buscar-reporte-ejecutivo>
  </div>
  <div *ngIf="folioNafinet" class="content">
    <app-folios-nafinet></app-folios-nafinet>
  </div>
  <div *ngIf="stockSelectivas" class="content">
    <app-stock-selectivas></app-stock-selectivas>
  </div>
  <div *ngIf="grupoCorreo">
<app-control-grupo-correos></app-control-grupo-correos>
  </div>
  <div *ngIf="tipoCambio">
    <app-tipo-de-cambio></app-tipo-de-cambio>
      </div>
  </form>
  </div>    

  <app-form></app-form>
  <app-form-comex-tmec></app-form-comex-tmec>
  <app-form-tmec></app-form-tmec>
  <app-form-turismo></app-form-turismo>
  <app-form-reestructuras></app-form-reestructuras>
  <app-form-selectivas></app-form-selectivas>
   
  <!-- modals -->
<app-reactivarbolsa></app-reactivarbolsa>
<app-alta-programa></app-alta-programa>
<app-reporte-ejecutivo></app-reporte-ejecutivo>
<app-abrir-cerrar-parametro></app-abrir-cerrar-parametro>
<app-cerrar-parametro *ngIf="!abrir"></app-cerrar-parametro>
<app-alta-usuario-en-grupo></app-alta-usuario-en-grupo>

