<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Crear Poliza Contable
</button>

<!-- Modal -->
<div class="modal fade ocultar" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color:red;">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white;">Crear Poliza Contable</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Recuerde que los campos de color azul y/o con el simbolo (*) son obligatorios.
                </p>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <p>(*)Periodo:</p>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" style="background-color:#BBE8F4;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <p>(*)Tipo de Cambio (Fix de dia en 390):</p>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" style="background-color:#BBE8F4;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <p>(*)Layout Aceptado Por Nafin:</p>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <p>(*)Cedula de Respuesta Nafin:</p>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <p>(*)Importe MXP de Comision e IVA de Registros Aceptados:</p>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" style="background-color:#BBE8F4;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <p>(*)Importe USD de Comision e IVA de Registros Aceptados:</p>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" style="background-color:#BBE8F4;">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12" style="margin-left: 78%">
                        <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
                        &nbsp;&nbsp;
                        <button id="efecto" class="btn btn-outline-secondary">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>