<div class="content" style="overflow-x:hidden; overflow-y:hidden">
  <form action="">
    <app-header></app-header>
    <div class="row">
      <div class="col-sm-6" style="margin-left:5%;">
        <label><b>Operacion Internacional:</b></label>&nbsp;<label>Jose Rodriguez Arias (Z396773)</label>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-3" style="margin-left: 3%;">
        <label>{{fecha | date: 'EEEE d De MMMM Del y'}}</label>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg" style="background-color: red;">
      <div class="container-fluid" style="margin-left:5%;">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <label data-bs-toggle="dropdown" style="color:white;" (click)="inicio()"><b
                  id="black">Solicitudes</b></label>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                style="width: 240%; background-color: #2D2D2D; color: white;">
                <div>
                  <li (click)="mostrarComexTMEC()" id="black">{{TMEC}}</li>
                  <li (click)="mostrarTurismo()" id="black">{{Comex_TMEC}}</li>
                  <li (click)="mostrarTMEC()" id="black">{{Turismo}}</li>

                  <li (click)="mostrarReestructuras()" id="black">{{Reestructuras}}</li>
                </div>
              </ul>
            </li>
          </ul>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black">Reportes</b></label>

              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                style="width: 340%; background-color: #2D2D2D; color: white;">
                <div>
                  <li id="black" (click)="mostrarSolicitudFoliosNafinet()">Folio Nafinet</li>
                  <li id="black" data-bs-toggle="modal" data-bs-target="#GenerarReporteCompleto">Reportes Solicitudes
                    Recibidas</li>
                  <li id="black" data-bs-toggle="modal" data-bs-target="#GenerarReporteAprobadas">Reporte Gtias
                    Aprob/Activas</li>
                </div>
              </ul>
            </li>
          </ul>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black">Programas</b></label>

              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                style="width: 240%; background-color: #2D2D2D; color: white;">
                <div>
                  <li id="black" (click)="mostrarBolsasEnTramite()">Bolsas en Tramite</li>
                  <li id="black" (click)="mostrarBitacoraEnBolsas()">Bitacoras en Bolsas</li>
                </div>
              </ul>
            </li>
          </ul>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black">Grupos de Correo</b></label>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                style="width: 200%; background-color: #2D2D2D; color: white;">
                <div>
                  <li id="black" (click)="mostrarControlDeGruposDeCorreos()">Control Grupo de Correos</li>
                  <li id="black" (click)="mostrarControlBitacoraCorreos()">Consulta Bitacora de Correos</li>
                  <li id="black" data-bs-toggle="modal" data-bs-target="#AltaUsuariosEnGrupo">Alta de Usuarios en Grupo</li>
                </div>
              </ul>
            </li>
          </ul>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <label data-bs-toggle="dropdown" style="color:white;"><b id="black">Procesos conciliacion</b></label>

              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                style="width: 100%; background-color: #2D2D2D; color: white;">
                <div>
                  <li id="black" (click)="mostrarSobreGiros()">Sobregiros</li>
                </div>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">&nbsp;&nbsp;
              <img src="../../../assets/img/candado.png" alt="cerrar sesion..." style="width: 20px;" height="20px">
              <label style="color:white;"><b id="black"><a class="cerrar" href="#">Cerrar Sesion</a></b></label>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>



    <div *ngIf="!mostrarSolicitudTurismo && !mostrarSolicitudTMEC && !mostrarSolicitudComexTMEC && 
      !mostrarSolicitudReestructura && !mostrarFoliosNafinet && !mostrarTramite && !mostrarBitacoraBolsas
      && !mostrarGruposCorreos && !bitacoraCorreos && !sobreGiros">
      <app-filtro-automaticas></app-filtro-automaticas>
    </div>


    <!-- hasta aqui -->
    <!-- desde aqui comextmec -->
    <div *ngIf="mostrarSolicitudComexTMEC" class="content">
      <app-filtro-comex-tmec></app-filtro-comex-tmec>
      <hr />
    </div>
    <!-- hasta aqui -->
    <!-- desde aqui tmec -->
    <div *ngIf="mostrarSolicitudTMEC" class="content">
      <app-filtro-tmec></app-filtro-tmec>
      <hr />
    </div>
    <!-- hasta aqui -->
    <!-- desde aqui tmec -->
    <div *ngIf="mostrarSolicitudTurismo" class="content">
      <app-filtro-turismo></app-filtro-turismo>
      <hr />
    </div>

    <div *ngIf="mostrarSolicitudReestructura" class="content">
      <app-filtro-reestructuracion></app-filtro-reestructuracion>
      <hr />
    </div>
    <div *ngIf="mostrarFoliosNafinet">
      <app-folios-nafinet></app-folios-nafinet>
    </div>
    <div *ngIf="mostrarTramite">
      <app-bolsas-en-tramite></app-bolsas-en-tramite>
    </div>
    <div *ngIf="mostrarBitacoraBolsas">
      <app-bitacora-en-bolsas></app-bitacora-en-bolsas>
    </div>
    <div *ngIf="mostrarGruposCorreos">
      <app-control-grupo-correos></app-control-grupo-correos>
    </div>
    <div *ngIf="bitacoraCorreos">
      <app-bitacora-correos></app-bitacora-correos>
    </div>
    <div *ngIf="sobreGiros">
      <app-sobre-giros></app-sobre-giros>
    </div>
    <br><br>
  </form>

</div>

<!-- modales  -->
<app-re-solicitud-recibida></app-re-solicitud-recibida>
<app-re-gtias-aprob></app-re-gtias-aprob>
<app-alta-usuario-en-grupo></app-alta-usuario-en-grupo>





<app-form-comex-tmec></app-form-comex-tmec>
<app-form-tmec></app-form-tmec>
<app-form-turismo></app-form-turismo>
<app-form-reestructuras></app-form-reestructuras>
