
<div class="container">
  <div class="dataTables_info">
          <table class="table table-bordered table-striped row-border hover" style="border: 3px solid #9c9a9a; border-radius: 50px; font-size: 11px;">
              <thead style="background-color: black; color: white;">
              <tr>
                  <th><small>Folio</small></th>
                  <th><small>Monto Linea</small></th>
                  <th><small>Monto Linea Val</small></th>
                  <th><small>Moneda</small></th>
                  <th><small>Sgto Especifico</small></th>
                  <th><small>Fecha Firma CTRT</small></th>
                  <th><small>Estatus Folio</small></th>
                  <th><small>Descripcion</small></th>
                
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of dataModalDetalleBolsa">
                  <td><small>{{item.Folio}}</small></td>
                  <td><small>{{item.Monto_Linea}}</small></td>
                  <td><small>{{item.Monto_Linea_Val}}</small></td>
                  <td><small>{{item.Moneda}}</small></td>
                  <td><small>{{item.Sgto_Espec}}</small></td>
                  <td><small>{{item.Fecha_Firm_CTRT}}</small></td>
                  <td><small>{{item.Estatus_Folio}}</small></td>
                  <td><small>{{item.Description}}</small></td>
                
              </tr>
              </tbody>
          </table>
        </div>
</div>
