 <!-- Modal -->
 <div class="modal fade" id="garantiaTurismo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable modal-xl">
     <div class="modal-content">
       <div class="modal-header" style="background-color: red">
         <h5 class="modal-title" id="staticBackdropLabel" style="color: white">
           Solicitud de Credito - Turismo
         </h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <div style="height:30px;" class="row" style="background-color: #e3e7ec">
           <div class="row" style="background-color: #e3e7ec">
             <div class="col-sm-3">
               <label for="">Crear Folio:</label>&nbsp;
               <button class="btn btn-outline-dark" (click)="mostrarContenido()">Crear Folio</button>
             </div>
             <div class="col-sm-4" *ngIf="show">
               <label for=""><b style="text-decoration:underline; "><u>Folio:
                     20220523-153</u></b></label>&nbsp;&nbsp;&nbsp;&nbsp;
               <button class="btn btn-danger btn-sm" style="color: white" *ngIf="show">
                 Cancelar Folio
               </button>
             </div>
             <div class="col-sm-2" *ngIf="show">
               <a href=""> <img src="../../../../assets/img/subir.ico" alt="Hpp...."><small>Consulta de cliente en
                   HPP:</small> </a>
             </div>
             <div class="col-sm-3">
               <label for="">Fecha Solicitud:</label>&nbsp;
               <label for="" style="color: red"><u>{{fecha | date: 'M/d/yyyy'}}</u></label>
             </div>
           </div>
 
           <br />
 
           <app-steper *ngIf="show"></app-steper>
 
           <br />
 
           <div class="accordion" id="accordionExample" *ngIf="show">
             <div class="accordion-item">
               <h2 class="accordion-header" id="headingOne">
                 <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                   aria-expanded="true" aria-controls="collapseOne">
                   <label for="" style="color: blue"><b>Datos del cliente</b></label>
                 </button>
               </h2>
               <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                 <div class="accordion-body" style="background-color: #ffffcc">
                   <div class="row">
                     <div class="col-sm-3">
                       <label for="">BUC:</label>
                     </div>
                     <div class="col-sm-3">
                       <div class="input-group input-group-sm mb-3">
                         <input style="text-transform: uppercase;" [(ngModel)]="buc" type="text" class="form-control mt-1" 
                         name="porcentaje" required  maxlength="8">
                       </div>
                     </div>
                     <div class="col-sm-3">
                       <label for="">Nombre o Razon Social del acreditado:</label>
                     </div>
                         <div class="col-sm-3">
                             <div class="input-group input-group-sm mb-3">
                               <input style="text-transform: uppercase;" [(ngModel)]="nombreORazonSocial" type="text" class="form-control mt-1" 
                               name="razon" required  maxlength="60">
                             </div>
                           </div>
                     <br><br>
                   </div>
                   <div class="row">
                     <div class="col-sm-3">
                       <label for="">Registro Federal de Contribuyentes RFC:</label>
                     </div>
                     <div class="col-sm-3">
                       <div class="input-group input-group-sm mb-3">
                         <input style="cursor: not-allowed; text-transform: uppercase;" [(ngModel)]="rfc" type="text" class="form-control mt-1" 
                         name="rfc" required  maxlength="13" disabled="disabled">
                       </div>
                      </div>
                     <div class="col-sm-3">
                       <label for="">Entidad Federativa del acreditado:</label>
                     </div>
                     <div class="col-sm-3">
                       <div class="input-group mb-3">
                         <select [(ngModel)]="entidadFed" class="form-select">
                           <option></option>
                           <option value="1-AGUASCALIENTES">1-AGUASCALIENTES</option>
                           <option value="2-BAJA CALIFORNIA NORTE">2-BAJA CALIFORNIA NORTE</option>
                           <option value="3-BAJA CALIFORNIA SUR">3-BAJA CALIFORNIA SUR</option>
                           <option value="4-CAMPECHE">4-CAMPECHE</option>
                           <option value="5-COAHUILA">5-COAHUILA</option>
                           <option value="6-COLIMA">6-COLIMA</option>
                           <option value="7-CHIAPAS">7-CHIAPAS</option>
                           <option value="8-CHIHUAHUA">8-CHIHUAHUA</option>
                           <option value="9-DISTRITO FEDERAL">9-DISTRITO FEDERAL</option>
                           <option value="10-DURANGO">10-DURANGO</option>
                           <option value="11-GUANAJUATO">11-GUANAJUATO</option>
                           <option value="12-GUERRERO">12-GUERRERO</option>k
                           <option value="13-HIDALGO">13-HIDALGO</option>
                           <option value="14-JALISCO">14-JALISCO</option>
                           <option value="15-MEXICO">15-MEXICO</option>
                           <option value="16-MICHOACAN">16-MICHOACAN</option>
                           <option value="17-MORELOS">17-MORELOS</option>
                           <option value="18-NAYARIT">18-NAYARIT</option>
                           <option value="19-NUEVO LEON">19-NUEVO LEON</option>
                           <option value="20-OAXACA">20-OAXACA</option>
                           <option value="21-PUEBLA">21-PUEBLA</option>
                           <option value="22-QUERETARO">22-QUERETARO</option>
                           <option value="23-QUINTANA ROO">23-QUINTANA ROO</option>
                           <option value="24-SAN LUIS POTOSI">24-SAN LUIS POTOSI</option>
                           <option value="25-SINALOA">25-SINALOA</option>
                           <option value="26-SONORA">26-SONORA</option>
                           <option value="27-TABASCO">27-TABASCO</option>
                           <option value="28-TAMAULIPAS">28-TAMAULIPAS</option>
                           <option value="3">29-TLAXCALA</option>
                           <option value="3">30-VERACRUZ</option>
                           <option value="3">31-YUCATAN</option>
                           <option value="3">32-ZACATECAS</option>
                         </select>
                       </div>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col-sm-3">
                       <label for="">Municipio o Delegacion:</label>
                     </div>
                     <div class="col-sm-3">
                       <div class="input-group mb-3">
                         <select [(ngModel)]="munODele" class="form-select">
                           <option selected>Seleccionar</option>
                           <option value="1">One</option>
                           <option value="2">Two</option>
                           <option value="3">Three</option>
                         </select>
                       </div>
                     </div>
                     <div class="col-sm-3">
                       <label for="">Ciudad:</label>
                     </div>
                     <div class="col-sm-3">
                       <div class="input-group input-group-sm mb-3">
                         <input style="text-transform: uppercase;" [(ngModel)]="ciudad" type="text" class="form-control mt-1" 
                         name="ciudad" required  maxlength="60">
                       </div>
                     </div>
                   </div>
                   <br />
                   <div class="row">
                     <div class="col-sm-3">
                       <label for="">Colonia del acreditado:</label>
                     </div>
                     <div class="col-sm-3">
                       <div class="input-group input-group-sm mb-3">
                         <input style="text-transform: uppercase;" [(ngModel)]="colonia" type="text" class="form-control mt-1" 
                         name="colonia" required  maxlength="60">
                       </div>
                     </div>
                     <div class="col-sm-3">
                       <label for="">Calle y Numero del acreditado:</label>
                     </div>
                     <div class="col-sm-3">
                       <div class="input-group input-group-sm mb-3">
                         <input style="text-transform: uppercase;" [(ngModel)]="calleNumero" type="textt" class="form-control mt-1" 
                         name="calle" required  maxlength="60">
                       </div>
                     </div>
                   </div>
                   <br />
                   <div class="row">
                     <div class="col-sm-3">
                       <label for="">Codigo Postal:</label>
                     </div>
                     <div class="col-sm-3">
                       <div class="input-group input-group-sm mb-3">
                         <input style="text-transform: uppercase;" [(ngModel)]="cp" type="text" class="form-control mt-1" 
                         name="codigoP" required  maxlength="5">
                       </div>
                     </div>
                     <div class="col-sm-3">
                       <label for="">Segmento:</label>
                     </div>
                     <div class="col-sm-3">
                       <div class="input-group input-group-sm mb-3">
                         <input style="cursor: not-allowed; text-transform: uppercase;" [(ngModel)]="segmento" type="text" class="form-control mt-1" 
                         name="segmento" required  maxlength="20" disabled="disabled">
                       </div>
                     </div>
                   </div>
                   <br />
                   <div class="row">
                     <div class="col-sm-3">
                       <label for="">Sexo:</label>
                     </div>
                     <div class="col-sm-3">
                       <div class="input-group mb-3">
                         <select [(ngModel)]="sexo" class="form-select">
                           <option></option>
                           <option value="1">Masculino</option>
                           <option value="2">Femenino</option>
                           <option value="3">NA</option>
                         </select>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="accordion-item">
                 <h2 class="accordion-header" id="headingTwo">
                   <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                     <label for="" style="color: blue"><b>Anexo de Informacion</b></label>
                   </button>
                 </h2>
                 <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                   data-bs-parent="#accordionExample">
                   <div class="accordion-body" style="background-color: #ffffcc">
                     <div class="row">
                       <div class="col-sm-3">
                         <label for="">Ventas Totales Anuales (en pesos):</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group input-group-sm mb-3">
                           <input [(ngModel)]="ventasTA" style="text-transform: uppercase;" type="text" class="form-control mt-1" 
                           name="ventasT" required  maxlength="20">
                         </div>
                       </div>
                       <div class="col-sm-3">
                         <label for="">Personal Ocupado (numero):</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group input-group-sm mb-3">
                           <input [(ngModel)]="personalOcupado" style="text-transform: uppercase;" type="text" class="form-control mt-1" 
                           name="personalOcu" required  maxlength="5">
                         </div>
                       </div>
                     </div>
                     <br />
                     <div class="row">
                       <div class="col-sm-3">
                         <label for="">Sector General:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group mb-3">
                           <select [(ngModel)]="sectorGeneral" class="form-select">
                               <option value="" selected="selected"></option>
                               <option value="SERVICIOS">SERVICIOS</option>
                               <option value="COMERCIO">COMERCIO</option>
                               <option value="INDUSTRIA">INDUSTRIA</option>
                               <option value="INDUSTRIA">TURISMO(COMERCIO)</option>
                               <option value="INDUSTRIA">TURISMO(SERVICIO)</option>
                               <option value="INDUSTRIA">AUTOMOTRIZ</option>
                             </select>
                         </div>
                       </div>
                       <div class="col-sm-3">
                         <label for="">Tope Maximo Combinado (TMC):</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group input-group-sm mb-3">
                           <input [(ngModel)]="topeMaximoC"  style="text-transform: uppercase; cursor: not-allowed;" type="text" class="form-control mt-1" 
                           name="tmc" required  maxlength="12" disabled="disabled">
                         </div>
                       </div>
                     </div>
                     <br />
                     <div class="row">
                       <div class="col-sm-3">
                         <label for="">Segmento Bancomex (de acuerdo al tope maximo convinado
                           = TMC):</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group input-group-sm mb-3">
                           <input [(ngModel)]="segmentoBancomext"  style="text-transform: uppercase; cursor: not-allowed;" type="text" class="form-control mt-1" 
                           name="segmentoBancomet" required  maxlength="17" disabled="disabled">
                         </div>
                       </div>
                       <div class="col-sm-3">
                         <label for="">Antiguedad del acreditado como cliente del
                           intermediario (en meses):</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group input-group-sm mb-3">
                           <input [(ngModel)]="antiguedadAcreditado"  style="text-transform: uppercase;" type="text" class="form-control mt-1" 
                           name="antiguedadAcreditado" required  maxlength="3">
                         </div>
                       </div>
                     </div>
                     <br />
                     <div class="row">
                       <div class="col-sm-3">
                         <label for="">Proposito del Proyecto:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group mb-3">
                           <select [(ngModel)]="propositoProyecto" class="form-select">
                             <option></option>
                             <option value="FISICA">1-MODERNIZACION</option>
                             <option value="MORAL">18-PROGRAMA MEJORA TU HOTEL</option>
                             <option value="N/A">19-PROGRAMA GASTRONOMIA</option>
                           </select>
                         </div>
                       </div>
                       <div class="col-sm-3">
                         <label for="">Porcentaje de Origen Nacional:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group input-group-sm mb-3">
                           <input [(ngModel)]="porcentajeNacional"  style="text-transform: uppercase;" type="text" class="form-control mt-1" 
                           name="porcentajeOrigenNacional" required  maxlength="3">
                         </div>
                       </div>
                     </div>
                     <br />
                     <div class="row">
                       <div class="col-sm-3">
                         <label for="">Porcentaje de la produccion destinada al Mercado
                           Interno:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group input-group-sm mb-3">
                           <input [(ngModel)]="porcentajeMercadoInterno"  style="text-transform: uppercase;" type="text" class="form-control mt-1" 
                           name="porcentajePMI" required  maxlength="4">
                         </div>
                       </div>
                       <div class="col-sm-3">
                         <label for="">Porcentaje de Origen Importacion:</label>
                       </div>
                       <div class="col-sm-3">
                         <input [(ngModel)]="porcentajeOrigenImportacion"  style="text-transform: uppercase; cursor: not-allowed;" type="text" class="form-control mt-1" 
                         name="porcentajeOrigenImportacion" required  maxlength="3" disabled="disabled">
                       </div>
                     </div>
                     <br />
                     <div class="row">
                       <div class="col-sm-3">
                         <label for="">Porcentaje de la produccion destinada al Mercado
                           Externo:</label>
                       </div>
                       <div class="col-sm-3">
                         <input [(ngModel)]="porcentajeMercadoExterno"  style="text-transform: uppercase; cursor: not-allowed" type="text" class="form-control mt-1" 
                         name="porcentajeME" required  maxlength="4" disabled="disabled">
                       </div>
                      
                       <div class="col-sm-3">
                         <label for="">Persona Fisica o Moral:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group mb-3">
                           <select [(ngModel)]="personaFisicaMoral" class="form-select">
                             <option></option>
                             <option value="FISICA">FISICA</option>
                             <option value="MORAL">MORAL</option>
                             <option value="N/A">N/A</option>
                           </select>
                         </div>
                       </div>
                     </div>
                     <br />
                     <div class="row">
                       <div class="col-sm-3">
                         <label for="">Sexo:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group mb-3">
                           <select [(ngModel)]="sexoAnexoInfo" class="form-select">
                             <option selected></option>
                             <option value="MASCULINO">MASCULINO</option>
                             <option value="FEMENINO">FEMENINO</option>
                             <option value="N/A">N/A</option>
                           </select>
                         </div>
                       </div>
                       <div class="col-sm-3">
                         <label for="">Fecha de Firma de Contrato:</label>
                       </div>
                       <div class="col-sm-3" style="height: 85%">
                         <input [(ngModel)]="date"  style="text-transform: uppercase;" type="date" class="form-control mt-1" 
                       name="fechaFirma" required  maxlength="12">
                       </div>
                     </div>
                     <br />
                     <div class="row">
                       <div class="col-sm-3">
                         <label for="">Vigencia Total en la Linea (meses):</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group input-group-sm mb-3">
                           <input [(ngModel)]="vigenciaTotalLinea" style="text-transform: uppercase;" type="text" class="form-control mt-1" 
                           name="vigenciaTotal" required  maxlength="2">
                         </div>
                       </div>
                     </div>
                     <br />
                     <div class="row">
                       <div class="col-sm-3">
                         <label for="">Sector de Actividad Economica:</label>
                       </div>
                       <div class="col-sm-9">
                         <div class="input-group mb-3">
                           <select [(ngModel)]="actividadEconomica" class="form-select">
                             <option value="1-PRODUCTOS ALIMENTICIOS, BEBIDAS Y TABACO">1-PRODUCTOS ALIMENTICIOS,
                               BEBIDAS Y TABACO</option>
                             <option value="" selected="selected"></option>
                             <option value="2-TEXTILES Y PRENDAS DE VESTIR E INDUSTRIA DEL CUERO">2-TEXTILES Y PRENDAS
                               DE VESTIR E INDUSTRIA DEL CUERO</option>
                             <option value="3-INDUSTRIA DE LA MADERA Y PRODUCTOS DE MADERA">3-INDUSTRIA DE LA MADERA Y
                               PRODUCTOS DE MADERA</option>
                             <option value="4-PAPEL Y PRODUCTOS DE PAPEL, IMPRENTAS Y EDITORIALES">4-PAPEL Y PRODUCTOS
                               DE PAPEL, IMPRENTAS Y EDITORIALES</option>
                             <option
                               value="5-SUSTANCIAS QUIMICAS, PRODUCTOS DERIVADOS DEL PETROLEO, DEL CARBON, DE HULE Y PLASTICOS">
                               5-SUSTANCIAS QUIMICAS, PRODUCTOS DERIVADOS DEL PETROLEO, DEL CARBON, DE HULE Y PLASTICOS
                             </option>
                             <option
                               value="6-PRODUCTOS MINERALES NO METALICOS, EXCEPTO LOS DERIVADOS DEL PETROLEO Y DEL CARBON">
                               6-PRODUCTOS MINERALES NO METALICOS, EXCEPTO LOS DERIVADOS DEL PETROLEO Y DEL CARBON
                             </option>
                             <option value="7-INDUSTRIAS METALICAS BASICAS">7-INDUSTRIAS METALICAS BASICAS</option>
                             <option value="8-PRODUCTOS METALICOS, MAQUINARIA Y EQUIPO">8-PRODUCTOS METALICOS,
                               MAQUINARIA Y EQUIPO</option>
                             <option value="9-OTRAS INDUSTRIAS MANUFACTURERAS">9-OTRAS INDUSTRIAS MANUFACTURERAS
                             </option>
                             <option value="10-COMERCIO">10-COMERCIO</option>
                             <option value="10-AGRO (UNICAMENTE EXPORTACIONES)">10-AGRO (UNICAMENTE EXPORTACIONES)
                             </option>
                             <option value="11-SERVICIOS">11-SERVICIOS</option>
                             <option value="12-TRATAMIENTO DE AGUA PARA USO INDUSTRIAL">12-TRATAMIENTO DE AGUA PARA USO
                               INDUSTRIAL</option>
                             <option value="13-ELECTRICIDAD">13-ELECTRICIDAD</option>
                             <option value="14-CONSTRUCCION">14-CONSTRUCCION</option>
                             <option value="15-BENEFICIO DE MINERALES">15-BENEFICIO DE MINERALES</option>
                             <option value="21-MINERIA">21-MINERIA</option>
                             <option
                               value="22-GENERACION, TRANSMISION Y DISTRIBUCION DE ENERGIA ELECTRICA, SUMINISTRO DE AGUA Y GAS POR DUCTOS">
                               22-GENERACION, TRANSMISION Y DISTRIBUCION DE ENERGIA ELECTRICA, SUMINISTRO DE AGUA Y GAS
                               POR DUCTOS</option>
                             <option value="23-CONSTRUCCION">23-CONSTRUCCION</option>
                             <option value="31-INDUSTRIA MANUFACTURERA">31-INDUSTRIA MANUFACTURERA</option>
                             <option value="43-COMERCIO AL POR MAYOR">43-COMERCIO AL POR MAYOR</option>
                             <option value="46-COMERCIO AL POR MENOR">46-COMERCIO AL POR MENOR</option>
                             <option value="48-TRANSPORTES, CORREO Y ALMACENAMIENTO">48-TRANSPORTES, CORREO Y
                               ALMACENAMIENTO</option>
                             <option value="51-INFORMACION EN MEDIOS MASIVOS">51-INFORMACION EN MEDIOS MASIVOS</option>
                             <option value="52-SERVICIOS FINANCIEROS Y SEGUROS">52-SERVICIOS FINANCIEROS Y SEGUROS
                             </option>
                             <option value="53-SERVICIOS INMOBILIARIOS Y DE ALQUILER DE BIENES MUEBLES E INTANGIBLES">
                               53-SERVICIOS INMOBILIARIOS Y DE ALQUILER DE BIENES MUEBLES E INTANGIBLES</option>
                             <option value="54-SERVICIOS PROFESIONALES, CIENTIFICOS Y TECNICOS.">54-SERVICIOS
                               PROFESIONALES, CIENTIFICOS Y TECNICOS.</option>
                             <option value="55-CORPORATIVOS.">55-CORPORATIVOS.</option>
                             <option
                               value="56-SERVICIOS DE APOYO A LOS NEGOCIOS Y MANEJO DE RESIDUOS  Y DESECHOS, Y SERVICIOS DE REMEDIACION.">
                               56-SERVICIOS DE APOYO A LOS NEGOCIOS Y MANEJO DE RESIDUOS Y DESECHOS, Y SERVICIOS DE
                               REMEDIACION.</option>
                             <option value="61-SERVICIOS EDUCATIVOS">61-SERVICIOS EDUCATIVOS</option>
                             <option value="62-SERVICIOS DE SALUD Y DE ASISTENCIA SOCIAL.">62-SERVICIOS DE SALUD Y DE
                               ASISTENCIA SOCIAL.</option>
                             <option
                               value="71-SERVICOS CULTURALES DE ESPARCIMIENTO CULTURALES Y DEPORTIVOS, Y OTROS SERVICIOS RECREATIVOS.">
                               71-SERVICOS CULTURALES DE ESPARCIMIENTO CULTURALES Y DEPORTIVOS, Y OTROS SERVICIOS
                               RECREATIVOS.</option>
                             <option
                               value="72-SERVICIOS DE ALOJAMIENTO TEMPORAL Y DE PREPARACION DE ALIMENTOS Y BEBIDAS.">
                               72-SERVICIOS DE ALOJAMIENTO TEMPORAL Y DE PREPARACION DE ALIMENTOS Y BEBIDAS.</option>
                             <option value="81-OTROS SERVICIOS EXCEPTO ACTIVIDADES GUBERNAMENTALES.">81-OTROS SERVICIOS
                               EXCEPTO ACTIVIDADES GUBERNAMENTALES.</option>
                             <option
                               value="93-ACTIVIDADES LEGISLATIVAS, GUBERNAMENTALES, DE IMPARTICION DE JUSTICIA Y ORGANISMOS INTERNACIONALES.">
                               93-ACTIVIDADES LEGISLATIVAS, GUBERNAMENTALES, DE IMPARTICION DE JUSTICIA Y ORGANISMOS
                               INTERNACIONALES.</option>
                             <option value="487-TRANSPORTE TURISTICO">487-TRANSPORTE TURISTICO</option>
                             <option value="721-SERVICIOS DE ALOJAMIENTO TEMPORAL">721-SERVICIOS DE ALOJAMIENTO
                               TEMPORAL</option>
                             <option value="5615-AGENCIAS DE VIAJE Y SERVICIOS DE RESERVACIONES">5615-AGENCIAS DE VIAJE
                               Y SERVICIOS DE RESERVACIONES</option>
                           </select>
                         </div>
                       </div>
                     </div>
                     <br />
                     <div class="row">
                       <div class="col-sm-5">
                         <label for="">Tipo de Credito (Bancomext) (Para garantias Personales,
                           seleccionar creditos con garantia):</label>
                       </div>
                       <div class="col-sm-7">
                         <div class="input-group mb-3">
                           <select [(ngModel)]="tipoCredito" class="form-select">
                             <option value="" selected="selected"></option>
                             <option value="2 CREDITO SIMPLE">2 CREDITO SIMPLE</option>
                             <option value="3 CREDITOS EN CUENTA CORRIENTE">3 CREDITOS EN CUENTA CORRIENTE</option>
                             <option value="5 CREDITOS REFACCIONARIOS">5 CREDITOS REFACCIONARIOS</option>
                             <option value="29 CREDITOS SIMPLE CON GARANTIA">29 CREDITOS SIMPLE CON GARANTIA</option>
                             <option value="30 CREDITO CUENTA CORRIENTE CON GARANTIA">30 CREDITO CUENTA CORRIENTE CON
                               GARANTIA</option>
                             <option value="5 CREDITO REFACCIONARIO">5 CREDITO REFACCIONARIO</option>
                             <option value="29 CREDITO SIMPLE CON GARANTIA">29 CREDITO SIMPLE CON GARANTIA</option>
                             <option value="9 ARRENDAMIENTO FINANCIERO">9 ARRENDAMIENTO FINANCIERO</option>
                             <option value="3 CREDITO CUENTA CORRIENTE">3 CREDITO CUENTA CORRIENTE</option>
                           </select>
                         </div>
                       </div>
                     </div>
                     <br />
                     <div class="row">
                       <div class="col-sm-3">
                         <label for="">Destino de los recursos (Catalogo Bancomext):</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group mb-3">
                           <select [(ngModel)]="destinoRecursos" class="form-select">
                             <option value="" selected="selected"></option>
                             <option value="9 - CAPITAL DE TRABAJO">9 - CAPITAL DE TRABAJO</option>
                             <option value="9 - CAPITAL DE TRABAJO COMEX">9 - CAPITAL DE TRABAJO COMEX</option>
                             <option value="20 - CAPITAL DE TRABAJO TURISMO">20 - CAPITAL DE TRABAJO TURISMO</option>
                             <option value="21 - ACTIVOS FIJOS COMEX">21 - ACTIVOS FIJOS COMEX</option>
                             <option value="22 - ACTIVOS FIJOS TURISMO">22 - ACTIVOS FIJOS TURISMO</option>
                             <option value="10 - ACTIVO FIJO">10 - ACTIVO FIJO</option>
                             <option value="19 - CAPITAL DE TRABAJO DE COMERCIO EXTERIOR">19 - CAPITAL DE TRABAJO DE
                               COMERCIO EXTERIOR</option>
                           </select>
                         </div>
                       </div>
                       <div class="col-sm-3">
                         <label for="">Codigo Bien:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group mb-3">
                           <select [(ngModel)]="codigoBien" class="form-select">
                             <option value="" selected="selected"></option>
                             <option value="861 INSTITUCION FINANCIERA BANCOMEXT (AUTOMATICA)" selected="selected">861
                               INSTITUCION FINANCIERA BANCOMEXT (AUTOMATICA)</option>
                             <option value="860 INSTITUCION FINANCIERA BANCOMEXT (SELECTIVA)">860 INSTITUCION
                               FINANCIERA BANCOMEXT (SELECTIVA)</option>
                             <option value="862 INSTITUCION FINANCIERA BANCOMEXT (PRIMERAS PERDIDA">862 INSTITUCION
                               FINANCIERA BANCOMEXT (PRIMERAS PERDIDA</option>
                           </select>
                         </div>
                       </div>
                     </div>
                     <br />
                     <div class="row">
                       <div class="col-sm-3">
                         <label for="">Tipo de Garantia:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group mb-3">
                           <select [(ngModel)]="tipoGarantia" class="form-select">
                             <option value="" selected="selected"></option>
                             <option value="979-INSTITUCION FINANCIERA BANCOMEX EMERGENTE">979-INSTITUCION FINANCIERA
                               BANCOMEX EMERGENTE</option>
                             <option value="961-INSTITUCION FINANCIERA BANCOMEXT AUTOMATICA" selected="selected">
                               961-INSTITUCION FINANCIERA BANCOMEXT AUTOMATICA</option>
                             <option value="960-INSTITUCION FINANCIERA BANCOMEXT (SELECTIVA)">960-INSTITUCION
                               FINANCIERA BANCOMEXT (SELECTIVA)</option>
                             <option value="989-INSTITUCION FINANCIERA BANCOMEXT (SELECTIVA EMPRES">989-INSTITUCION
                               FINANCIERA BANCOMEXT (SELECTIVA EMPRES</option>
                           </select>
                         </div>
                       </div>
                       <div class="col-sm-3">
                         <label for="">Entidad Financiera:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group mb-3">
                           <select [(ngModel)]="entidadFinanciera" class="form-select">
                             <option selected></option>
                             <option value="244-BANCOMEXT">244-BANCOMEXT</option>
                           </select>
                         </div>
                       </div>
                     </div>
                     <br />
                     <div class="row">
                       <div class="col-sm-3">
                         <label for="">% Garantia:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group input-group-sm mb-3">
                           <input [(ngModel)]="porcentajeGarantia" style="text-transform: uppercase; cursor: not-allowed;" type="text" class="form-control mt-1" 
                           name="porcenGarantia" required  maxlength="4" disabled="disabled">
                         </div>
                       </div>
                       <div class="col-sm-3">
                         <label for="">Moneda:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group mb-3">
                           <select [(ngModel)]="moneda" class="form-select">
                             <option value="" selected="selected"></option>
                             <option value="USD">USD</option>
                             <option value="MXP">MXP</option>
                           </select>
                         </div>
                       </div>
                     </div>
                     <br />
                     <div class="row">
                       <div class="col-sm-3">
                         <label for="">Monto de la Linea:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group input-group-sm mb-3">
                           <input [(ngModel)]="montoLinea" style="text-transform: uppercase;" type="text" class="form-control mt-1" 
                           name="montoLinea" required  maxlength="4">
                         </div>
                       </div>
                       <div class="col-sm-3">
                         <label for="">Monto Garantizado:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group input-group-sm mb-3">
                           <input [(ngModel)]="montoGarantizado" style="text-transform: uppercase; cursor: not-allowed;" type="text" class="form-control mt-1" 
                           name="montoGarantizado" required  maxlength="15" disabled="disabled">
                         </div>
                       </div>
                     </div>
 
 
 <!-- Informacion nueva del formulario -->
 
                     <div class="row">
                       <div class="col-sm-3">
                         <label for="">No. Garantía:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group input-group-sm mb-3">
                           <input [(ngModel)]="noGarantia2" style="text-transform: uppercase; cursor: not-allowed;" type="text" class="form-control mt-1" 
                           name="noGarantia" required  maxlength="9" disabled="disabled">
                         </div>
                       </div>
                       <div class="col-sm-3">
                         <label for="">Numero de Garantía madre FDF:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group input-group-sm mb-3">
                           <input [(ngModel)]="garantiaFDF" style="text-transform: uppercase; cursor: not-allowed;" type="text" class="form-control mt-1" 
                           name="garantiaFDF" required  maxlength="8" disabled="disabled">
                         </div>
                       </div>
                     </div>
 
                     <div class="row">
                       <div class="col-sm-3">
                         <label for="">Sector Especifico:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group input-group-sm mb-3">
                           <input [(ngModel)]="segtorEspecifico" style="text-transform: uppercase; cursor: not-allowed;" type="text" class="form-control mt-1" 
                           name="segtorEspecifico" required  maxlength="50" disabled="disabled">
                         </div>
                       </div>
                       <div class="col-sm-3">
                         <label for="">Spread (inclyendo costo de la garantía y costo de fondos):</label>
                       </div>
                       <div class="col-sm-3">
                         <input [(ngModel)]="spread" style="text-transform: uppercase;" type="text" class="form-control mt-1" 
                         name="spread" required  maxlength="5">
                       </div>
                     </div>
 
                     <div class="row">
                       <div class="col-sm-3">
                         <label for="">Etiqueta:</label>
                       </div>
                       <div class="col-sm-3">
                         <input [(ngModel)]="etiqueta" style="text-transform: uppercase; cursor: not-allowed;" type="text" class="form-control mt-1" 
                         name="etiqueta" required  maxlength="4" disabled="disabled">
                       </div>
                       <div class="col-sm-3">
                         <label for="">Tipo de Garantía:</label>
                       </div>
                         <div class="col-sm-3">
                             <select [(ngModel)]="tipoGarantia2" class="form-select">
                               <option value="" selected="selected"></option>
                               <option value="3-Prendaria">3-Prendaria</option>
                               <option value="4-Obligado Solidario">4-Obligado Solidario</option>
                               <option value="5-SIN GARANTIA">5-SIN GARANTIA</option>
                               <option value="12-GARANTIAS REALES">12-GARANTIAS REALES</option>
                               <option value="1-HIPOTECA">1-HIPOTECA</option>
                             </select>
                           </div>
                     </div>
                     <br>
                     <div class="row">
                       <div class="col-sm-3">
                         <label for="">Tipo de Tasa:</label>
                       </div>
                       <div class="col-sm-3">
                         <input [(ngModel)]="tipoTasa" style="text-transform: uppercase; cursor: not-allowed;" type="text" class="form-control mt-1" 
                         name="tipoTasa" required  maxlength="10" disabled="disabled">
                       </div>
                       <div class="col-sm-3">
                         <label for="">Comision de Estructuracion:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group input-group-sm mb-3">
                           <select [(ngModel)]="comisionEstructuracion" class="form-select">
                             <option value="" selected="selected"></option>
                             <option value="3-Prendaria">3-Prendaria</option>
                             <option value="4-Obligado Solidario">4-Obligado Solidario</option>
                             <option value="5-SIN GARANTIA">5-SIN GARANTIA</option>
                             <option value="12-GARANTIAS REALES">12-GARANTIAS REALES</option>
                             <option value="1-HIPOTECA">1-HIPOTECA</option>
                           </select>
                         </div>
                       </div>
                       </div>
                         <br>
                     <div class="row">
                       <div class="col-sm-3">
                         <label for="">Regional:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group input-group-sm mb-3">
                           <select [(ngModel)]="regional" class="form-select">
                             <option value="" selected="selected"></option>
                             <option value="CENTRO">CENTRO</option>
                             <option value="METRO NORTE">METRO NORTE</option>
                             <option value="METRO SUR">METRO SUR</option>
                             <option value="NORESTE">NORESTE</option>
                             <option value="NOROESTE">NOROESTE</option>
                             <option value="NORTE">NORTE</option>
                             <option value="OCCIDENTE">OCCIDENTE</option>
                             <option value="SUR">SUR</option>
                             <option value="SURESTE">SURESTE</option>
                           </select>
                         </div>
                       </div>
                       <div class="col-sm-3">
                         <label for="">Numero de Contrato:</label>
                       </div>
                       <div class="col-sm-3">
                         <div class="input-group input-group-sm mb-3">
                           <input [(ngModel)]="noContrato" style="text-transform: uppercase;" type="text" class="form-control mt-1" 
                           name="tipoTasa" required  maxlength="10">
                         </div>
                       </div>
                     </div>
 
                     <br>
                     <br>
 
                     <!-- <div class="row">
                       <div class="input-group mb-12">
                         <input type="text" [(ngModel)]="comentario" id="comentario" name="comentario"
                           class="form-control" placeholder="Agregar Comentario" aria-label="Recipient's username"
                           aria-describedby="button-addon2">
                         <button class="btn btn-outline-secondary" type="button" id="agregar"
                           (click)="agregarComentairo()"><b>+</b></button>
                       </div>
                       <label for="" *ngIf="mostrarComentario">{{fechacompleta}}{{comentario}}</label>
                     </div> -->
                   </div>
                 </div>
               </div>
             </div>
           </div>
 
         </div>
         <div class="modal-footer" *ngIf="show">
           <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert" id="myAlert">
             <strong>Holy guacamole!</strong> You should check in on some of those fields below.
             <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert"
               aria-label="Close"></button>
           </div>
           <button type="button" class="btn btn-lg btn-danger" data-bs-dismiss="modal">
             Generar Solicitud
           </button>
         </div>
       </div>
     </div>
   </div>
 