<!-- Modal -->
<div class="modal fade" id="modalDetalleBitacora" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color: red">
                <h5 class="modal-title" id="staticBackdropLabel" style="color: white">
                    Detalle Bitacora. Folio: 1. En Estatus: Pendiente
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="">Detalle Bitacora Folio: 1</label>
                <hr>
                <div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for=""><b>NUMERO DE BOLSA</b>:</label>&nbsp;
                            <input style="cursor: not-allowed;" type="text" required maxlength="4" disabled>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                      <div class="row">
                        <div class="col-sm-3">
                          <label for=""><b>PROGRAMA:</b></label>&nbsp;
                          <input type="text" style="cursor: not-allowed;" disabled>
                          <br>
                          <br>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <label for=""><b>PORCENTAJE GARANTIZADO:</b></label>&nbsp;
                          <input type="text" style="cursor: not-allowed;" disabled>
                          <br>
                          <br>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <label for=""><b>COMISION:</b></label>&nbsp;
                          <input type="text" style="cursor: not-allowed;" disabled>
                          <br>
                          <br>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <label for=""><b>ETIQUETA ASIGNADA:</b></label>&nbsp;
                          <input type="text" style="cursor: not-allowed;" disabled>
                          <br>
                          <br>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <label for=""><b>SECTORES:</b></label>&nbsp;
                          <input type="text" style="cursor: not-allowed;" disabled>
                          <br>
                          <br>
                        </div>
                      </div>
                      <div class="row">
                        <label for=""><b>MONEDA:</b></label>&nbsp;
                        <div class="col-sm-3">
                          <input class="form-control" type="text" style="cursor: not-allowed;" disabled>
                          <br>
                          <br>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <label for=""><b>MONTO DE LA BOLSA $:</b></label>&nbsp;
                          <input type="text" style="cursor: not-allowed;" disabled>
                          <br>
                          <br>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <label for=""><b>FECHA VENCIMIENTO:</b></label>&nbsp;
                          <input type="text" style="cursor: not-allowed;">
                          <br>
                          <br>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <label for=""><b>GARANTIA ALTAIR PESOS:</b></label>&nbsp;
                          <input type="text" style="cursor: not-allowed;">
                          <br>
                          <br>
                        </div>
                      </div>
                      <div class="row" style="background-color: #FFFFC9;">
                        <div class="col-sm-3">
                          <label for=""><b>GARANTIA ALTAIR DOLARES:</b></label>&nbsp;
                          <input type="text" style="cursor: not-allowed;">
                          <br>
                          <br>
                        </div>
                      </div>
                      <app-table-seleccion></app-table-seleccion>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="ejemplo_archivo_1"><b>EVIDENCIA DE LA ALTA ADJUNTA:</b></label>
                            <label for="">Evidencia Adjunta</label>
                          </div>
                          <div class="form-group">
                            <label for="ejemplo_archivo_1"><b>EVIDENCIA DE RECHAZO ADJUNTA:</b></label>
                            <label for="">Evidencia Adjunta</label> 
                          </div>
                          <br>
                          <br>
                        </div>
                      </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
