
    <div class="modal fade" id="AbrirCerrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header" style="color: white; background-color: red;">
              <h5 class="modal-title" id="exampleModalLabel">Parametría Grande Empresa</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="display: flex; justify-content: center; align-items: center;">
              <div class="abrir" style="text-decoration: underline;" data-bs-dismiss="modal" ><small>Abrir Parametro <img style="height: 18px; width: 18px;" src="../../../../assets/img/lock_open.ico" alt=""></small></div>
            </div>
      
          </div>
        </div>
      </div>

      

