<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
      <label>CVE NAFINET:</label>
    </div>
    <div class="col-sm-2">
        <input type="text">
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12" style="margin-left: 78%">
      <button id="efecto" class="btn btn-outline-secondary" (click)="mostraFolioNafinet()">Buscar</button>
      &nbsp;&nbsp;
      <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
    </div>
  </div>
      <br>
<app-table-folio-nafinet *ngIf="tableFolioNafinet"></app-table-folio-nafinet>