<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Generar Reporte Completo
</button>

<!-- Modal -->
<div class="modal fade ocultar" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:red;">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white;">Generar Reporte Completo
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><b>
                        Ingrese Filtros para Generar Reporte de Solicitudes Recibidas o solo pulse Aceptar para Generar
                        el Reporte sin Filtros
                    </b>
                </p>
                <hr style="color:red;">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Fecha solicitud desde</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Fecha solicitud hasta</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Moneda</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <select name="" id=""></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Region</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <select name="" id=""></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>BUC</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text">
                    </div>
                </div>
                <br>
                <div class="row" style="text-align:center;">
                    <div class="col-sm-12">
                        <button class="btn btn-outline-secondary">Limpiar</button>&nbsp;&nbsp;
                        <button class="btn btn-outline-danger">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>