<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
  <div class="col-sm-4">
    <label class="col-form-label me-1">FOLIO:</label>&nbsp;
    <input class="form-control" type="text" />
  </div>
  <div class="col-sm-4">
    <label class="col-form-label me-1">SOLICITADO:</label>&nbsp;
    <input class="form-control" type="text" />
  </div>
  <div class="col-sm-4">
    <label class="col-form-label me-1">ESTATUS FOLIO:CT</label>&nbsp;
    <select class="form-select" [(ngModel)]='pasoDEfault'>
      <option id="black" value="paso1">{{CapturarSolicitud}}</option>
      <option id="black" value="paso2">{{ProcesoPendienteAsesorC}}</option>
      <option id="black" value="paso3">{{EspecialistaComexRech}}</option>
      <option id="black" value="paso4">{{ProcesoPendienteContraloria}}</option>
      <option id="black" value="paso5">{{ProcesoPendienteCartera}}</option>
      <option id="black" value="paso6">{{FondosDeFomento}}</option>
      <option id="black" value="paso7">{{EnviadaNafinet}}</option>
      <option id="black" value="paso8">{{AprobadoNafinet}}</option>
      <option id="black" value="paso9">{{RechaxoNafinet}}</option>
      <option id="black" value="paso10">{{Reproceso}}</option>
    </select>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12" style="margin-left: 78%">
    <button (click)="mostrarTablasComexTmec()" id="efecto" class="btn btn-outline-danger">Buscar</button>
    &nbsp;&nbsp;
    <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
  </div>
</div>
<br>
<app-table-comex-tmec *ngIf="mostrarTablaComextmec"></app-table-comex-tmec>
