<div class="col-sm-12">
    <div class="container" style="display: flex; justify-content: flex-end;">
  
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Filtrar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Exportar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href=""> Exportar Datos<p>
  
    </div>
  
  
    <div class="col-sm-12 p-2">
    <label><b>Solicitudes Realizadas</b></label>
  
      <div class="dataTables_info">
        <table  class="table table-bordered table-striped row-border hover" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th><small>Folio</small></th>
              <th><small>Firma Contrato</small></th>
              <th><small>Cve Programa</small></th>
              <th><small>No Credito</small></th>
              <th><small>Comision</small></th>
              <th><small>Cve Nafinet</small></th>
              <th><small>Estatus</small></th>
              <th><small>Fecha Solicitado</small></th>
              <th><small>Dias</small></th>
              <th><small>RFC Acred</small></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dataSolicitudesRealizadas">
              <td><small>{{ user.Folio}}</small></td>
              <td><small>{{ user.Firma_Contrato}}</small></td>
              <td><small>{{ user.Cve_Programa}}</small></td>
              <td><small>{{ user.No_Credito}}</small></td>
              <td><small>{{ user.Comision}}</small></td>
              <td><small>{{ user.Cve_Nafinet}}</small></td>
              <td><small>{{ user.Estatus}}</small></td>
              <td><small>{{ user.Fecha_Solictado}}</small></td>
              <td><small>{{ user.Dias}}</small></td>
              <td><small>{{ user.RFC_Acred}}</small></td>              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
 
   