<div class="col-sm-12">
    <div class="container" style="display: flex; justify-content: flex-end;">
  
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Filtrar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Exportar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href=""> Exportar Datos<p>
  
    </div>
  
  
    <div class="col-sm-12 p-2">
    <label><b>Sobregiros</b></label>
  
      <div class="dataTables_info">
        <table  class="table table-bordered table-striped row-border hover" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th><small>Fecha</small></th>
              <th><small>Garantia</small></th>
              <th><small>Importe Linea</small></th>
              <th><small>Saldo Dia</small></th>
              <th><small>Sobregiro</small></th>
              <th><small>Modificar</small></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dataSobregiros">
              <td><small>{{ user.Fecha}}</small></td>
              <td><small>{{ user.Garantia}}</small></td>
              <td><small>{{ user.Importe_Linea}}</small></td>
              <td><small>{{ user.Saldo_Dia}}</small></td>
              <td><small>{{ user.Sobregiro}}</small></td>
              <td><small>{{ user.Modificar}}</small></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
 <app-detalle-bitacora></app-detalle-bitacora>