<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Consulta Garantias de Cliente
</button>

<!-- Modal -->
<div class="modal fade ocultar" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color:red;">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white;">Consulta Garantias de Cliente
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><b>
                        Ingresa los datos para buscar Garantias de cliente
                    </b>
                </p>
                <hr style="color:red;">
                <div class="row" style="background-color:#EBF7FF;">
                    <div class="col-sm-3">
                        <label for="">BUC:</label>&nbsp;&nbsp;
                        <input type="text">
                    </div>
                    <div class="col-sm-3">
                        <label for="">RFC:</label>&nbsp;&nbsp;
                        <input type="text">
                    </div>
                    <div class="col-sm-4">
                        <label for="">CLIENTE:</label>&nbsp;&nbsp;
                        <input type="text">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-outline-danger">BUSCAR</button>
                    </div>
                </div>
                <br>
                <!-- En este div iran los clientes encontrados -->
                <div></div>
            </div>
        </div>
    </div>
</div>