.cerrar{
    color: white;
    background-color: red;
    border-radius: 8px;
    font-family: Arial;
    font-size: 20px;
    padding:50px 50px 50px;
    text-decoration: underline;
    width: 300px;
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
}