<div class="col-sm-12">
    <div class="container" style="display: flex; justify-content: flex-end;">
  
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Filtrar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href="">Exportar Selecionados</p>
      &nbsp;&nbsp;&nbsp;&nbsp;<img style="width: 20px; height: 20px;" src="../../../../assets/img/flechita.png"
        alt="validar...">
      <p class="filtrar" href=""> Exportar Datos<p>
  
    </div>
  
  
    <div class="col-sm-12 p-2">
    <label><b>Reporte Bolsas</b></label>
  
      <div class="dataTables_info">
        <table  class="table table-bordered table-striped row-border hover" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th><small>id</small></th>
              <th><small>Moneda</small></th>
              <th><small>Valor</small></th>
              <th><small>Accion</small></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dataTipoCambio">
              <td><small>{{ user.id}}</small></td>
              <td><small>{{ user.Moneda}}</small></td>
              <td><small>{{ user.Valor}}</small></td>            
              <td><small>&nbsp;<img src="../../../../assets/img/mod.ico" data-bs-toggle="modal" data-bs-target="#editarTipo">
                &nbsp;&nbsp;<img src="../../../../assets/img/eliminar.ico" alt="" data-bs-toggle="modal" data-bs-target="#eliminar">
                {{ user.Accion}}</small></td>              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
 
<app-modal-modificar-tipo-cambio></app-modal-modificar-tipo-cambio>
<app-modal-eliminar></app-modal-eliminar>