<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
        <label>TIPO:</label>
    </div>
    <div class="col-sm-2">
        <label>ESTATUS:</label>
    </div>
</div>
<div class="row" style="width: 90%; text-align: center; margin-left:2%;">
    <div class="col-sm-2">
        <select style="width:100%;height:100%;">
        </select>
    </div>
    <div class="col-sm-2">
        <select style="width:100%;height:100%;">
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" style="margin-left: 78%">
        <button id="efecto" class="btn btn-outline-danger">Buscar</button>
        &nbsp;&nbsp;
        <button id="efecto" class="btn btn-outline-secondary">Limpiar</button>
    </div>
</div>