 <!-- Modal -->
 <div class="modal fade" id="GenerarReporteCompleto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable modal-lg">
     <div class="modal-content">
       <div class="modal-header" style="background-color: red">
         <h5 class="modal-title" id="staticBackdropLabel" style="color: white">
           Generar Reporte Completo
         </h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <div class="container mb-3">
           <label for="">Ingrese Filtros para Generar Reporte de Solicitudes
             Recibidas o solo pulse Aceptar para Generar el Reporte sin filtros.</label>
         </div>
         <hr>
         <form action="" class="form-group">
           <div>
             <div class="row">
               <div class="col-sm-3">
                 <label for=""><b>Fecha de Solicitud:</b></label>&nbsp;
                 <input class="form-control" type="date">
                 <br>
               </div>
             </div>
             <div class="row">
               <div class="col-sm-3">
                 <label for=""><b>Fecha Solicitud Hasta:</b></label>&nbsp;
                 <input class="form-control" type="date">
                 <br>
               </div>
             </div>
             <div class="row">
               <div class="col-sm-3">
                 <label for=""><b>Moneda:</b></label>&nbsp;
                 <select class="form-control">
                   <option id="black"></option>
                   <option id="black">DOLARES</option>
                   <option id="black">PESOS</option>
                 </select>
                 <br>
               </div>
             </div>
             <div class="row">
               <div class="col-sm-3">
                 <label for=""><b>Region:</b></label>&nbsp;
                 <select class="form-control">
                   <option id="black"></option>
                   <option id="black">OCCIDENTE</option>
                   <option id="black">NORESTE</option>
                   <option id="black">SURESTE</option>
                   <option id="black">METRO SUR</option>
                   <option id="black">METRO NORTE</option>
                   <option id="black">NOROESTE</option>
                   <option id="black">NORTE</option>
                   <option id="black">CENTRO</option>
                   <option id="black">SUR</option>
                 </select>
                 <br>
               </div>
             </div>
             <div class="row">
               <div class="col-sm-3">
                 <label for="" ><b>Buc:</b></label>&nbsp;
                 <input class="form-control" type="number" style="background-color: #EEEEEE;" required  maxlength="13">
                 <br>
               </div>
             </div>
             <div class="row">
                <div class="col-sm-12" style="display: flex; justify-content: center; align-items: center;">
                  <button id="efecto" class="saveCambios">Limpiar</button>
                  &nbsp;&nbsp;
                  <button id="efecto" class="saveCambiosBuscar" >Buscar</button>
                </div>
              </div>
                  <br>
           </div>

         </form>
       </div>
     </div>
