<!-- Modal -->
<div class="modal fade" id="stockSelectivas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: red">
        <h5 class="modal-title" id="staticBackdropLabel" style="color: white">
          Modificar Datos de Garantía
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="">Las modificacion sobre las garantias son muy sensibles y afectara la conciliacion mensual</label>
        <hr>
        <div >
          <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Garantia</label>
            <div class="col-sm-5">
              <input type="text" value="" class="form-control" id="garantia" required maxlength="30">
            </div>
            <div class="col-sm-1"><img src="../../../../assets/img/MODIF.ico"></div>
          </div>

          <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Buc Asociado</label>
            <div class="col-sm-5">
              <input type="text" value="" class="form-control" id="buc" required maxlength="8">
            </div>
            <div class="col-sm-1"><img src="../../../../assets/img/MODIF.ico"></div>
          </div>
          <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Razon Social</label>
            <div class="col-sm-5">
              <input type="text" value="" class="form-control" id="razon" required maxlength="120">
            </div>
            <div class="col-sm-1"><img src="../../../../assets/img/MODIF.ico"></div>
          </div>
          <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">RFC</label>
            <div class="col-sm-5">
              <input type="text" value="" class="form-control" id="rfc" required maxlength="16">
            </div>
            <div class="col-sm-1"><img src="../../../../assets/img/MODIF.ico"></div>
          </div>
          <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Tipo de Credito</label>
            <div class="col-sm-5">
                <select class="form-select form-select-sm mb-2" aria-label=".form-select-lg example">
                    <option value="1">Simple</option>
                    <option value="2">Cuenta Corriente</option>
                    <option value="3">Refaccionario</option>
                  </select>
            </div>
            <div class="col-sm-1"><img src="../../../../assets/img/MODIF.ico"></div>
          </div>
          <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Spred Minimo</label>
            <div class="col-sm-5">
              <input type="text" value="" class="form-control" id="spred" required maxlength="15">
            </div>
            <div class="col-sm-1"><img src="../../../../assets/img/MODIF.ico"></div>
          </div>
          <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Tipo de Credito</label>
            <div class="col-sm-5">
                <select class="form-select form-select-sm mb-2" aria-label=".form-select-lg example">
                    <option value="1">Comex</option>
                    <option value="2">Turismo 50</option>
                    <option value="3">Turismo 70</option>
                    <option value="3">Automotriz</option>
                    <option value="3">CAPEX</option>
                  </select>
            </div>
            <div class="col-sm-1"><img src="../../../../assets/img/MODIF.ico"></div>
          </div>
          <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Comision</label >
            <div class="col-sm-5">
              <input type="text" value="" class="form-control" id="comision" required maxlength="6">
            </div>
            <div class="col-sm-1"><img src="../../../../assets/img/MODIF.ico"></div>
          </div>
          <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Cobertura</label>
            <div class="col-sm-5">
              <input type="text" value="" class="form-control" id="cobertura" required maxlength="5">
            </div>
            <div class="col-sm-1"><img src="../../../../assets/img/MODIF.ico"></div>
          </div>
          <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Costo</label>
            <div class="col-sm-5">
              <input type="text" value="" class="form-control" id="costo" required maxlength="6">
            </div>
            <div class="col-sm-1"><img src="../../../../assets/img/MODIF.ico"></div>
          </div>
          <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Fecha de Inicio</label>
            <div class="col-sm-5">
              <input type="text" value="" class="form-control" id="fechaInicio" required maxlength="12">
            </div>
            <div class="col-sm-1"><img src="../../../../assets/img/MODIF.ico"></div>
          </div>
          <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Fecha de vto</label>
            <div class="col-sm-5">
              <input type="text" value="" class="form-control" id="fechaVto" required maxlength="12">
            </div>
            <div class="col-sm-1"><img src="../../../../assets/img/MODIF.ico"></div>
          </div>
          <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Moneda</label>
            <div class="col-sm-5">
              <input type="text" value="" class="form-control" id="moneda">
            </div>
            <div class="col-sm-1"><img src="../../../../assets/img/MODIF.ico"></div>
          </div>
          <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Monto de Linea</label>
            <div class="col-sm-5">
              <input type="text" value="" class="form-control" id="montoLinea" required maxlength="15">
            </div>
            <div class="col-sm-1"><img src="../../../../assets/img/MODIF.ico"></div>
          </div>
          <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Dispuestos (miles)</label>
            <div class="col-sm-5">
              <input type="text" value="" class="form-control" id="dispuesto" required maxlength="20 ">
            </div>
            <div class="col-sm-1"><img src="../../../../assets/img/MODIF.ico"></div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
